/* TRANSITION */
.cabinet { background: #fff; border: 1px solid #e3e3e3; border-radius: 5px; margin-bottom: 25px; padding: 25px 15px; color: #3c3c3c; }
.cabinet h1 { font-size: 24px; font-weight: normal; color: #000; margin-bottom: 23px; margin-left: 15px; }
.cabinet .stock .caro { width: 643px; margin: 0 26px; }
.cabinet .stock .stock__items { width: 643px; }
.cabinet .stock .stock__item { margin: 0 7px 28px; padding-top: 5px; }
.cabinet .caro-prev { left: 0; }
.cabinet .caro-next { right: 0; }
.cabinet .disabled { opacity: 0.4; }

.stock__remove { background: url('../img/icons-s8ff99cf9a2.png') -50px -62px no-repeat; width: 15px; height: 15px; position: absolute; top: 66px; right: 10px; z-index: 20; cursor: pointer; }

.cabinet__block { border-bottom: 1px solid #e3e3e3; padding: 0 15px 20px; margin-bottom: 25px; }
.cabinet__block:last-child { border: none; }
.cabinet__block .cabinet__title { display: inline-block; width: 100%; margin-bottom: 12px; }
.cabinet__block h2 { font-size: 16px; font-weight: bold; float: left; }
.cabinet__block .cabinet__devider { float: left; border-left: 1px solid #d8d8d8; width: 0; height: 13px; margin: 4px 13px 0; }
.cabinet__block .cabinet__edit { float: left; color: #158edc; border-bottom: 1px dotted; margin: 3px 0 0; cursor: pointer; }
.cabinet__block .cabinet__edit:hover { border-color: transparent; }
.cabinet__block .main-address { font-weight: bold; }
.cabinet__block table { border-spacing: 0; border-collapse: collapse; margin: 8px -14px 0; width: 694px; }
.cabinet__block table .state_cancel { font-weight: bold; color: #8c8c8c; }
.cabinet__block table .state_sent { font-weight: bold; color: #007b09; }
.cabinet__block table .state_delivered { font-weight: bold; color: #000; }
.cabinet__block table .state_progress { font-weight: bold; color: #011c93; }
.cabinet__block table .state_new { font-weight: bold; color: #e62c01; }
.cabinet__block td { padding: 12px 10px; border: 1px solid #e3e3e3; vertical-align: top; white-space: nowrap; }
.cabinet__block td .cancel { border-bottom: 1px dotted; text-decoration: none; }
.cabinet__block td .cancel:hover { border-color: transparent; }
.cabinet__block td a { white-space: normal; }
.cabinet__block th { background: #ededee; font-weight: bold; text-align: left; padding: 10px; border: 1px solid #e3e3e3; }

.cabinet__list { display: inline-block; width: 100%; line-height: 1.3; }
.cabinet__list dt { float: left; width: 140px; font-size: 12px; font-weight: normal; margin-bottom: 17px; }
.cabinet__list dd { margin-bottom: 17px; margin-left: 140px; }

.cabinet__block_contact h2, .cabinet__block_contact dt { color: #158edc; }
.cabinet__block_contact dd { font-weight: bold; }
.cabinet__block_contact dt, .cabinet__block_contact dd { margin-bottom: 8px; }

.cabinet-nav { list-style: none; margin-bottom: 34px; }
.cabinet-nav li { height: 23px; line-height: 23px; margin-bottom: 1px; }
.cabinet-nav a { color: #0078c6; text-decoration: underline; display: inline-block; padding: 0 7px; }
.cabinet-nav a:hover { text-decoration: none; }
.cabinet-nav .active a { background: #dbdbdb; border-radius: 3px; color: #000; text-decoration: none; }

.cabinet__form { padding: 3px 15px; }
.cabinet__form dt { color: #158edc; margin: 0; }
.cabinet__form dd { color: #000; margin-bottom: 29px; }
.cabinet__form dd .same-inf { position: relative; margin-bottom: 13px; }
.cabinet__form dd .same-inf span { display: inline-block; vertical-align: top; }
.cabinet__form .input { width: 207px; padding: 2px 8px; border: 1px solid #c9c9c9; border-radius: 2px; font-size: 12px; color: #5e5e5e; line-height: 16px; height: 16px; font-style: normal; margin: -3px 0 15px -5px; display: block; }
.cabinet__form .select { height: 22px; border: 1px solid #c9c9c9; border-radius: 2px; font-size: 12px; color: #5e5e5e; width: 215px; padding-left: 8px; margin: 0 0 0 -5px; }
.cabinet__form .another { color: #158edc; border-bottom: 1px dotted; cursor: pointer; display: inline-block; position: relative; top: -9px; }
.cabinet__form .another:hover { border-color: transparent; }
.cabinet__form dt.row-address { color: #000; }
.cabinet__form dd.row-address label { display: block; color: #5e5e5e; margin: 9px 0; }
.cabinet__form dd.row-address .input { margin-bottom: 0; }
.cabinet__form textarea.input { width: 421px; padding: 8px; height: 83px; clear: both; }
.cabinet__form .col { float: left; width: 99px; margin-right: 8px; }
.cabinet__form .col .input { width: 81px; }
.cabinet__form .col_big { width: 225px; }
.cabinet__form .col_big .input { width: 207px; }
.cabinet__form .row-address-inf .col label { margin-bottom: 9px; }
.cabinet__form .delete { background: url('../img/icons-s8ff99cf9a2.png') -82px -43px no-repeat; width: 9px; height: 9px; position: relative; top: 3px; margin-left: 10px; display: inline-block; vertical-align: top; cursor: pointer; }
.cabinet__form .delete:hover { opacity: 0.7; }
.cabinet__form .row-button { margin: 0 0 28px 135px; }
.cabinet__form .row-button .btn { padding: 0 22px; height: 29px; line-height: 29px; }
.cabinet__form .row-button .cancel { color: #158edc; font-size: 14px; border-bottom: 1px dotted; cursor: pointer; text-decoration: none; margin-left: 32px; }
.cabinet__form .row-button .cancel:hover { border-color: transparent; }
.cabinet__form .row-button .change-pass { color: #158edc; border-bottom: 1px dotted; cursor: pointer; text-decoration: none; }
.cabinet__form .row-button .change-pass:hover { border-color: transparent; }

/* comprare */
.comprare { background: #fff; border: 1px solid #e3e3e3; border-radius: 5px; color: #3c3c3c; padding: 12px 12px; }
.comprare h1 { font-size: 24px; color: #000; font-weight: normal; margin: 0 0 10px 10px; }
.comprare .comprare__nav { width: 100%; display: inline-block; margin: 0 0 10px 10px; }
.comprare .comprare__nav dt { float: left; font-weight: bold; color: #000; margin: 2px 13px 0 0; }
.comprare .comprare__nav dd { float: left; }
.comprare .comprare__nav ul { list-style: none; }
.comprare .comprare__nav li { float: left; text-decoration: underline; color: #158edc; cursor: pointer; line-height: 18px; margin: 2px 12px; }
.comprare .comprare__nav li:hover { text-decoration: none; }
.comprare .comprare__nav .active { color: #010101; border-radius: 3px; background: #ececec; text-decoration: none; margin: 0; padding: 2px 12px; }
.comprare .comprare__nav .active a { text-decoration: none; color: #010101; }
.comprare table { border-collapse: collapse; border-spacing: 0; border-top: 1px solid #e3e3e3; }
.comprare th { width: 84px; padding: 11px 0 11px 15px; vertical-align: top; }
.comprare .th-btn { position: relative; height: 100px; }
.comprare .th-btn .btn { white-space: nowrap; font-size: 11px; position: absolute; height: 21px; line-height: 21px; left: -14px; padding: 0; top: 2px; }
.comprare td { width: 143px; padding: 11px 16px; vertical-align: top; }
.comprare .tl-item { width: 120px; padding: 0 0 3px; height: auto; margin-left: 11px; }
.comprare .tl-item__del { position: absolute; top: 0; right: 0; cursor: pointer; z-index: 20; background: url('../img/icons-s8ff99cf9a2.png') -50px -62px no-repeat; width: 15px; height: 15px; }
.comprare .tl-item__del:hover { background: url('../img/icons-s8ff99cf9a2.png') -74px -80px no-repeat; width: 15px; height: 15px; }
.comprare .tl-item__media { width: 114px; height: 125px; line-height: 125px; margin-bottom: 3px; }
.comprare .tl-item__media img { max-height: 100px; max-width: 114px; }
.comprare .item__rating { padding-bottom: 10px; }
.comprare .tl-item__title { font-size: 12px; margin-bottom: 10px; }
.comprare .item__price { width: 117px; margin-bottom: 5px; }
.comprare .price-block { width: 117px; float: none; overflow: hidden; margin: 0 auto; }
.comprare .price-block strong { width: 73px; font-size: 12px; }
.comprare .price-block span { width: 44px; font-size: 10px; }
.comprare .available { color: #0078c6; font-size: 12px; }
.comprare .btn { font-size: 14px; width: 115px; margin-top: 4px; margin-bottom: 7px; }
.comprare .rating-count { font-size: 12px; margin: 0; }

.comprare__text { border-top: 1px solid #e3e3e3; text-align: left; color: #000; line-height: 17px; }
.comprare__text td { font-size: 10px; color: #3c3c3c; }
.comprare__text td:nth-child(even) { background: #fafafa; }
.comprare__text tr:nth-child(even) td, .comprare__text tr:nth-child(even) th, .comprare__text th:nth-child(even) td, .comprare__text th:nth-child(even) th { background: #ededed; }
.comprare__text tr:nth-child(even) td:nth-child(even), .comprare__text tr:nth-child(even) th:nth-child(even), .comprare__text th:nth-child(even) td:nth-child(even), .comprare__text th:nth-child(even) th:nth-child(even) { background: #e8e8e8; }
