@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* HOW TO USE SPRITES*/
/*.whatever{@include sized-sprite($icons, badge_hit);}*/
/* TRANSITION */
/* line 2, ../sass/cabinet.scss */
.cabinet {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 25px 15px;
  color: #3c3c3c;
}
/* line 9, ../sass/cabinet.scss */
.cabinet h1 {
  font-size: 24px;
  font-weight: normal;
  color: #000;
  margin-bottom: 23px;
  margin-left: 15px;
}

/* line 17, ../sass/cabinet.scss */
.cabinet__block {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 15px 20px;
  margin-bottom: 25px;
}
/* line 21, ../sass/cabinet.scss */
.cabinet__block:last-child {
  border: none;
}
/* line 22, ../sass/cabinet.scss */
.cabinet__block .cabinet__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}
/* line 27, ../sass/cabinet.scss */
.cabinet__block h2 {
  font-size: 16px;
  font-weight: bold;
  float: left;
}
/* line 32, ../sass/cabinet.scss */
.cabinet__block .cabinet__devider {
  float: left;
  border-left: 1px solid #d8d8d8;
  width: 0;
  height: 13px;
  margin: 4px 13px 0;
}
/* line 39, ../sass/cabinet.scss */
.cabinet__block .cabinet__edit {
  float: left;
  color: #158edc;
  border-bottom: 1px dotted;
  margin: 3px 0 0;
  cursor: pointer;
}
/* line 45, ../sass/cabinet.scss */
.cabinet__block .cabinet__edit:hover {
  border-color: transparent;
}
/* line 47, ../sass/cabinet.scss */
.cabinet__block dl {
  display: inline-block;
  width: 100%;
  line-height: 1.3;
}
/* line 52, ../sass/cabinet.scss */
.cabinet__block dt {
  float: left;
  width: 140px;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 17px;
}
/* line 59, ../sass/cabinet.scss */
.cabinet__block dd {
  margin-bottom: 17px;
  margin-left: 140px;
}
/* line 63, ../sass/cabinet.scss */
.cabinet__block .main-address {
  font-weight: bold;
}
/* line 64, ../sass/cabinet.scss */
.cabinet__block table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 8px -14px 0;
  width: 694px;
}
/* line 69, ../sass/cabinet.scss */
.cabinet__block table .state_cancel {
  font-weight: bold;
  color: #8c8c8c;
}
/* line 73, ../sass/cabinet.scss */
.cabinet__block table .state_sent {
  font-weight: bold;
  color: #007b09;
}
/* line 77, ../sass/cabinet.scss */
.cabinet__block table .state_delivered {
  font-weight: bold;
  color: #000;
}
/* line 81, ../sass/cabinet.scss */
.cabinet__block table .state_progress {
  font-weight: bold;
  color: #011c93;
}
/* line 85, ../sass/cabinet.scss */
.cabinet__block table .state_new {
  font-weight: bold;
  color: #e62c01;
}
/* line 90, ../sass/cabinet.scss */
.cabinet__block td {
  padding: 12px 10px;
  border: 1px solid #e3e3e3;
  vertical-align: top;
  white-space: nowrap;
}
/* line 95, ../sass/cabinet.scss */
.cabinet__block td .cancel {
  border-bottom: 1px dotted;
  text-decoration: none;
}
/* line 98, ../sass/cabinet.scss */
.cabinet__block td .cancel:hover {
  border-color: transparent;
}
/* line 100, ../sass/cabinet.scss */
.cabinet__block td a {
  white-space: normal;
}
/* line 102, ../sass/cabinet.scss */
.cabinet__block th {
  background: #ededee;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border: 1px solid #e3e3e3;
}

/* line 111, ../sass/cabinet.scss */
.cabinet__block_contact h2, .cabinet__block_contact dt {
  color: #158edc;
}
/* line 112, ../sass/cabinet.scss */
.cabinet__block_contact dd {
  font-weight: bold;
}
/* line 113, ../sass/cabinet.scss */
.cabinet__block_contact dt, .cabinet__block_contact dd {
  margin-bottom: 8px;
}

/* line 115, ../sass/cabinet.scss */
.cabinet-nav {
  list-style: none;
  margin-bottom: 34px;
}
/* line 118, ../sass/cabinet.scss */
.cabinet-nav li {
  height: 23px;
  line-height: 23px;
  margin-bottom: 1px;
}
/* line 123, ../sass/cabinet.scss */
.cabinet-nav a {
  color: #0078c6;
  text-decoration: underline;
  display: inline-block;
  padding: 0 7px;
}
/* line 128, ../sass/cabinet.scss */
.cabinet-nav a:hover {
  text-decoration: none;
}
/* line 130, ../sass/cabinet.scss */
.cabinet-nav .active a {
  background: #dbdbdb;
  border-radius: 3px;
  color: #000;
  text-decoration: none;
}
