/* TRANSITION */
.ico-video { background: url('../img/icons-s00dbb642f7.png') 0 -2347px no-repeat; width: 19px; height: 18px; display: inline-block; margin-right: 3px; vertical-align: middle; }

.in-store { color: #0078c6; }

.out-store { color: #f8890c; }

/* categories */
.categories { background: #fff; border: 1px solid #e3e3e3; border-radius: 5px; color: #3c3c3c; padding-top: 6px; margin-bottom: 25px; }
.categories h1 { font-size: 24px; font-weight: normal; color: #000; margin-left: 31px; }
.categories h1 span { color: #999; font-size: 60%; }
.categories .categories__top { overflow: hidden; padding: 8px 16px 11px 33px; }
.categories .categories__top .sort { float: left; font-size: 90%; }
.categories .categories__top .sort dt { float: left; font-weight: bold; color: #000; margin: 4px 6px 0 0; }
.categories .categories__top .sort dd { float: left; }
.categories .categories__top .sort ul { list-style: none; }
.categories .categories__top .sort li { float: left; }
.categories .categories__top .sort a { display: block; margin: 4px 11px; }
.categories .categories__top .sort i { display: none; }
.categories .categories__top .sort .active a { background: #ececec; border-radius: 3px; color: #000; text-decoration: none; padding: 4px 22px 4px 11px; margin: 0; position: relative; }
.categories .categories__top .sort .active .arr { display: block; position: absolute; top: 10px; right: 8px; }
.categories .categories__top .sort .active .arr_t { background: url('../img/icons-s00dbb642f7.png') 0 -649px no-repeat; width: 7px; height: 4px; }
.categories .categories__top .sort .active .arr_b { background: url('../img/icons-s00dbb642f7.png') 0 -673px no-repeat; width: 7px; height: 4px; }
.categories .categories__top .view { float: right; padding-top: 1px; }
.categories .categories__top .view dt { float: left; color: #000; margin-top: 3px; }
.categories .categories__top .view dd { float: left; }
.categories .categories__top .view ul { list-style: none; }
.categories .categories__top .view li { float: left; margin-left: 13px; }
.categories .categories__top .view li.active .view__list, .categories .categories__top .view li:hover .view__list { background: url('../img/icons-s00dbb642f7.png') 0 -4328px no-repeat; width: 20px; height: 20px; }
.categories .categories__top .view li.active .view__table, .categories .categories__top .view li:hover .view__table { background: url('../img/icons-s00dbb642f7.png') 0 -4408px no-repeat; width: 20px; height: 20px; }
.categories .categories__top .view li.active .view__tile, .categories .categories__top .view li:hover .view__tile { background: url('../img/icons-s00dbb642f7.png') 0 -4488px no-repeat; width: 20px; height: 20px; }
.categories .categories__top .view a { overflow: hidden; text-indent: -9999px; display: block; }
.categories .categories__top .view .view__list { background: url('../img/icons-s00dbb642f7.png') 0 -4368px no-repeat; width: 20px; height: 20px; }
.categories .categories__top .view .view__table { background: url('../img/icons-s00dbb642f7.png') 0 -4448px no-repeat; width: 20px; height: 20px; }
.categories .categories__top .view .view__tile { background: url('../img/icons-s00dbb642f7.png') 0 -4528px no-repeat; width: 20px; height: 20px; }
.categories .item__code { color: #a0a0a0; font-size: 11px; }
.categories .item__price_two .price-block { line-height: 29px; border-radius: 0; }
.categories .item__price_two .price-block strong { border-radius: 3px 0 0 0; height: 29px; }
.categories .item__price_two .price-block span { border-radius: 0 3px 0 0; height: 29px; }
.categories .item__price_two .price-block_gray { margin-top: 1px; }
.categories .item__price_two .price-block_gray strong { border-radius: 0 0 0 3px; text-decoration: line-through; }
.categories .item__price_two .price-block_gray span { border-radius: 0 0 3px 0; text-decoration: line-through; }
.categories .price-block { display: block; float: none; overflow: hidden; }
.categories .price-block strong { font-size: 16px; }
.categories .price-block i { font-size: 12px; }
.categories .price-block span { font-size: 10px; }
.categories .price-block_gray strong { background: #fff; color: #a3a3a3; box-shadow: 0 1px 0 0 #d9d9d9 inset, 0 -1px 0 0 #d9d9d9 inset, 1px 0 0 0 #d9d9d9 inset; }
.categories .price-block_gray span { background: #d9d9d9; color: #fff; }
.categories .item__links { list-style: none; padding: 5px 0 0 0; font-size: 11px; }
.categories .item__links li { margin-bottom: 8px; }
.categories .item__links a { margin-left: 24px; }

.item__rating { padding-bottom: 4px; text-align: center; }
.item__rating .stars { vertical-align: middle; }
.item__rating .item__feedback { position: relative; color: #f00; text-decoration: none; vertical-align: middle; margin-left: 4px; font-weight: bold; display: inline-block; font-size: 110%; }

.mark { position: absolute; top: 7px; left: -2px; font-size: 12px; font-weight: bold; color: #fff; line-height: 20px; height: 20px; width: 96px; text-align: center; border-radius: 0 10px 10px 0; background: #f00; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4); }
.mark:hover .mark__popup { display: block; }

.mark_new { background: #f82b02; background-image: -webkit-linear-gradient(left, #f84700, #ffb2b2 4%, #fa575e 8%, #f50000 23%, #f82b02); background-image: -moz-linear-gradient(left, #f84700, #ffb2b2 4%, #fa575e 8%, #f50000 23%, #f82b02); background-image: -o-linear-gradient(left, #f84700, #ffb2b2 4%, #fa575e 8%, #f50000 23%, #f82b02); background-image: linear-gradient(to right, #f84700, #ffb2b2 4%, #fa575e 8%, #f50000 23%, #f82b02); }

.mark_best { background: #1250cf; background-image: -webkit-linear-gradient(left, #5687fa, #28b4f5 4%, #1a8be3 8%, #1360d4 23%, #1250cf); background-image: -moz-linear-gradient(left, #5687fa, #28b4f5 4%, #1a8be3 8%, #1360d4 23%, #1250cf); background-image: -o-linear-gradient(left, #5687fa, #28b4f5 4%, #1a8be3 8%, #1360d4 23%, #1250cf); background-image: linear-gradient(to right, #5687fa, #28b4f5 4%, #1a8be3 8%, #1360d4 23%, #1250cf); }

.mark_top { background: #ffbb16; background-image: -webkit-linear-gradient(left, #f8d11a, #fff8ac 4%, #ffdd64 8%, #ffc016 23%, #ffbb16); background-image: -moz-linear-gradient(left, #f8d11a, #fff8ac 4%, #ffdd64 8%, #ffc016 23%, #ffbb16); background-image: -o-linear-gradient(left, #f8d11a, #fff8ac 4%, #ffdd64 8%, #ffc016 23%, #ffbb16); background-image: linear-gradient(to right, #f8d11a, #fff8ac 4%, #ffdd64 8%, #ffc016 23%, #ffbb16); }

.mark_action { cursor: pointer; background: #930991; background-image: -webkit-linear-gradient(left, #d0359f, #ec39b8 4%, #cc2fa7 8%, #a92294 23%, #930991); background-image: -moz-linear-gradient(left, #d0359f, #ec39b8 4%, #cc2fa7 8%, #a92294 23%, #930991); background-image: -o-linear-gradient(left, #d0359f, #ec39b8 4%, #cc2fa7 8%, #a92294 23%, #930991); background-image: linear-gradient(to right, #d0359f, #ec39b8 4%, #cc2fa7 8%, #a92294 23%, #930991); }
.mark_action:hover { text-decoration: underline; }

.mark_discount { background: #48c4ee; background-image: -webkit-linear-gradient(left, #3ac7f6, #b1ebff 4%, #7bdcf7 8%, #3bc9ef 23%, #48c4ee); background-image: -moz-linear-gradient(left, #3ac7f6, #b1ebff 4%, #7bdcf7 8%, #3bc9ef 23%, #48c4ee); background-image: -o-linear-gradient(left, #3ac7f6, #b1ebff 4%, #7bdcf7 8%, #3bc9ef 23%, #48c4ee); background-image: linear-gradient(to right, #3ac7f6, #b1ebff 4%, #7bdcf7 8%, #3bc9ef 23%, #48c4ee); }

.mark_sale { background: #f87a08; background-image: -webkit-linear-gradient(left, #f8820b, #ffbb16 4%, #fc9e0f 8%, #f87d08 23%, #f87a08); background-image: -moz-linear-gradient(left, #f8820b, #ffbb16 4%, #fc9e0f 8%, #f87d08 23%, #f87a08); background-image: -o-linear-gradient(left, #f8820b, #ffbb16 4%, #fc9e0f 8%, #f87d08 23%, #f87a08); background-image: linear-gradient(to right, #f8820b, #ffbb16 4%, #fc9e0f 8%, #f87d08 23%, #f87a08); }

.mark__popup { position: absolute; border: 1px solid #b3b3bd; border-radius: 3px; background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); background-image: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%); box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6); color: #535353; font-size: 11px; left: -3px; bottom: 32px; padding: 5px 10px; min-width: 82px; display: none; cursor: default; }
.mark__popup:after { content: ""; position: absolute; left: 50%; margin-left: -10px; bottom: -17px; background: url('../img/icons-s00dbb642f7.png') 0 -138px no-repeat; width: 20px; height: 17px; }

.categories__tile { display: inline-block; padding: 0 18px; }
.categories__tile .categories__items { background: url(../img/items-border.png); display: inline-block; margin-bottom: 22px; position: relative; }

.tl-item { float: left; padding: 0 5px; margin-left: 40px; width: 192px; position: relative; height: 395px; }
.tl-item:first-child { margin-left: 0; }
.tl-item:hover .white-bottom { display: none; }
.tl-item .tl-item__holder { position: absolute; top: 0; left: 5px; border-radius: 5px; height: 395px; overflow: hidden; background: #fff; width: 192px; -webkit-transition-property: box-shadow; -moz-transition-property: box-shadow; -o-transition-property: box-shadow; transition-property: box-shadow; -webkit-transition-duration: 0; -moz-transition-duration: 0; -o-transition-duration: 0; transition-duration: 0; -webkit-transition-timing-function: linear; -moz-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
.tl-item .tl-item__holder:hover { box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6); z-index: 10; height: auto; -webkit-transition-duration: 300ms; -moz-transition-duration: 300ms; -o-transition-duration: 300ms; transition-duration: 300ms; }
.tl-item .tl-item__media { width: 172px; margin: 0 auto 11px; margin-bottom: 0; height: 172px; line-height: 172px; position: relative; text-align: center; }
.tl-item .tl-item__media img { vertical-align: middle; max-height: 172px; max-width: 172px; }
.tl-item .tl-item__title { text-align: center; margin-bottom: 8px; font-size: 14px; line-height: 18px; }
.tl-item .item__price { margin-bottom: 7px; margin: 0 auto 7px; width: 145px; }
.tl-item .btn { width: 143px; margin: 0 auto 9px; text-align: center; padding: 0; display: block; }
.tl-item .tl-item__brief { position: relative; width: 145px; margin: 0 auto; font-size: 11px; padding-bottom: 10px; }
.tl-item .not-available { margin: 0 0 0 26px; }
.tl-item .tl-item__sub-title { font-size: 12px; color: #a3a3a3; margin-bottom: 6px; font-weight: normal; }
.tl-item .tl-item__sub-list { list-style: none; margin-left: 8px; font-size: 12px; margin-bottom: 5px; line-height: 15px; }
.tl-item .view-all { font-size: 11px; color: #484954; margin-bottom: 8px; }

.categories__tile_easy { padding-top: 15px; }
.categories__tile_easy .tl-item { height: 338px; }
.categories__tile_easy .tl-item .tl-item__media { height: 160px; width: 160px; line-height: 160px; }
.categories__tile_easy .tl-item .tl-item__media img { max-height: 160px; max-width: 160px; }
.categories__tile_easy .tl-item__holder { width: 172px; padding: 0 10px 8px; height: 330px; }
.categories__tile_easy .tl-item__title { font-weight: bold; font-size: 16px; text-align: left; }

.tl-item_sub .tl-item__title a { color: #484954; }

.price-from { font-size: 11px; margin: 0 0 8px; color: #60616b; }
.price-from span { font-size: 18px; font-weight: normal; }

.categories__table { padding: 0 18px; }
.categories__table .categories__items { border-top: 1px solid #d8d8d8; }

.tb-item { position: relative; border-bottom: 1px solid #d8d8d8; vertical-align: middle; height: 55px; }
.tb-item .tb-item__media { text-align: center; width: 56px; display: inline-block; vertical-align: middle; }
.tb-item .tb-item__media img { max-height: 55px; max-width: 55px; }
.tb-item .tb-item__title { font-size: 12px; width: 272px; display: inline-block; vertical-align: middle; line-height: 18px; }
.tb-item .item__code { width: 119px; display: inline-block; vertical-align: middle; }
.tb-item .item__price { width: 139px; display: inline-block; vertical-align: middle; height: 55px; }
.tb-item .item__price_two .price-block { line-height: 19px; border-radius: 0; }
.tb-item .item__price_two .price-block strong { border-radius: 3px 0 0 3px; height: 19px; font-size: 10px; }
.tb-item .item__price_two .price-block span { border-radius: 0 3px 3px 0; height: 19px; font-size: 10px; }
.tb-item .item__price_two .price-block_gray { margin-top: -1px; text-align: left; }
.tb-item .item__price_two .price-block_gray strong, .tb-item .item__price_two .price-block_gray span { float: none; display: inline-block; text-decoration: line-through; color: #a0a0a0; font-size: 11px; height: auto; width: auto; box-shadow: none; background: none; }
.tb-item .item__price_two .price-block_gray span { font-size: 10px; background: none; margin-left: 6px; }
.tb-item .price-block { width: 130px; margin-top: 12px; }
.tb-item .price-block strong { width: 88px; }
.tb-item .price-block span { width: 42px; }
.tb-item .btn { width: 88px; vertical-align: middle; text-align: center; padding: 0; display: inline-block; font-size: 11px; height: 32px; }
.tb-item .tb-item__not-available { color: #a0a0a0; font-size: 11px; margin-left: 7px; }

.price-block_buy strong { width: 85px; }
.price-block_buy .btn { float: left; width: 56px; margin-left: 2px; height: 30px; line-height: 30px; margin-bottom: 0; }

.categories__list { padding: 0 18px; }

.li-item { position: relative; border-top: 1px solid #d8d8d8; padding: 5px 0 10px; }
.li-item .li-item__holder { width: 100%; display: inline-block; padding-bottom: 5px; }
.li-item .li-item__media-holder { float: left; }
.li-item .li-item__media-holder .price-block { width: 130px; }
.li-item .li-item__media-holder .price-block strong { width: 88px; }
.li-item .li-item__media-holder .price-block span { width: 42px; }
.li-item .li-item__media { width: 135px; height: 135px; line-height: 135px; position: relative; text-align: center; margin-bottom: 10px; }
.li-item .li-item__media img { vertical-align: middle; max-height: 135px; max-width: 135px; }
.li-item .li-item__title { font-size: 14px; margin-bottom: 8px; line-height: 18px; }
.li-item .li-item__inf { padding: 7px 0 0; margin-left: 140px; }
.li-item .li-item__inf-t { display: inline-block; width: 100%; min-height: 96px; }
.li-item .li-item__inf-l { float: left; }
.li-item .li-item__inf-r { float: right; }
.li-item .item__price { margin-bottom: 7px; margin: 0 auto 7px; width: 145px; }
.li-item .btn { width: 140px; height: 30px; line-height: 30px; text-align: center; padding: 0; display: block; font-size: 14px; }
.li-item .link-notify { margin: 9px 0; display: block; }
.li-item .item__links { padding: 10px 0 0 0; }
.li-item .li-item__brief { font-size: 11px; margin-bottom: 3px; }
.li-item .product__rating { display: inline-block; margin-right: 20px; }
.li-item .product__rating .stars { vertical-align: middle; }
.li-item .rating-count { margin-left: 4px; }

.categories_narrow h1 { margin-left: 18px; }
.categories_narrow .categories__top { padding-left: 18px; }

.other-colors { border: 1px solid #e7e7e7; border-radius: 7px; display: inline-block; padding: 8px 0 5px; margin-bottom: 5px; }
.other-colors .other-colors__title { font-weight: normal; display: block; margin: 0 0 9px 7px; }
.other-colors .other-colors__list { list-style: none; }
.other-colors .other-colors__list li { float: left; width: 102px; padding: 0 5px; border-left: 1px solid #d8d8d8; }
.other-colors .other-colors__list li:first-child { border: none; }
.other-colors .other-colors__img { height: 102px; line-height: 102px; }
.other-colors .other-colors__img img { max-width: 102px; max-height: 102px; vertical-align: middle; }
.other-colors .price-block { line-height: 15px; width: 91px; margin: 0 auto; }
.other-colors .price-block strong { font-size: 9px; height: 15px; width: 56px; }
.other-colors .price-block span { height: 15px; font-size: 9px; width: 35px; }

.not-available { display: block; color: #878787; font-size: 11px; text-transform: uppercase; }

.product-nav { margin-bottom: 17px; }
.product-nav h2 { border-bottom: 1px solid #d8d8d8; box-shadow: 0 1px 0 0 #fff; color: #010101; font-size: 18px; font-weight: normal; padding-bottom: 4px; }

.accordion_products li { padding: 3px 0 0; }
.accordion_products li ul { padding-left: 15px; }
.accordion_products li li { padding: 2px 0; }
.accordion_products li li a { margin-left: 15px; }
.accordion_products a { border-bottom: 1px solid #158edc; }
.accordion_products a:hover { border: none; padding-bottom: 1px; }
.accordion_products .open li a { color: #158edc; border: none; }
.accordion_products .open a { color: #158edc; border-bottom: 1px solid #158edc; padding: 0; }
.accordion_products .open a i { background: url('../img/icons-s00dbb642f7.png') 0 -80px no-repeat; width: 7px; height: 4px; }

.options-list { list-style: none; }
.options-list li { padding: 2px 0; overflow: hidden; }
.options-list li input { float: left; margin-right: 5px; cursor: pointer; }
.options-list li label { float: left; color: #158edc; cursor: pointer; }
.options-list li input:checked + label { font-weight: bold; }
.options-list li span { color: #a0a0a0; margin-left: 5px; }
.options-list .disabled label { color: #a0a0a0; }
.options-list.options-list_all { display: none; }

.options-list_twocolumns:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.options-list_twocolumns li { float: left; width: 49%; }

.article-block { color: #3c3c3c; background: #fff; border: 1px solid #e3e3e3; border-radius: 5px; padding: 20px 15px 10px 20px; margin-bottom: 20px; }
.article-block h2 { font-size: 20px; font-weight: normal; color: #000; margin-bottom: 5px; }
.article-block .article-block__item { margin-bottom: 20px; }
.article-block .article-block__item h3 { font-size: 14px; color: #0078c6; font-weight: normal; margin-bottom: 3px; }
.article-block .article-block__date { font-size: 10px; font-weight: bold; color: #000; }

.filter-block { -moz-transition: all 0.3s ease-in-out 1s ease-in-out; -webkit-transition: all 0.3s ease-in-out 1s ease-in-out; -o-transition: all 0.3s ease-in-out 1s ease-in-out; -ms-transition: all 0.3s ease-in-out 1s ease-in-out; transition: all 0.3s ease-in-out 1s ease-in-out; }
.filter-block:hover { background: rgba(0, 0, 0, 0.05); }
.filter-block .filter-block__top { position: relative; }
.filter-block .filter-block__top h2 { font-size: 12px; color: #61626f; border-bottom: 1px solid #d8d8d8; box-shadow: 0 1px 0 0 #fff; font-weight: normal; text-indent: 4px; cursor: pointer; line-height: 23px; height: 23px; }
.filter-block .filter-block__top .arr { position: absolute; background: url('../img/icons-s00dbb642f7.png') 0 -597px no-repeat; width: 7px; height: 7px; top: 9px; right: 4px; cursor: pointer; }
.filter-block .filter-block__top:hover { background: #ececec; }
.filter-block .filter-link { text-decoration: none; border-bottom: 1px dotted #0078c6; float: right; margin: 5px 15px -5px 0; }
.filter-block .filter-link:hover { border-color: transparent; }
.filter-block .filter-block__content { display: none; padding: 10px 1px 20px; overflow: hidden; position: relative; }
.filter-block .filter-block__col2 { float: left; width: 119px; }
.filter-block.filter-block_open { border-bottom: 1px solid #ccc; box-shadow: 0 1px 0 #fff; margin-bottom: 10px; }
.filter-block.filter-block_open .arr { background: url('../img/icons-s00dbb642f7.png') 0 -80px no-repeat; width: 7px; height: 4px; }

.filter__nav { list-style: none; margin-left: 14px; }
.filter__nav li { margin-bottom: 5px; }
.filter__nav a { color: #0078C6; text-decoration: underline; }
.filter__nav a:hover { text-decoration: none; }

.clear-filter { text-decoration: none; border-bottom: 1px dotted #0078c6; font-size: 11px; }
.clear-filter:hover { border: none; padding-bottom: 1px; }

.scale { padding: 5px 6px 30px; }

.scale-diapason { overflow: hidden; margin-bottom: 8px; }
.scale-diapason label { font-size: 12px; color: #000; float: left; margin: 3px 5px 0 0; }
.scale-diapason input { float: left; border: 1px solid #c9c9c9; border-radius: 2px; font-size: 12px; color: #000; height: 20px; width: 55px; padding: 0 6px; margin-right: 5px; }
.scale-diapason span { float: left; margin: 3px 5px 0 0; }
.scale-diapason .btn { float: left; padding: 0 5px; height: 20px; line-height: 20px; }

.selected-filters { margin-bottom: 15px; }
.selected-filters h2 { border-bottom: 1px solid #D8D8D8; box-shadow: 0 1px 0 0 #FFFFFF; color: #010101; font-size: 16px; font-weight: normal; padding-bottom: 4px; margin-bottom: 10px; }
.selected-filters span { color: #61626f; margin-left: 4px; }
.selected-filters .selected-filters__list { list-style: none; padding: 10px 0 7px; }
.selected-filters .selected-filters__list li { color: #000; font-weight: bold; margin-bottom: 3px; }
.selected-filters .cancel { background: url('../img/icons-s00dbb642f7.png') 0 -1428px no-repeat; width: 9px; height: 10px; display: inline-block; margin-right: 12px; }
.selected-filters .clear-filter { margin-left: 4px; }

.search-header { padding: 6px 16px 11px; }
.search-header h1 { color: #585967; font-weight: bold; font-size: 18px; margin: 0 0 15px; }
.search-header strong { font-weight: normal; font-size: 12px; color: #555; display: block; margin: 0 0 15px; }
.search-header dl { border-top: 1px solid #d8d8d8; display: inline-block; width: 100%; padding: 9px 0 0; line-height: 2; }
.search-header dt { color: #61626f; font-weight: bold; font-size: 12px; float: left; margin-right: 5px; }
.search-header dd ul { list-style: none; }
.search-header dd li { display: inline-block; color: #6e6e6e; }
.search-header dd a { color: #0078c6; text-decoration: none; }
.search-header dd a:hover { text-decoration: underline; }

.search-categiries h1 { border-bottom: 1px solid #d8d8d8; box-shadow: 0 1px 0 0 #fff; color: #010101; font-size: 16px; font-weight: normal; margin-bottom: 7x; padding-bottom: 4px; }
.search-categiries .filter-block .filter-block__top h2 { border: none; box-shadow: none; text-decoration: underline; }
.search-categiries .filter-block .filter-block__content { padding: 0 0 0 17px; }
.search-categiries .filter-block .filter-block__content li.active { font-weight: bold; }
.search-categiries .filter-block .filter-block__content a:hover { font-weight: bold; }
.search-categiries .filter-block.filter-block_open { border: none; box-shadow: none; margin-bottom: 12px; }
.search-categiries .options-list a { text-decoration: none; }
