/* TRANSITION */
.header_min { background: #f8f8f8; position: relative; margin-bottom: 30px; }
.header_min:after { height: 20px; content: ''; position: absolute; left: 0; right: 0; top: 100%; background-image: -webkit-linear-gradient(#e2e2e3, #f8f8f8); background-image: -moz-linear-gradient(#e2e2e3, #f8f8f8); background-image: -o-linear-gradient(#e2e2e3, #f8f8f8); background-image: linear-gradient(#e2e2e3, #f8f8f8); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02) inset; }
.header_min .header__holder { height: 78px; width: 980px; padding: 0; }
.header_min .header__logo { float: none; margin: 8px auto 0; display: block; position: relative; left: -20px; }
.header_min .header__info { position: absolute; top: 16px; right: 20px; text-align: right; }
.header_min .header__phone { font-size: 18px; float: none; margin: 0; }
.header_min .header__phone span { font-weight: normal; }
.header_min .header__phone:before { content: ''; vertical-align: middle; display: inline-block; background: url('../img/icons-s7dac3b29bd.png') 0 -3330px no-repeat; width: 21px; height: 21px; margin-right: 2px; }
.header_min .header__callback { color: #017ecb; border-color: #017ecb; float: none; margin: 0; font-size: 12px; }
.header_min .header__back { font-size: 14px; line-height: 50px; position: absolute; left: 20px; top: 10px; color: #017ecb; }
.header_min .header__back:before { display: inline-block; content: ''; margin-right: 5px; background: url('../img/icons-s7dac3b29bd.png') 0 -203px no-repeat; width: 12px; height: 7px; }

.resume { background: #fff; border-radius: 7px; border: 1px solid #e3e3e3; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); margin-bottom: 8px; }
.resume:after { content: ' '; display: table; clear: both; }

.resume__title { font-size: 21px; line-height: 1.333; font: #000; float: left; margin: 18px 0 0 19px; }

.resume__items { float: right; }
.resume__items:after { content: ' '; display: table; clear: both; }
.resume__items li { border-left: 1px solid #efeff1; width: 194px; text-align: center; font-size: 18px; color: #000; list-style: none; float: left; padding: 11px 0 10px; }

.resume__subtitle { font-size: 14px; font-weight: normal; }

.resume__price .resume__subtitle { color: #4b8a00; }

.resume__delivery .resume__subtitle { color: #d08900; }

.resume__amount .resume__subtitle { color: #008599; }

.resume__price-icon, .resume__delivery-icon, .resume__amount-icon { display: inline-block; }

.resume__price-icon { background: url('../img/icons-s7dac3b29bd.png') 0 -3722px no-repeat; width: 32px; height: 32px; }

.resume__delivery-icon { background: url('../img/icons-s7dac3b29bd.png') 0 -1736px no-repeat; width: 32px; height: 32px; }

.resume__amount-icon { background: url('../img/icons-s7dac3b29bd.png') 0 -754px no-repeat; width: 32px; height: 32px; }

.out_checkout { width: 980px; }

.link-save, .link-cancel, .link-delete { font-size: 12px; border-bottom: 1px dotted transparent; cursor: pointer; text-decoration: none; }
.link-save:hover, .link-cancel:hover, .link-delete:hover { border-color: transparent; }
.link-save:before, .link-cancel:before, .link-delete:before { display: inline-block; content: ''; vertical-align: middle; position: relative; }

.link-save { color: #4b8a00; border-color: #4b8a00; font-weight: bold; }
.link-save:before { background: url('../img/icons-s7dac3b29bd.png') 0 -2184px no-repeat; width: 9px; height: 7px; margin-right: 5px; }

.link-cancel { color: #f16250; border-color: #f16250; font-weight: bold; }
.link-cancel:before { background: url('../img/icons-s7dac3b29bd.png') 0 -1900px no-repeat; width: 6px; height: 6px; top: -1px; margin-right: 4px; }

.link-delete { color: #ef503b; border-color: #ef503b; }
.link-delete:before { background: url('../img/icons-s7dac3b29bd.png') 0 -1586px no-repeat; width: 12px; height: 12px; margin-right: 4px; top: -1px; }

.my-order { border: 1px solid #e3e3e3; border-radius: 5px; background: #fff; padding: 16px 19px 28px; margin-bottom: 10px; }

.my-order__header { margin-bottom: 10px; }
.my-order__header:after { content: ' '; display: table; clear: both; }

.my-order__title { font-size: 21px; font-weight: bold; color: #000; float: left; }

.my-order__btn-holder { float: right; margin: 8px 3px 0 0; }
.my-order__btn-holder > * { margin-left: 14px; }

.my-holder__content { border: 1px dashed #c4c4c4; border-radius: 5px; padding-bottom: 12px; }

.my-order__table { border-collapse: collapse; border: none; width: 100%; font-size: 14px; line-height: 1.5; }
.my-order__table td { padding-top: 20px; padding-bottom: 12px; vertical-align: top; }

.my-order__col-media { text-align: center; width: 130px; vertical-align: middle; }

.my-order__col-name { width: 324px; }

.my-order__name { font-size: 14px; font-weight: normal; }
.my-order__name a { text-decoration: none; color: #000; }
.my-order__name a:hover { text-decoration: underline; }

.my-order__price-count { font-size: 12px; color: #636363; display: block; }

.my-order__services { list-style: none; margin: 14px 0 8px; }
.my-order__services li { margin-bottom: 3px; }
.my-order__services label { color: #017ecb; text-decoration: underline; font-size: 12px; }
.my-order__services label:hover { text-decoration: none; }
.my-order__services input { vertical-align: middle; margin-right: 4px; }

.my-order__col-price, .my-order__col-sum { width: 88px; }
.my-order__col-price span, .my-order__col-sum span { display: block; }

.my-order__col-count { text-align: center; padding-right: 47px; }
.my-order__col-count label { display: block; }

.my-order__count { height: 18px; width: 28px; text-align: center; border: none; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset; font-size: 12px; border-radius: 2px; }

.my-order__footer { padding-top: 7px; }
.my-order__footer:after { content: ' '; display: table; clear: both; }

.order-form { background: #fff; border-radius: 5px; border: 1px solid #e3e3e3; margin-bottom: 30px; }

.order-form__block { border-top: 1px solid #e3e3e3; padding: 16px 62px 25px 20px; }
.order-form__block:after { content: ''; display: table; clear: both; }
.order-form__block:first-child { border-top: 0; }

.order-form__title { float: left; font-size: 18px; font-weight: bold; color: #000; max-width: 340px; }
.order-form__title span { font-size: 14px; color: #717171; display: block; font-weight: normal; margin-top: 3px; }

.order-form__content { float: right; width: 502px; padding-top: 6px; }
.order-form__content .row { margin-bottom: 27px; }
.order-form__content .row:last-child { margin-bottom: 0; }
.order-form__content .row label { display: block; font-size: 14px; margin-bottom: 6px; }
.order-form__content .row_code { margin-top: 25px; }
.order-form__content .row_check { margin: 0 0 10px; position: relative; }
.order-form__content .row_check label { position: relative; }
.order-form__content .row_check label:before { content: ''; background: url('../img/icons-s7dac3b29bd.png') 0 -1352px no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle; margin-right: 6px; }
.order-form__content .row_check input:checked + label:before { background: url('../img/icons-s7dac3b29bd.png') 0 -1390px no-repeat; width: 18px; height: 18px; }
.order-form__content .row_check input { opacity: 0; position: absolute; left: 0; top: 0; }
.order-form__content .row_radio { margin: 0 0 14px; position: relative; }
.order-form__content .row_radio label { position: relative; font-weight: bold; display: inline-block; }
.order-form__content .row_radio label:before { content: ''; background: url('../img/icons-s7dac3b29bd.png') 0 -3809px no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle; margin-right: 6px; }
.order-form__content .row_radio input:checked + label:before { background: url('../img/icons-s7dac3b29bd.png') 0 -3847px no-repeat; width: 18px; height: 18px; }
.order-form__content .row_radio input { opacity: 0; position: absolute; left: 0; top: 0; }
.order-form__content .row_file { margin-top: 24px; }
.order-form__content .row_file.row_error:before { top: 11px; }
.order-form__content .row_error { position: relative; }
.order-form__content .row_error:before { content: ''; position: absolute; left: -29px; top: 34px; background: url('../img/icons-s7dac3b29bd.png') 0 -1822px no-repeat; width: 20px; height: 19px; }
.order-form__content .row_error .order-form__error-mess { display: block; }
.order-form__content .row_error .input { border-color: #f26b5a; }
.order-form__content .row_error .order-phone__prefix { opacity: 0; }
.order-form__content .input, .order-form__content .textarea { border: 0; font-size: 14px; color: #000; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17) inset; height: 34px; padding: 0 10px; width: 480px; border-radius: 2px; border: 1px solid #fff; font-style: normal; border-color: #aaa #d4d4d4 #f1f1f1; }
.order-form__content .input_operator { text-decoration: underline; width: 48px; text-align: center; padding: 0; margin-right: 7px; }
.order-form__content .input_phone-num { text-decoration: underline; width: 84px; text-align: center; padding: 0; }
.order-form__content .order-phone__prefix { float: left; font-size: 14px; line-height: 36px; margin-left: -33px; position: relative; }
.order-form__content .textarea { height: 155px; resize: none; }
.order-form__content .input-col { display: inline-block; width: 123px; }
.order-form__content .input-col .input { width: 95px; }
.order-form__content .input-col_big { display: inline-block; width: 156px; }
.order-form__content .input-col_big .input { width: 126px; }
.order-form__content .sub-label { font-size: 12px; display: block; color: #717171; }

.order-form__error-mess { display: block; color: #ef503b; font-size: 12px; display: none; margin: 6px 0 -11px; }

.order-form__big-btn { height: 78px; width: 545px; border: none; text-align: center; color: #fff; font-weight: bold; font-size: 36px; background: #69b100; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); border-radius: 3px; cursor: pointer; background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0)); background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0)); background-repeat: no-repeat; -moz-transition: background 0.1s ease-in; -webkit-transition: background 0.1s ease-in; -o-transition: background 0.1s ease-in; -ms-transition: background 0.1s ease-in; transition: background 0.1s ease-in; }
.order-form__big-btn:hover { background-position: 0 -20px; }

.order-form__note { display: block; margin-top: 28px; }

.file-load { margin-top: 22px; }

.file-btn { color: #fff; color: rgba(255, 255, 255, 0.7); font-size: 16px; font-weight: bold; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35); background-image: -webkit-linear-gradient(#b4b5bc, #8a8b95); background-image: -moz-linear-gradient(#b4b5bc, #8a8b95); background-image: -o-linear-gradient(#b4b5bc, #8a8b95); background-image: linear-gradient(#b4b5bc, #8a8b95); border-radius: 5px; box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset; border: 1px solid #b4b5bc; border-color: #b4b5bc #9b9ca4 #7f7f85; height: 33px; line-height: 33px; text-align: center; width: 303px; display: inline-block; position: relative; cursor: pointer; }
.file-btn .input_file { position: absolute; top: 0; left: 0; height: 100%; width: 100%; opacity: 0; cursor: pointer; }

@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); -webkit-transform-origin: 50% 50%; }
  to { -webkit-transform: rotate(360deg); -webkit-transform-origin: 50% 50%; } }

@-moz-keyframes rotate { from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); } }

@-o-keyframes rotate { from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(360deg); } }

@keyframes rotate { from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } }

.file-load__loader { display: inline-block; vertical-align: middle; background: url('../img/icons-s7dac3b29bd.png') 0 -2839px no-repeat; width: 34px; height: 34px; -moz-animatiom: rotate 2s linear 0s infinite normal none; -webkit-animation: rotate 2s linear 0s infinite normal none; -o-animation: rotate 2s linear 0s infinite normal none; animation: rotate 2s linear 0s infinite normal none; }

.file-load__name { font-size: 14px; margin: 0 5px; }

.file-load__cancel, .order-form__more { font-size: 14px; color: #017ecb; border-bottom: 1px dotted #017ecb; cursor: pointer; text-decoration: none; }
.file-load__cancel:hover, .order-form__more:hover { border-color: transparent; }

.order-form__city { display: block; font-size: 14px; margin-bottom: 5px; }

.tip { position: relative; display: inline-block; vertical-align: middle; margin-left: 5px; }
.tip.is-open .tip__ico { background-position: 0 -4396px; }
.tip.is-open .tip__text { display: block; }

.tip__ico { cursor: pointer; background: url('../img/icons-s7dac3b29bd.png') 0 -4361px no-repeat; width: 15px; height: 15px; }
.tip__ico:hover { background-position: 0 -4396px; }

.tip__text { display: none; position: absolute; top: -30px; left: 23px; border: 1px solid #e3e3e3; border-radius: 5px; background: #fff; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); font-size: 12px; width: 177px; padding: 9px; line-height: 1.5; z-index: 50; }
.tip__text:before { background: url('../img/icons-s7dac3b29bd.png') 0 -4328px no-repeat; width: 10px; height: 13px; position: absolute; top: 28px; left: -10px; content: ''; }
.tip__text strong { display: block; margin-bottom: 5px; }
