@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* HOW TO USE SPRITES*/
/*.whatever{@include sized-sprite($icons, badge_hit);}*/
/* TRANSITION */
/* line 5, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 6, ../sass/common.scss */
button, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 7, ../sass/common.scss */
header, footer, nav, aside {
  display: block;
}

/* line 8, ../sass/common.scss */
body {
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  background: #f8f8f8;
  overflow: scroll;
  color: #000;
}

/* resets */
/* line 22, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 23, ../sass/common.scss */
a {
  color: #0078c6;
}
/* line 25, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 29, ../sass/common.scss */
.fll {
  float: left;
}

/* line 30, ../sass/common.scss */
.flr {
  float: right;
}

/* line 31, ../sass/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/* line 37, ../sass/common.scss */
.out {
  width: 1000px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

/* line 44, ../sass/common.scss */
.arr-right {
  background: url('../img/icons-s179da87fc0.png') 0 -133px no-repeat;
  width: 7px;
  height: 10px;
  display: block;
}

/* line 48, ../sass/common.scss */
.arr-down {
  background: url('../img/icons-s179da87fc0.png') 0 -1040px no-repeat;
  width: 11px;
  height: 7px;
}

/* line 51, ../sass/common.scss */
.h3 {
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 0 0 #fff;
  color: #000;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 4px;
}

/* forms */
/* line 62, ../sass/common.scss */
.input {
  border: 1px solid #c9c9c9;
  background: #fff;
  padding: 0 9px;
  height: 27px;
  border-radius: 2px;
  color: #3c3c3c;
  font-size: 12px;
  font-style: italic;
}

/* line 72, ../sass/common.scss */
.btn {
  background: #1fbaea;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmYmFlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2OTZkZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fbaea), color-stop(100%, #2696de));
  background-image: -webkit-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: -moz-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: -o-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-repeat: repeat-x;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
  border: 1px solid #2696de;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #1798df 0 -1px 0;
  border-radius: 2px;
  cursor: pointer;
  font-family: Arial,sans-serif;
}
/* line 91, ../sass/common.scss */
.btn:hover {
  background-color: #2696de;
  background-position: 0 -30px;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 99, ../sass/common.scss */
.btn_gray {
  background: #bcbec0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjYmVjMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IyYjRiNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bcbec0), color-stop(100%, #b2b4b6));
  background-image: -webkit-linear-gradient(top, #bcbec0 0%, #b2b4b6 100%);
  background-image: -moz-linear-gradient(top, #bcbec0 0%, #b2b4b6 100%);
  background-image: -o-linear-gradient(top, #bcbec0 0%, #b2b4b6 100%);
  background-image: linear-gradient(top, #bcbec0 0%, #b2b4b6 100%);
  background-repeat: repeat-x;
  border-color: #b2b4b7;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
}
/* line 106, ../sass/common.scss */
.btn_gray:hover {
  background-color: #b2b4b6;
}

/* line 108, ../sass/common.scss */
.btn_light-gray {
  background: #eeeeee;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #d9d9d9 100%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #d9d9d9 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, #d9d9d9 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #d9d9d9 100%);
  background-repeat: repeat-x;
  border-color: #cacaca;
  color: #606060;
  text-shadow: rgba(255, 255, 255, 0.9) 0 -1px 0;
}
/* line 115, ../sass/common.scss */
.btn_light-gray:hover {
  background-color: #d9d9d9;
}

/* line 117, ../sass/common.scss */
.btn_orange {
  border-color: #f8890c;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmIxNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4OWUxMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffbb16), color-stop(100%, #f89e10));
  background-image: -webkit-linear-gradient(top, #ffbb16 0%, #f89e10 100%);
  background-image: -moz-linear-gradient(top, #ffbb16 0%, #f89e10 100%);
  background-image: -o-linear-gradient(top, #ffbb16 0%, #f89e10 100%);
  background-image: linear-gradient(top, #ffbb16 0%, #f89e10 100%);
  text-shadow: #fd900a 0 -1px 0;
}
/* line 121, ../sass/common.scss */
.btn_orange:hover {
  background-color: #f89e10;
}

/* .top-menu */
/* line 125, ../sass/common.scss */
.top-menu {
  background: #f4f4f4;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  text-align: center;
  height: 26px;
  z-index: 1010;
  position: relative;
}
/* line 132, ../sass/common.scss */
.top-menu ul {
  list-style: none;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
/* line 138, ../sass/common.scss */
.top-menu ul .drop {
  width: 218px;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 0;
  left: -11px;
  padding: 34px 0 21px;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  border: 1px solid #b3b3bd;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
  border-radius: 0 0 5px 5px;
  z-index: 10;
  display: none;
  border-top: none;
}
/* line 154, ../sass/common.scss */
.top-menu ul .drop li {
  float: none;
  height: auto;
  border: none;
  width: auto;
  box-shadow: none;
  padding: 0 24px;
  line-height: 20px;
  font-size: 12px;
}
/* line 163, ../sass/common.scss */
.top-menu ul .drop li a {
  text-decoration: underline;
  color: #158edc;
  background: none;
}
/* line 167, ../sass/common.scss */
.top-menu ul .drop li a:hover {
  text-decoration: none;
}
/* line 172, ../sass/common.scss */
.top-menu li {
  float: left;
  font-size: 11px;
  color: #4d4d4d;
  height: 26px;
  line-height: 26px;
  border-right: 1px solid #fff;
  box-shadow: -1px 0 0 #d8d8d8 inset;
  width: 198px;
  position: relative;
}
/* line 183, ../sass/common.scss */
.top-menu li:hover a {
  background: #e5e5e5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  margin: 0 -10px;
}
/* line 188, ../sass/common.scss */
.top-menu li:hover .drop {
  display: block;
}
/* line 190, ../sass/common.scss */
.top-menu li:first-child {
  border-left: 1px solid #fff;
  box-shadow: -1px 0 0 #d8d8d8, -1px 0 0 #d8d8d8 inset;
}
/* line 194, ../sass/common.scss */
.top-menu li a {
  color: #4d4d4d;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 20;
}
/* line 200, ../sass/common.scss */
.top-menu li a:hover {
  text-decoration: underline;
}
/* line 205, ../sass/common.scss */
.top-menu li.wo-drop:hover a {
  margin: 0;
  background: none;
}
/* line 209, ../sass/common.scss */
.top-menu .top-menu__arrow {
  background: url('../img/icons-s179da87fc0.png') 0 -1014px no-repeat;
  width: 9px;
  height: 26px;
  display: inline-block;
  margin: 0 0 -10px 5px;
}
/* line 214, ../sass/common.scss */
.top-menu .top-menu__key {
  background: url('../img/icons-s179da87fc0.png') 0 -970px no-repeat;
  width: 7px;
  height: 26px;
  display: inline-block;
  margin: 0 0 -10px 5px;
}

/* header */
/* line 223, ../sass/common.scss */
.header {
  display: inline-block;
  width: 100%;
  margin-bottom: 11px;
  background: #f8f8f8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjZjhmOGY4Ii8+PHN0b3Agb2Zmc2V0PSI3OCUiIHN0b3AtY29sb3I9IiNlZmVmZjAiLz48c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iI2QzZDRkNyIvPjxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjY2JjY2QwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzFjMmM1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(70%, #f8f8f8), color-stop(78%, #efeff0), color-stop(93%, #d3d4d7), color-stop(99%, #cbccd0), color-stop(100%, #c1c2c5));
  background-image: -webkit-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: -moz-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: -o-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
}

/* line 230, ../sass/common.scss */
.header__holder {
  width: 1000px;
  margin: 0 auto;
  padding: 16px 0 9px 2px;
  height: 72px;
}

/* line 236, ../sass/common.scss */
.header__logo {
  background: url('../img/icons-s179da87fc0.png') 0 0 no-repeat;
  width: 179px;
  height: 66px;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 58px;
}
/* line 242, ../sass/common.scss */
.header__logo a {
  height: 100%;
  display: block;
}

/* line 247, ../sass/common.scss */
.header__col1 {
  float: left;
  padding-top: 6px;
}

/* line 251, ../sass/common.scss */
.header__col2 {
  float: left;
  margin-left: 49px;
}

/* line 255, ../sass/common.scss */
.header__info {
  color: #3c3c3c;
  overflow: hidden;
}
/* line 258, ../sass/common.scss */
.header__info .header__worktime {
  float: left;
  font-size: 12px;
}
/* line 262, ../sass/common.scss */
.header__info .header__phone {
  font-size: 19px;
  font-weight: bold;
  margin: -1px 0 0 7px;
  float: left;
}
/* line 268, ../sass/common.scss */
.header__info .header__callback {
  margin: 3px 0 0 11px;
  font-size: 13px;
  color: #3c3c3c;
  text-decoration: none;
  border-bottom: 1px dotted #3c3c3c;
  float: left;
}
/* line 275, ../sass/common.scss */
.header__info .header__callback:hover {
  border: none;
}

/* line 278, ../sass/common.scss */
.header__search {
  border: 1px solid #dbdbdb;
  background: #ececec;
  border-radius: 3px;
  padding: 3px;
  position: relative;
  margin-top: 8px;
  width: 517px;
}
/* line 286, ../sass/common.scss */
.header__search .header__search-input {
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  background: #fff;
  width: 478px;
  padding: 6px;
  font-size: 11px;
  line-height: 14px;
  color: #6d6d6d;
  height: 14px;
  outline: none;
}
/* line 297, ../sass/common.scss */
.header__search .header__search-input:focus {
  border-color: #2697de;
  box-shadow: 0 0 0 1px #23a8e4 inset;
}
/* line 302, ../sass/common.scss */
.header__search .header__search-btn {
  border-radius: 2px;
  border: 1px solid #2696de;
  background: url('../img/icons-s179da87fc0.png') 0 -229px no-repeat;
  width: 28px;
  height: 28px;
  box-shadow: 0 1px 0 0 #3bc9ef inset;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}
/* line 314, ../sass/common.scss */
.header__search .suggest {
  position: absolute;
  top: 31px;
  left: 3px;
  z-index: 30;
  background: #fdfdfd;
  border: 1px solid #b3b3bd;
  border-radius: 0 0 3px 3px;
  padding: 11px 14px;
  display: none;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
}
/* line 326, ../sass/common.scss */
.header__search .suggest .item {
  overflow: hidden;
  width: 460px;
  padding: 6px 0 7px;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 1px 0 0 #fff;
}
/* line 332, ../sass/common.scss */
.header__search .suggest .item h4 {
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: -0.01em;
  color: #484954;
  text-decoration: underline;
}
/* line 339, ../sass/common.scss */
.header__search .suggest .item p {
  color: #60616b;
  font-size: 10px;
  margin-bottom: 3px;
}
/* line 344, ../sass/common.scss */
.header__search .suggest .item:hover {
  background: #f1f1f1;
}
/* line 346, ../sass/common.scss */
.header__search .suggest .item__last {
  padding: 9px 0 2px 10px;
}
/* line 348, ../sass/common.scss */
.header__search .suggest .item__last a {
  color: #60616b;
  font-size: 11px;
}
/* line 353, ../sass/common.scss */
.header__search .suggest .item__img {
  float: left;
  width: 82px;
  margin-right: 5px;
  text-align: center;
  padding-top: 5px;
}
/* line 359, ../sass/common.scss */
.header__search .suggest .item__img img {
  vertical-align: middle;
}
/* line 363, ../sass/common.scss */
.header__search .suggest .item__inf {
  float: left;
  width: 373px;
}
/* line 367, ../sass/common.scss */
.header__search .suggest .item__price {
  font-size: 11px;
  color: #484954;
}
/* line 370, ../sass/common.scss */
.header__search .suggest .item__price strong {
  font-size: 14px;
  color: #0078c6;
  margin-right: 7px;
}

/* line 380, ../sass/common.scss */
.header__currency {
  height: 36px;
}
/* line 382, ../sass/common.scss */
.header__currency dl {
  font-size: 13px;
  padding-top: 9px;
}
/* line 385, ../sass/common.scss */
.header__currency dl dt {
  float: left;
  color: #494949;
  margin-right: 5px;
}
/* line 390, ../sass/common.scss */
.header__currency dl dd {
  position: relative;
}
/* line 392, ../sass/common.scss */
.header__currency dl dd ul {
  position: absolute;
  list-style: none;
  background: #fff;
  border-radius: 3px;
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.6);
  padding: 20px 0 4px;
  border: 1px solid #c9c9c9;
  top: -3px;
  left: 46px;
  z-index: 1;
  display: none;
}
/* line 405, ../sass/common.scss */
.header__currency dl dd li {
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 411, ../sass/common.scss */
.header__currency dl dd li a {
  color: #000000;
  display: block;
  padding: 2px 11px;
  text-decoration: none;
}
/* line 416, ../sass/common.scss */
.header__currency dl dd li a:hover {
  background: #1fbaea;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmYmFlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2OTdkZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fbaea), color-stop(100%, #2697de));
  background-image: -webkit-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: -moz-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: -o-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: linear-gradient(top, #1fbaea 0%, #2697de 100%);
  color: #fff;
}
/* line 425, ../sass/common.scss */
.header__currency .header__currency-selected {
  color: #0078c6;
  border-bottom: 1px dotted #0078c6;
  text-decoration: none;
  z-index: 5;
  position: relative;
}
/* line 431, ../sass/common.scss */
.header__currency .header__currency-selected:hover {
  border: none;
}

/* line 435, ../sass/common.scss */
.header__basket {
  border: 1px solid #dbdbdb;
  background: #ececec;
  border-radius: 3px;
  padding: 3px;
}
/* line 440, ../sass/common.scss */
.header__basket .header__basket-btn {
  background: #34b8e9;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0YjhlOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2OTdkZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34b8e9), color-stop(100%, #2697df));
  background-image: -webkit-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: -moz-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: -o-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: linear-gradient(top, #34b8e9 0%, #2697df 100%);
  border-radius: 2px;
  border: 1px solid #2696de;
  box-shadow: 0 1px 0 0 #3bc9ef inset;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0;
  text-decoration: none;
  height: 26px;
  line-height: 26px;
  display: block;
  padding-left: 6px;
  width: 153px;
}
/* line 456, ../sass/common.scss */
.header__basket .header__basket-btn span {
  border-left: 1px solid #2696de;
  background: url('../img/icons-s179da87fc0.png') 0 -332px no-repeat;
  width: 27px;
  height: 27px;
  float: right;
}

/* nav */
/* line 467, ../sass/common.scss */
.nav {
  width: 1000px;
  margin: 0 auto;
  /*.nav__item:hover .nav__drop{display: block;}*/
}
/* line 470, ../sass/common.scss */
.nav ul {
  height: 36px;
  background: #9697a1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2OTdhMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU3NTg2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 7px 7px 0 0;
  list-style: none;
}
/* line 477, ../sass/common.scss */
.nav .nav__item {
  float: left;
  margin-left: -8px;
  position: relative;
}
/* line 481, ../sass/common.scss */
.nav .nav__item:first-child {
  margin-left: 0;
}
/* line 483, ../sass/common.scss */
.nav .nav__item:first-child .nav__item-link {
  border-radius: 7px 7px 0 0;
  border-left: 1px solid #4c4d55;
}
/* line 489, ../sass/common.scss */
.nav .nav__item:hover, .nav .active {
  z-index: 25;
}
/* line 491, ../sass/common.scss */
.nav .nav__item:hover .nav__item-link, .nav .active .nav__item-link {
  border-radius: 7px 7px 0 0;
  border-left-color: #7a7a7b;
  border-right-color: #7a7a7b;
  /*box-shadow:0 3px 5px 0 rgba(0,0,0,0.6);*/
  text-shadow: white 0 -1px 0;
  color: #010101;
  font-weight: bold;
  background: #f8f8f8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  height: 26px;
  margin-top: -2px;
}
/* line 506, ../sass/common.scss */
.nav .active .nav__item-link {
  box-shadow: none;
}
/* line 507, ../sass/common.scss */
.nav .nav__item.active {
  z-index: 20;
}
/* line 508, ../sass/common.scss */
.nav .nav__item1 {
  width: 87px;
  z-index: 14;
}
/* line 511, ../sass/common.scss */
.nav .nav__item1 .nav__drop {
  left: 1px;
}
/* line 513, ../sass/common.scss */
.nav .nav__item2 {
  width: 199px;
  z-index: 12;
}
/* line 516, ../sass/common.scss */
.nav .nav__item2 .nav__drop {
  width: 691px;
}
/* line 518, ../sass/common.scss */
.nav .nav__item2 .nav__drop .nav__drop-col {
  width: 157px;
}
/* line 519, ../sass/common.scss */
.nav .nav__item2 .nav__drop .nav__drop-col2 {
  width: 329px;
}
/* line 522, ../sass/common.scss */
.nav .nav__item3 {
  width: 183px;
  z-index: 10;
}
/* line 525, ../sass/common.scss */
.nav .nav__item3 .nav__drop {
  width: 557px;
}
/* line 527, ../sass/common.scss */
.nav .nav__item3 .nav__drop .nav__drop-col {
  width: 263px;
}
/* line 530, ../sass/common.scss */
.nav .nav__item4 {
  width: 146px;
  z-index: 8;
}
/* line 533, ../sass/common.scss */
.nav .nav__item4 .nav__drop {
  left: -444px;
  width: 657px;
}
/* line 536, ../sass/common.scss */
.nav .nav__item4 .nav__drop .nav__drop-col {
  width: 204px;
}
/* line 540, ../sass/common.scss */
.nav .nav__item2 .nav__item-link, .nav .nav__item3 .nav__item-link, .nav .nav__item4 .nav__item-link {
  padding-top: 4px;
  height: 31px;
}
/* line 546, ../sass/common.scss */
.nav .nav__item2:hover .nav__item-link, .nav .nav__item3:hover .nav__item-link, .nav .nav__item4:hover .nav__item-link, .nav .nav__item2.active .nav__item-link, .nav .nav__item3.active .nav__item-link, .nav .nav__item4.active .nav__item-link {
  height: 33px;
}
/* line 548, ../sass/common.scss */
.nav .nav__item5 {
  width: 163px;
  z-index: 6;
}
/* line 551, ../sass/common.scss */
.nav .nav__item5 .nav__drop {
  width: 275px;
}
/* line 553, ../sass/common.scss */
.nav .nav__item5 .nav__drop .nav__drop-col {
  width: 260px;
}
/* line 556, ../sass/common.scss */
.nav .nav__item6 {
  width: 141px;
  z-index: 4;
}
/* line 559, ../sass/common.scss */
.nav .nav__item6 .nav__drop {
  width: 585px;
  left: auto;
  right: 1px;
}
/* line 563, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col {
  width: 180px;
}
/* line 564, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col2 {
  width: 390px;
  padding-right: 0;
}
/* line 567, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col2 ul {
  float: left;
  width: 180px;
  padding-right: 15px;
}
/* line 575, ../sass/common.scss */
.nav .nav__item7 {
  width: 129px;
  z-index: 2;
}
/* line 578, ../sass/common.scss */
.nav .nav__item7 .nav__drop {
  width: 671px;
  left: auto;
  right: 1px;
}
/* line 582, ../sass/common.scss */
.nav .nav__item7 .nav__drop .nav__drop-col {
  width: 152px;
}
/* line 585, ../sass/common.scss */
.nav .nav__item-link {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 24px;
  font-size: 12px;
  padding-top: 11px;
  text-shadow: rgba(0, 0, 0, 0.35) 0 -1px 0;
  text-align: center;
  background: #9697a1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2OTdhMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU3NTg2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 0 7px 0 0;
  border-right: 1px solid #4c4d55;
  border-top: 1px solid #9a9ca9;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.3) inset, -1px 0 0 0 rgba(255, 255, 255, 0.3) inset;
  z-index: 10;
  position: relative;
}
/* line 603, ../sass/common.scss */
.nav .nav__drop {
  background: #f8f8f8;
  padding: 12px 0 12px 19px;
  text-align: left;
  width: 350px;
  position: absolute;
  top: 36px;
  left: 0;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.6);
  border-radius: 0 0 7px 7px;
  display: none;
  z-index: 5;
}
/* line 616, ../sass/common.scss */
.nav .nav__drop-holder {
  overflow: hidden;
}
/* line 617, ../sass/common.scss */
.nav .nav__drop-col {
  padding-right: 15px;
  width: 160px;
  float: left;
}
/* line 621, ../sass/common.scss */
.nav .nav__drop-col h2 {
  color: #000;
  font-size: 16px;
  margin-bottom: 7px;
  text-align: left;
}
/* line 626, ../sass/common.scss */
.nav .nav__drop-col h2 a {
  color: #158edc;
}
/* line 628, ../sass/common.scss */
.nav .nav__drop-col ul {
  margin-bottom: 19px;
  height: auto;
  background: none;
}
/* line 632, ../sass/common.scss */
.nav .nav__drop-col ul li {
  padding-left: 10px;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 14px;
}
/* line 638, ../sass/common.scss */
.nav .nav__drop-col ul a {
  display: block;
  color: #158edc;
  text-decoration: none;
}
/* line 642, ../sass/common.scss */
.nav .nav__drop-col ul a:hover {
  background: #d8e8f2;
  color: #18608c;
}
/* line 649, ../sass/common.scss */
.nav .nav__drop-all {
  padding: 6px 0 12px;
}
/* line 650, ../sass/common.scss */
.nav .nav__drop-all a {
  color: #90038c;
  position: relative;
  text-decoration: none;
  border-bottom: 1px dotted #90038c;
}
/* line 655, ../sass/common.scss */
.nav .nav__drop-all a:hover {
  border-bottom: none;
}
/* line 656, ../sass/common.scss */
.nav .nav__drop-all a .arr-right {
  position: absolute;
  right: -10px;
  top: 3px;
}

/* footer */
/* line 667, ../sass/common.scss */
.footer {
  color: #fff;
  font-size: 12px;
  margin: 35px auto 0;
  width: 950px;
  padding: 25px 25px 15px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background: #83838f;
}
/* line 676, ../sass/common.scss */
.footer .footer__copy {
  float: left;
  margin-top: -3px;
  width: 293px;
}
/* line 680, ../sass/common.scss */
.footer .footer__copy h4 {
  margin-bottom: 5px;
}
/* line 681, ../sass/common.scss */
.footer .footer__copy p {
  font-size: 10px;
  line-height: 12px;
}
/* line 686, ../sass/common.scss */
.footer .footer__info {
  font-size: 14px;
  margin: -7px 0 0 34px;
  width: 227px;
  float: left;
}
/* line 692, ../sass/common.scss */
.footer .footer__phone {
  font-size: 30px;
  font-weight: normal;
}
/* line 696, ../sass/common.scss */
.footer .footer__schedule {
  margin-top: 7px;
}
/* line 698, ../sass/common.scss */
.footer .footer__schedule span {
  margin-left: 7px;
}
/* line 700, ../sass/common.scss */
.footer .footer__menu {
  float: right;
  line-height: 20px;
  margin-top: -6px;
  width: 145px;
  list-style: none;
}
/* line 706, ../sass/common.scss */
.footer .footer__menu a {
  color: #fff;
}
/* line 708, ../sass/common.scss */
.footer .footer__social {
  float: right;
  line-height: 20px;
  margin-right: 40px;
  width: 164px;
}

/* social-white */
/* line 718, ../sass/common.scss */
.social-white {
  list-style: none;
  margin-bottom: 12px;
  overflow: hidden;
}
/* line 722, ../sass/common.scss */
.social-white li {
  float: left;
  margin-right: 9px;
}
/* line 726, ../sass/common.scss */
.social-white a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 731, ../sass/common.scss */
.social-white .social-white__rss {
  background: url('../img/icons-s179da87fc0.png') 0 -207px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 732, ../sass/common.scss */
.social-white .social-white__tw {
  background: url('../img/icons-s179da87fc0.png') 0 -584px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 733, ../sass/common.scss */
.social-white .social-white__fb {
  background: url('../img/icons-s179da87fc0.png') 0 -634px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 734, ../sass/common.scss */
.social-white .social-white__vk {
  background: url('../img/icons-s179da87fc0.png') 0 -546px no-repeat;
  width: 22px;
  height: 22px;
}

/* bottom-panel */
/* line 738, ../sass/common.scss */
.bottom-panel {
  border-top: 1px solid #2080bd;
  box-shadow: 0 1px 0 0 #79c4f2 inset;
  background: #2696de url(../img/bg-cellule.png);
  position: fixed;
  bottom: 0;
  height: 48px;
  width: 100%;
  z-index: 100;
}
/* line 748, ../sass/common.scss */
.bottom-panel .bottom-panel__holder {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
/* line 753, ../sass/common.scss */
.bottom-panel .bottom-panel__btn {
  position: absolute;
  top: -38px;
  right: 10px;
  border: 1px solid #2080bd;
  border-bottom: 0;
  box-shadow: 0 1px 0 0 #79c4f2 inset, 1px 0 0 0 #79c4f2 inset, -1px 0 0 0 #79c4f2 inset;
  background: #2696de url(../img/bg-cellule.png) 1px 1px;
  height: 38px;
  width: 44px;
  border-radius: 3px 3px 0 0;
}
/* line 765, ../sass/common.scss */
.bottom-panel .arr {
  background: url('../img/icons-s179da87fc0.png') 0 -720px no-repeat;
  width: 22px;
  height: 14px;
  display: block;
  margin: 12px 0 0 11px;
}
/* line 770, ../sass/common.scss */
.bottom-panel strong {
  font-size: 16px;
  color: #fff;
  float: left;
  line-height: 48px;
}
/* line 776, ../sass/common.scss */
.bottom-panel .input-holder {
  float: left;
  background: #efedee;
  border-radius: 3px;
  height: 25px;
  margin: 12px 0 0 30px;
}
/* line 783, ../sass/common.scss */
.bottom-panel .input-holder input {
  border-radius: 0 3px 3px 0;
  border: none;
  border-left: 1px solid #2696de;
  height: 25px;
  padding: 0 9px;
  width: 135px;
}
/* line 792, ../sass/common.scss */
.bottom-panel .ico-mail {
  background: url('../img/icons-s179da87fc0.png') 0 -748px no-repeat;
  width: 12px;
  height: 10px;
  float: left;
  margin: 8px 6px 0 8px;
}
/* line 797, ../sass/common.scss */
.bottom-panel .btn {
  float: left;
  margin: 12px 0 0 9px;
}
