@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* HOW TO USE SPRITES*/
/*.whatever{@include sized-sprite($icons, badge_hit);}*/
/* constants */
/* line 11, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 12, ../sass/common.scss */
header, footer, nav, aside {
  display: block;
}

/* line 13, ../sass/common.scss */
.out {
  width: 100%;
}

/* line 16, ../sass/common.scss */
body {
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  background: #f8f8f8;
  overflow: scroll;
}

/*resets*/
/* line 27, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 30, ../sass/common.scss */
a {
  color: #00919e;
}
/* line 32, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 36, ../sass/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/* line 43, ../sass/common.scss */
.out {
  width: 1000px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

/* .top-menu */
/* line 51, ../sass/common.scss */
.top-menu {
  background: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  text-align: center;
  height: 26px;
}
/* line 56, ../sass/common.scss */
.top-menu ul {
  list-style: none;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
/* line 62, ../sass/common.scss */
.top-menu ul li {
  float: left;
  font-size: 11px;
  color: #4d4d4d;
  height: 26px;
  line-height: 26px;
  border-right: 1px solid #fff;
  box-shadow: -1px 0 0 #d8d8d8 inset;
  width: 198px;
}
/* line 71, ../sass/common.scss */
.top-menu ul li:first-child {
  border-left: 1px solid #fff;
  box-shadow: -1px 0 0 #d8d8d8, -1px 0 0 #d8d8d8 inset;
}
/* line 76, ../sass/common.scss */
.top-menu ul a {
  color: #4d4d4d;
  text-decoration: none;
  display: block;
}
/* line 80, ../sass/common.scss */
.top-menu ul a:hover {
  text-decoration: underline;
}

/* line 84, ../sass/common.scss */
.top-menu__arrow {
  background: url('../img/icons-sce732ed61f.png') 0 -413px no-repeat;
  width: 9px;
  height: 26px;
  display: inline-block;
  margin: 0 0 -10px 5px;
}

/* line 89, ../sass/common.scss */
.top-menu__key {
  background: url('../img/icons-sce732ed61f.png') 0 -387px no-repeat;
  width: 7px;
  height: 26px;
  display: inline-block;
  margin: 0 0 -10px 5px;
}

/* .header */
/* line 96, ../sass/common.scss */
.header {
  display: inline-block;
  width: 100%;
  margin-bottom: 11px;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(70%, #f8f8f8), color-stop(78%, #efeff0), color-stop(93%, #d3d4d7), color-stop(99%, #cbccd0), color-stop(100%, #c1c2c5));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5 100%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5 100%);
}

/* line 107, ../sass/common.scss */
.header__holder {
  width: 1000px;
  margin: 0 auto;
  padding: 16px 0 9px 2px;
  height: 72px;
}

/* line 113, ../sass/common.scss */
.header__logo {
  background: url('../img/icons-sce732ed61f.png') 0 0 no-repeat;
  width: 179px;
  height: 66px;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 58px;
}
/* line 119, ../sass/common.scss */
.header__logo a {
  height: 100%;
  display: block;
}

/* line 124, ../sass/common.scss */
.header__col1 {
  float: left;
  padding-top: 6px;
}

/* line 128, ../sass/common.scss */
.header__info {
  color: #3c3c3c;
  overflow: hidden;
}

/* line 132, ../sass/common.scss */
.header__worktime {
  float: left;
  font-size: 12px;
}

/* line 136, ../sass/common.scss */
.header__phone {
  font-size: 19px;
  font-weight: bold;
  margin: -1px 0 0 7px;
  float: left;
}

/* line 142, ../sass/common.scss */
.header__callback {
  margin: 3px 0 0 11px;
  font-size: 13px;
  color: #3c3c3c;
  text-decoration: none;
  border-bottom: 1px dotted #3c3c3c;
  float: left;
}
/* line 149, ../sass/common.scss */
.header__callback:hover {
  border: none;
}

/* line 151, ../sass/common.scss */
.header__search {
  border: 1px solid #dbdbdb;
  background: #ececec;
  border-radius: 3px;
  padding: 3px;
  overflow: hidden;
  position: relative;
  margin-top: 8px;
}

/* line 160, ../sass/common.scss */
.header__search-input {
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  background: #fff;
  width: 481px;
  padding: 6px 28px 6px 6px;
  font-size: 11px;
  line-height: 14px;
  color: #6d6d6d;
  height: 14px;
}

/* line 171, ../sass/common.scss */
.header__search-btn {
  border-radius: 2px;
  border: 1px solid #2696de;
  background: url('../img/icons-sce732ed61f.png') 0 -98px no-repeat;
  width: 28px;
  height: 28px;
  box-shadow: 0 1px 0 0 #3bc9ef inset;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}

/* line 184, ../sass/common.scss */
.header__col2 {
  float: left;
  margin-left: 49px;
}

/* line 188, ../sass/common.scss */
.header__currency {
  height: 36px;
}
/* line 190, ../sass/common.scss */
.header__currency dl {
  font-size: 13px;
  padding-top: 9px;
}
/* line 193, ../sass/common.scss */
.header__currency dl dt {
  float: left;
  color: #494949;
  margin-right: 5px;
}
/* line 198, ../sass/common.scss */
.header__currency dl dd {
  position: relative;
}
/* line 200, ../sass/common.scss */
.header__currency dl dd ul {
  position: absolute;
  list-style: none;
  background: #fff;
  border-radius: 3px;
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.6);
  padding: 20px 0 4px;
  border: 1px solid #c9c9c9;
  top: -3px;
  left: 46px;
  z-index: 1;
  display: none;
}
/* line 213, ../sass/common.scss */
.header__currency dl dd li {
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 219, ../sass/common.scss */
.header__currency dl dd li a {
  color: #000000;
  display: block;
  padding: 2px 11px;
  text-decoration: none;
}
/* line 224, ../sass/common.scss */
.header__currency dl dd li a:hover {
  background: #1fbaea;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fbaea), color-stop(100%, #2697de));
  background-image: -webkit-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: -moz-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: -o-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: linear-gradient(top, #1fbaea 0%, #2697de 100%);
  color: #fff;
}

/* line 234, ../sass/common.scss */
.header__currency-selected {
  color: #0078c6;
  border-bottom: 1px dotted #0078c6;
  text-decoration: none;
  z-index: 5;
  position: relative;
}
/* line 240, ../sass/common.scss */
.header__currency-selected:hover {
  border: none;
}

/* line 242, ../sass/common.scss */
.header__basket {
  border: 1px solid #dbdbdb;
  background: #ececec;
  border-radius: 3px;
  padding: 3px;
}

/* line 248, ../sass/common.scss */
.header__basket-btn {
  background: #34b8e9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34b8e9), color-stop(100%, #2697df));
  background-image: -webkit-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: -moz-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: -o-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: linear-gradient(top, #34b8e9 0%, #2697df 100%);
  border-radius: 2px;
  border: 1px solid #2696de;
  box-shadow: 0 1px 0 0 #3bc9ef inset;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0;
  text-decoration: none;
  height: 26px;
  line-height: 26px;
  display: block;
  padding-left: 6px;
  width: 153px;
}
/* line 264, ../sass/common.scss */
.header__basket-btn span {
  border-left: 1px solid #2696de;
  background: url('../img/icons-sce732ed61f.png') 0 -126px no-repeat;
  width: 27px;
  height: 27px;
  float: right;
}

/* .nav */
/* line 272, ../sass/common.scss */
.nav {
  width: 1000px;
  margin: 0 auto;
}

/* line 276, ../sass/common.scss */
.nav ul {
  height: 36px;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 7px 7px 0 0;
  list-style: none;
}

/* line 283, ../sass/common.scss */
.nav__item {
  float: left;
  margin-left: -8px;
  position: relative;
}
/* line 287, ../sass/common.scss */
.nav__item:first-child {
  margin-left: 0;
}
/* line 289, ../sass/common.scss */
.nav__item:first-child .nav__item-link {
  border-radius: 7px 7px 0 0;
  border-left: 1px solid #4c4d55;
}
/* line 294, ../sass/common.scss */
.nav__item:hover {
  z-index: 20;
}
/* line 296, ../sass/common.scss */
.nav__item:hover .nav__item-link {
  border-radius: 7px 7px 0 0;
  border-left-color: #7a7a7b;
  border-right-color: #7a7a7b;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
  text-shadow: white 0 -1px 0;
  color: #010101;
  font-weight: bold;
  background: #f8f8f8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
}
/* line 307, ../sass/common.scss */
.nav__item:hover .nav__drop {
  display: block;
}

/* line 310, ../sass/common.scss */
.nav__item1 {
  width: 87px;
  z-index: 14;
}
/* line 313, ../sass/common.scss */
.nav__item1 .nav__drop {
  left: 1px;
}

/* line 317, ../sass/common.scss */
.nav__item2 {
  width: 199px;
  z-index: 12;
}
/* line 320, ../sass/common.scss */
.nav__item2 .nav__item-link {
  padding-top: 4px;
  height: 31px;
}
/* line 324, ../sass/common.scss */
.nav__item2 .nav__drop {
  width: 691px;
}
/* line 326, ../sass/common.scss */
.nav__item2 .nav__drop .nav__drop-col {
  width: 157px;
}
/* line 327, ../sass/common.scss */
.nav__item2 .nav__drop .nav__drop-col2 {
  width: 329px;
}

/* line 330, ../sass/common.scss */
.nav__item3 {
  width: 183px;
  z-index: 10;
}
/* line 333, ../sass/common.scss */
.nav__item3 .nav__item-link {
  padding-top: 4px;
  height: 31px;
}
/* line 337, ../sass/common.scss */
.nav__item3 .nav__drop {
  width: 557px;
}
/* line 339, ../sass/common.scss */
.nav__item3 .nav__drop .nav__drop-col {
  width: 263px;
}

/* line 342, ../sass/common.scss */
.nav__item4 {
  width: 146px;
  z-index: 8;
}
/* line 345, ../sass/common.scss */
.nav__item4 .nav__item-link {
  padding-top: 4px;
  height: 31px;
}
/* line 349, ../sass/common.scss */
.nav__item4 .nav__drop {
  left: -444px;
  width: 657px;
}
/* line 352, ../sass/common.scss */
.nav__item4 .nav__drop .nav__drop-col {
  width: 204px;
}

/* line 355, ../sass/common.scss */
.nav__item5 {
  width: 163px;
  z-index: 6;
}
/* line 358, ../sass/common.scss */
.nav__item5 .nav__drop {
  width: 275px;
}
/* line 360, ../sass/common.scss */
.nav__item5 .nav__drop .nav__drop-col {
  width: 260px;
}

/* line 363, ../sass/common.scss */
.nav__item6 {
  width: 141px;
  z-index: 4;
}
/* line 366, ../sass/common.scss */
.nav__item6 .nav__drop {
  width: 585px;
  left: auto;
  right: 1px;
}
/* line 370, ../sass/common.scss */
.nav__item6 .nav__drop .nav__drop-col {
  width: 180px;
}
/* line 371, ../sass/common.scss */
.nav__item6 .nav__drop .nav__drop-col2 {
  width: 390px;
  padding-right: 0;
}
/* line 374, ../sass/common.scss */
.nav__item6 .nav__drop .nav__drop-col2 ul {
  float: left;
  width: 180px;
  padding-right: 15px;
}

/* line 382, ../sass/common.scss */
.nav__item7 {
  width: 129px;
  z-index: 2;
}
/* line 385, ../sass/common.scss */
.nav__item7 .nav__drop {
  width: 671px;
  left: auto;
  right: 1px;
}
/* line 389, ../sass/common.scss */
.nav__item7 .nav__drop .nav__drop-col {
  width: 152px;
}

/* line 392, ../sass/common.scss */
.nav__item-link {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 24px;
  font-size: 12px;
  padding-top: 11px;
  text-shadow: rgba(0, 0, 0, 0.35) 0 -1px 0;
  text-align: center;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 0 7px 0 0;
  border-right: 1px solid #4c4d55;
  border-top: 1px solid #9a9ca9;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.3) inset, -1px 0 0 0 rgba(255, 255, 255, 0.3) inset;
}

/* line 408, ../sass/common.scss */
.nav__drop {
  background: #f8f8f8;
  padding: 12px 0 12px 19px;
  text-align: left;
  width: 350px;
  position: absolute;
  top: 36px;
  left: 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  border-radius: 0 0 7px 7px;
  display: none;
}

/* line 420, ../sass/common.scss */
.nav__drop-holder {
  overflow: hidden;
}

/* line 423, ../sass/common.scss */
.nav__drop-col {
  padding-right: 15px;
  width: 160px;
  float: left;
}
/* line 427, ../sass/common.scss */
.nav__drop-col h2 {
  color: #000;
  font-size: 16px;
  margin-bottom: 7px;
  text-align: left;
}
/* line 432, ../sass/common.scss */
.nav__drop-col h2 a {
  color: #158edc;
}
/* line 434, ../sass/common.scss */
.nav__drop-col ul {
  margin-bottom: 19px;
  height: auto;
  background: none;
}
/* line 438, ../sass/common.scss */
.nav__drop-col ul li {
  padding-left: 10px;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 14px;
}
/* line 444, ../sass/common.scss */
.nav__drop-col ul a {
  color: #158edc;
  text-decoration: none;
}
/* line 447, ../sass/common.scss */
.nav__drop-col ul a:hover {
  text-decoration: underline;
}

/* line 451, ../sass/common.scss */
.nav__drop-all {
  padding: 6px 0 12px;
}
/* line 452, ../sass/common.scss */
.nav__drop-all a {
  color: #90038c;
  position: relative;
  text-decoration: none;
  border-bottom: 1px dotted #90038c;
}
/* line 457, ../sass/common.scss */
.nav__drop-all a:hover {
  border-bottom: none;
}
/* line 458, ../sass/common.scss */
.nav__drop-all a .arr-right {
  position: absolute;
  right: -10px;
  top: 3px;
}

/* line 467, ../sass/common.scss */
.arr-right {
  background: url('../img/icons-sce732ed61f.png') 0 -66px no-repeat;
  width: 7px;
  height: 10px;
  display: block;
}

/* line 472, ../sass/common.scss */
.footer {
  color: #fff;
  font-size: 12px;
  margin: 35px auto;
  width: 950px;
  padding: 25px 25px 15px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background: #83838f;
}

/* line 482, ../sass/common.scss */
.footer__copy {
  float: left;
  margin-top: -3px;
  width: 293px;
}
/* line 486, ../sass/common.scss */
.footer__copy h4 {
  margin-bottom: 5px;
}
/* line 487, ../sass/common.scss */
.footer__copy p {
  font-size: 10px;
  line-height: 12px;
}

/* line 492, ../sass/common.scss */
.footer__info {
  font-size: 14px;
  margin: -7px 0 0 34px;
  width: 227px;
  float: left;
}

/* line 498, ../sass/common.scss */
.footer__phone {
  font-size: 30px;
  font-weight: normal;
}

/* line 502, ../sass/common.scss */
.footer__schedule {
  margin-top: 7px;
}
/* line 504, ../sass/common.scss */
.footer__schedule span {
  margin-left: 7px;
}

/* line 506, ../sass/common.scss */
.footer__menu {
  float: right;
  line-height: 20px;
  margin-top: -6px;
  width: 145px;
  list-style: none;
}
/* line 512, ../sass/common.scss */
.footer__menu a {
  color: #fff;
}

/* line 514, ../sass/common.scss */
.footer__social {
  float: right;
  line-height: 20px;
  margin-right: 40px;
  width: 164px;
}

/* line 520, ../sass/common.scss */
.social-white {
  list-style: none;
  margin-bottom: 12px;
  overflow: hidden;
}
/* line 524, ../sass/common.scss */
.social-white li {
  float: left;
  margin-right: 9px;
}
/* line 528, ../sass/common.scss */
.social-white a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

/* line 534, ../sass/common.scss */
.social-white__rss {
  background: url('../img/icons-sce732ed61f.png') 0 -76px no-repeat;
  width: 22px;
  height: 22px;
}

/* line 535, ../sass/common.scss */
.social-white__tw {
  background: url('../img/icons-sce732ed61f.png') 0 -295px no-repeat;
  width: 22px;
  height: 22px;
}

/* line 536, ../sass/common.scss */
.social-white__fb {
  background: url('../img/icons-sce732ed61f.png') 0 -317px no-repeat;
  width: 22px;
  height: 22px;
}

/* line 537, ../sass/common.scss */
.social-white__vk {
  background: url('../img/icons-sce732ed61f.png') 0 -273px no-repeat;
  width: 22px;
  height: 22px;
}
