/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BOX SHADOW */
/* BOX SIZING */
/* OPACITY */
/* ROTATE*/
/* TRANSFORM  */
/* TRANSITION */
              /* HOW TO USE SPRITE 
$icons-sprite-dimensions: true;
@import "icons/*.png";
.whatever{@include icons-sprite(badge_hit);}
*/
/* line 8, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 9, ../sass/common.scss */
.out {
  width: 100%;
}

/* line 12, ../sass/common.scss */
body {
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
}

/*resets*/
/* line 22, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 25, ../sass/common.scss */
a {
  color: #00919e;
}
/* line 27, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 31, ../sass/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}
