.bc-social { display: inline-block; padding: 0 0 11px; width: 100%; }
.bc-social .bc { float: left; list-style-type: none; position: relative; height: 37px; box-shadow: 0 0 0 1px #dfdfdf inset; border-radius: 5px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-linear-gradient(#fcfcfc, #f7f7f7); background-image: -moz-linear-gradient(#fcfcfc, #f7f7f7); background-image: -o-linear-gradient(#fcfcfc, #f7f7f7); background-image: linear-gradient(#fcfcfc, #f7f7f7); }
.bc-social .bc:after { content: ""; display: table; clear: both; }
.bc-social .bc__item { float: left; color: #000; font-size: 12px; line-height: 37px; margin-left: 20px; cursor: default; position: relative; padding: 0 10px 0 15px; }
.bc-social .bc__item:after { content: ""; background: url('../img/icons-s94faa163e4.png') 0 -784px no-repeat; width: 20px; height: 37px; position: absolute; top: 0; right: -20px; }
.bc-social .bc__item:hover { background: url(../img/bg-bc.png); }
.bc-social .bc__item:hover .bc__drop { display: block; }
.bc-social .bc__item:hover:after { background-position: 0 -727px; }
.bc-social .bc__item:hover:before { content: ""; background: url('../img/icons-s94faa163e4.png') 0 -841px no-repeat; width: 20px; height: 37px; position: absolute; top: 0; left: -20px; }
.bc-social .bc__item:first-child { margin-left: 0; padding-left: 18px; border-radius: 5px 0 0 5px; }
.bc-social .bc__item:first-child:hover { box-shadow: 1px 0 0 #bebebe inset; }
.bc-social .bc__item:first-child:before { display: none; }
.bc-social .bc__item:last-child { padding-right: 20px; }
.bc-social .bc__item:last-child:hover { box-shadow: -1px 0 0 #bebebe inset; }
.bc-social .bc__item:last-child:after { display: none; }
.bc-social .bc__item a { color: #000; display: block; margin: 0 -10px 0 -15px; padding: 0 10px 0 15px; text-decoration: none; }
.bc-social .bc__item a:after { position: absolute; content: ""; width: 20px; height: 100%; right: -20px; top: 0; z-index: 2; }
.bc-social .bc__drop { display: none; box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); position: absolute; background: #fff; list-style: none; top: 44px; left: 50%; min-width: 104px; z-index: 10; border-radius: 5px; margin-left: -52px; }
.bc-social .bc__drop:before { content: ""; position: absolute; left: 42px; top: -13px; background: url('../img/icons-s94faa163e4.png') 0 -898px no-repeat; width: 20px; height: 13px; }
.bc-social .bc__drop li { line-height: 30px; }
.bc-social .bc__drop li:first-child a { border-radius: 5px 5px 0 0; }
.bc-social .bc__drop li:last-child a { border-radius: 0 0 5px 5px; }
.bc-social .bc__drop a { color: #000; padding: 0 12px; margin: 0; }
.bc-social .bc__drop a:after { display: none; }
.bc-social .bc__drop a:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxODRiOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3YjRlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-linear-gradient(#0184b8, #27b4ec); background-image: -moz-linear-gradient(#0184b8, #27b4ec); background-image: -o-linear-gradient(#0184b8, #27b4ec); background-image: linear-gradient(#0184b8, #27b4ec); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35); }
.bc-social .social { float: right; }

/* compare */
.compare { margin-bottom: 23px; }
.compare h3 { color: #000; font-size: 18px; font-weight: normal; border-bottom: 1px solid #d8d8d8; box-shadow: 0 1px 0 0 #fff; padding-bottom: 4px; }
.compare .compare__count { padding: 9px 0 8px 2px; display: block; }
.compare ul { margin-bottom: 14px; }
.compare li { list-style: none; margin-bottom: 5px; }
.compare .compare__cansel { display: inline-block; background: url('../img/icons-s94faa163e4.png') 0 -1273px no-repeat; width: 9px; height: 10px; margin-left: 4px; vertical-align: middle; }
.compare .clear { color: #158edc; font-size: 11px; margin-left: 10px; }

.adv { margin-bottom: 18px; }
.adv img { vertical-align: top; }

/* recommend */
.recommend { background: #fff; border: 1px solid #e3e3e3; border-radius: 7px; padding: 9px 13px; text-align: center; margin-bottom: 20px; }
.recommend h3 { font-size: 18px; font-weight: normal; color: #000; }
.recommend .recommend__item { border-bottom: 1px solid #e3e3e3; padding: 35px 0 0; margin-bottom: 20px; }
.recommend .recommend__item h4 { font-size: 14px; font-weight: normal; margin-bottom: 19px; }
.recommend .recommend__item h4 a { color: #158edc; }
.recommend .recommend__item .price-block { margin: 0 auto 20px; float: none; overflow: hidden; }
.recommend .recommend__item .price-block strong { font-weight: 16px; }
.recommend .recommend__item .price-block strong i { font-size: 12px; }
.recommend .recommend__item:last-child { border: none; }
.recommend .recommend__item .more { font-size: 11px; color: #158edc; }
.recommend .recommend__img { margin-bottom: 17px; }
.recommend .recommend__img img { vertical-align: top; }

/* product */
.product-block { background: #fff; border: 1px solid #e3e3e3; border-radius: 5px; margin: 4px 0 11px; }

.product { background: #fff; border: 1px solid #e3e3e3; border-radius: 5px; padding: 15px 0 8px 20px; margin: 0 0 10px; }
.product:after { content: ""; display: table; clear: both; }

.product__links { float: right; padding-top: 11px; }
.product__links a { display: inline-block; margin-left: 47px; }

.product__col_l { float: left; width: 700px; padding-top: 9px; }

.product__title { color: #585967; font-size: 20px; font-weight: normal; margin: 0 0 16px 10px; }

.product__media { width: 345px; float: left; }

.product__img { position: relative; display: block; margin-bottom: 8px; height: 270px; text-align: center; }
.product__img img { vertical-align: top; max-height: 270px; max-width: 315px; }
.product__img:hover .product__zoom { opacity: 0.7; }

.product__zoom { background: url('../img/icons-s94faa163e4.png') 0 -4010px no-repeat; width: 36px; height: 35px; position: absolute; bottom: 17px; right: 3px; }

.preview { position: relative; width: 340px; }
.preview .caro { height: 78px; margin: 0 14px; }
.preview .caro-prev-l, .preview .caro-next-l { position: absolute; top: 24px; cursor: pointer; }
.preview .caro-prev-l.disabled, .preview .caro-next-l.disabled { opacity: 0.4; cursor: default; }
.preview .caro-prev-l { background: url('../img/icons-s94faa163e4.png') 0 -443px no-repeat; width: 9px; height: 30px; left: 0; }
.preview .caro-next-l { background: url('../img/icons-s94faa163e4.png') 0 -493px no-repeat; width: 9px; height: 30px; right: 0; }

.preview__item { float: left; padding: 4px; list-style: none; position: relative; }
.preview__item a { display: block; border: 1px solid #e3e3e3; height: 68px; width: 68px; text-align: center; background: #fff; line-height: 68px; overflow: hidden; position: relative; }
.preview__item img { vertical-align: middle; }
.preview__item.active:after, .preview__item:hover:after { content: ""; position: absolute; top: 0; left: 0; cursor: pointer; background: url('../img/icons-s94faa163e4.png') 0 -3072px no-repeat; width: 78px; height: 78px; }
.preview__item .prev-play:after, .preview__item .prev-video:after { position: absolute; content: ""; top: 0; left: 0; background: url('../img/icons-s94faa163e4.png') 0 -2984px no-repeat; width: 68px; height: 68px; }
.preview__item .prev-video:after { background-position: 0 -3170px; }

.product__info { float: right; width: 322px; padding: 4px 0 19px 0; }

.product__code { font-size: 12px; margin: 0 7px 6px 0; text-align: right; }

.product__buy { margin-bottom: 15px; }
.product__buy:after { content: ""; display: table; clear: both; }
.product__buy .btn { margin-bottom: 3px; }

.product__price { text-align: right; line-height: 32px; float: left; font-size: 24px; color: #000; width: 160px; }

.product__price_credit { font-size: 20px; color: #909090; }

.product__buy-btn { float: right; width: 142px; text-align: center; }

.btn_buy { height: 30px; line-height: 30px; font-size: 14px; padding: 0; text-align: center; width: 140px; }

.product__color { margin: 35px 0 13px; }
.product__color:after { content: ""; display: table; clear: both; }
.product__color dl { float: left; }
.product__color dt { float: left; margin: 7px 19px 0 7px; }
.product__color dd { float: left; }
.product__color dd a { padding: 5px; border: 1px solid transparent; border-radius: 2px; float: left; margin-right: 1px; }
.product__color dd a span { background: url('../img/icons-s94faa163e4.png') 0 -1045px no-repeat; width: 10px; height: 10px; border-radius: 2px; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset; border: 1px solid #fff; display: block; }
.product__color dd a:hover { background: #ececec; border-color: #dbdbdb; }
.product__color .product__color-all { float: right; margin: 5px -7px 0 0; border-bottom: 1px dotted #0078c6; text-decoration: none; }
.product__color .product__color-all:hover { border-color: transparent; }

.product__rating { margin: 14px 0 0 6px; line-height: 19px; }

.stars { display: inline-block; }
.stars .star { display: inline-block; background: url('../img/icons-s94faa163e4.png') 0 -3572px no-repeat; width: 17px; height: 16px; }
.stars .chosen { background: url('../img/icons-s94faa163e4.png') 0 -3501px no-repeat; width: 17px; height: 16px; }

.rating-users { margin: 0 0 0 9px; vertical-align: top; }
.rating-users .ico-user { margin: 0 2px; }

.rating-count { font-size: 11px; text-decoration: underline; margin-left: 1px; vertical-align: top; }

.product__text { font-size: 12px; color: #000; line-height: 17px; margin: 7px 0 11px 6px; }

.product__delivery { float: right; width: 240px; }

.title-orange { color: #fff; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTkyMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmODQxNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-linear-gradient(top, #ff9923 0%, #ff8415 100%); background-image: -moz-linear-gradient(top, #ff9923 0%, #ff8415 100%); background-image: -o-linear-gradient(top, #ff9923 0%, #ff8415 100%); background-image: linear-gradient(to bottom, #ff9923 0%, #ff8415 100%); border-radius: 4px 0 0 4px; position: relative; }
.title-orange:after { content: ""; position: absolute; right: -7px; top: -3px; }
.title-orange:before { content: ""; position: absolute; top: 9px; }

.title-orange_delivery { padding: 0 0 0 54px; height: 32px; width: 186px; line-height: 32px; margin: 0 0 20px; text-transform: uppercase; font-size: 13px; font-weight: bold; font-style: italic; }
.title-orange_delivery:before { background: url('../img/icons-s94faa163e4.png') 0 -1622px no-repeat; width: 36px; height: 17px; left: 9px; }
.title-orange_delivery:after { background: url('../img/icons-s94faa163e4.png') 0 -1431px no-repeat; width: 7px; height: 35px; }

.title-orange_attendant { line-height: 12px; height: 32px; padding: 8px 0 0 47px; float: right; font-size: 12px; width: 227px; font-weight: normal; margin-right: -20px; }
.title-orange_attendant:before { background: url('../img/icons-s94faa163e4.png') 0 -1697px no-repeat; width: 22px; height: 26px; left: 13px; }
.title-orange_attendant:after { background: url('../img/icons-s94faa163e4.png') 0 -1486px no-repeat; width: 7px; height: 43px; }

.product__delivery-block { padding: 0 0 0 38px; margin-bottom: 20px; }
.product__delivery-block h3 { position: relative; font-size: 14px; font-weight: bold; color: #000; margin-bottom: 10px; }
.product__delivery-block ul { margin-bottom: 10px; }
.product__delivery-block ul li { list-style: none; color: #000; margin-bottom: 3px; }
.product__delivery-block a { color: #017ecb; border-bottom: 1px dotted #017ecb; text-decoration: none; }
.product__delivery-block a:hover { border-color: transparent; }

.ico-warranty { background: url('../img/icons-s94faa163e4.png') 0 -2016px no-repeat; width: 14px; height: 14px; position: absolute; left: -25px; top: 1px; }

.ico-delivery { background: url('../img/icons-s94faa163e4.png') 0 -1659px no-repeat; width: 17px; height: 18px; position: absolute; left: -25px; top: 1px; }

.ico-payment { background: url('../img/icons-s94faa163e4.png') 0 -1809px no-repeat; width: 17px; height: 13px; position: absolute; left: -25px; top: 1px; }

/* attendant */
.attendant { background: #fff; border: 1px solid #e3e3e3; border-radius: 5px; padding: 15px 20px 43px; margin: 0 0 20px; }
.attendant:after { content: ""; display: table; clear: both; }

.attendant__top:after { content: ""; display: table; clear: both; }

.attendant__col_l { float: left; width: 670px; }

.attendant__col_r { float: right; width: 280px; }

.attendant__title { color: #585967; font-size: 18px; font-weight: normal; margin: 0 0 22px 0; }

.attendant__filter { list-style: none; }
.attendant__filter:after { content: ""; display: table; clear: both; }
.attendant__filter li { float: left; margin-right: 18px; margin-top: 2px; }
.attendant__filter a { text-decoration: none; color: #017ecb; border-bottom: 1px dotted #017ecb; }
.attendant__filter a:hover { border-color: transparent; }
.attendant__filter .active { margin-top: 0; }
.attendant__filter .active a { color: #ff8f19; border-color: transparent; font-size: 14px; font-weight: bold; }

.attendant__show { list-style: none; text-align: right; margin: 0 0 19px; font-size: 0; }
.attendant__show li { display: inline-block; padding: 0 3px; border-left: 1px solid #585967; font-weight: normal; color: #585967; border-bottom: transparent; font-size: 12px; }
.attendant__show li:first-child { border-left: none; }
.attendant__show a { font-weight: bold; color: #017ecb; border-bottom: 1px dotted #017ecb; text-decoration: none; }
.attendant__show a:hover { border-bottom: transparent; }
.attendant__show .active a { font-weight: normal; color: #585967; border-bottom: transparent; }

.attendant__gallery { position: relative; }
.attendant__gallery .caro-prev { left: 0; }
.attendant__gallery .caro-next { right: 0; }
.attendant__gallery .caro { height: 220px; margin: 0 40px; width: 877px; }

.attendant__list { list-style: none; height: 208px; overflow: hidden; padding: 6px 0 0; }
.attendant__list li { float: left; width: 145px; margin: 0 0 0 38px; }
.attendant__list li:first-child { margin: 0; }

.attendant__media { text-align: center; height: 138px; line-height: 138px; }
.attendant__media img { vertical-align: middle; max-width: 145px; max-height: 135px; }

.attendant__name { height: 30px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; margin-bottom: 9px; }

.price-buy { border-radius: 2px; width: 145px; height: 30px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-linear-gradient(#f5f5f5, #f8f8f8); background-image: -moz-linear-gradient(#f5f5f5, #f8f8f8); background-image: -o-linear-gradient(#f5f5f5, #f8f8f8); background-image: linear-gradient(#f5f5f5, #f8f8f8); box-shadow: 0 0 0 1px #e3e3e3 inset, 0 1px 2px rgba(0, 0, 0, 0.3) inset; }
.price-buy .btn { float: right; border-radius: 0 2px 2px 0; width: 75px; text-align: center; padding: 0; height: 28px; line-height: 28px; }

.price-buy__price { width: 68px; color: #123547; text-align: center; display: block; line-height: 30px; float: left; }

/* product-tabs */
.product-tabs { background: #fff; border: 1px solid #e3e3e3; border-radius: 5px; margin: 0 0 20px; }
.product-tabs .tabs { font-size: 11px; margin: 0 -1px; }
.product-tabs .tabs .tabs__nav { height: 32px; }
.product-tabs .tabs .tabs__nav li { width: 125px; }
.product-tabs .tabs .tabs__nav li a { height: 31px; line-height: 31px; }
.product-tabs .tabs .tabs__nav li.active a { height: 33px; }
.product-tabs .tabs .tabs__nav .tabs__nav5 { width: 142px; }
.product-tabs .tabs__info { font-size: 12px; padding: 28px 20px 22px; border: 0; background: none; color: #3d3d3d; }
.product-tabs .tabs__info h2 { font-size: 14px; color: #3d3d3d; margin-bottom: 15px; }
.product-tabs .tabs__info h3 { font-size: 12px; color: #3d3d3d; }
.product-tabs .tabs__info p { margin-bottom: 12px; }
.product-tabs .add-tab { list-style-type: none; overflow: hidden; font-size: 13px; height: 23px; margin-bottom: 10px; }
.product-tabs .add-tab li { float: left; background: none !important; padding: 0 !important; margin: 0 11px 0 0 !important; }
.product-tabs .add-tab li a { text-decoration: none; border-bottom: 1px dotted #158edc; display: block; margin: 3px 0; }
.product-tabs .add-tab li a:hover { border: none; }
.product-tabs .add-tab .active a { background: #158edc; color: #fff; border-radius: 3px; text-decoration: none; border: none; padding: 3px 10px; margin: 0; }
.product-tabs .tab__box_features h2 { margin-left: -5px; }
.product-tabs .tab__box_features ul { list-style: none; margin-bottom: 21px; }
.product-tabs .tab__box_features ul li { background: url(../img/bullet-2.png) no-repeat 7px 6px; padding-left: 17px; line-height: 14px; margin-bottom: 10px; }
.product-tabs .tab__box_features .warranty { color: #158edc; font-weight: bold; }
.product-tabs .t-features { margin: 0 -19px 18px; font-size: 12px; border-collapse: separate; border-spacing: 0; color: #3d3d3d; }
.product-tabs .t-features caption { font-size: 14px; font-weight: bold; padding: 8px 25px; text-align: left; }
.product-tabs .t-features th { text-align: left; vertical-align: top; width: 201px; padding: 5px 0 5px 25px; }
.product-tabs .t-features td { padding: 5px 20px 5px 0; vertical-align: top; }
.product-tabs .t-features tr:nth-child(odd) td { background: #f4f5f5; }
.product-tabs .t-features tr:nth-child(odd) th { background: #f4f5f5; }
.product-tabs .tabs__box_guarant h2 { font-size: 18px; font-weight: bold; }
.product-tabs .tabs__box_guarant h3 { font-size: 14px; font-weight: bold; margin-bottom: 5px; }
.product-tabs .tabs__box_guarant ul { list-style: none; margin-bottom: 17px; }
.product-tabs .tabs__box_guarant li { background: url("../img/bullet.png") no-repeat 2px 6px; margin-bottom: 4px; padding: 0 0 0 12px; }
.product-tabs .tabs__box_guarant .q-and-a { margin-bottom: 14px; }
.product-tabs .tabs__box_guarant .question { border-bottom: 1px dotted #0078c6; text-decoration: none; }
.product-tabs .tabs__box_guarant .question:hover { border: none; padding-bottom: 1px; }
.product-tabs .tabs__box_guarant .answer { display: none; margin-top: 3px; }

/* block-error-message */
.block-error-message { background: #ececec; border: 1px solid #e3e3e3; border-radius: 7px; font-size: 11px; padding: 10px 20px; margin-bottom: 14px; }
.block-error-message a { color: #158edc; text-decoration: none; border-bottom: 1px dotted #158edc; }
.block-error-message a:hover { border: none; padding-bottom: 1px; }

/* ask-other */
.ask-other { margin-top: 70px; height: 69px; background: #f8f8f8; border-bottom: 1px solid #f1f1f1; position: relative; text-align: center; border-radius: 0 0 5px 5px; padding: 18px 0 0 198px; }
.ask-other:before { content: ""; position: absolute; width: 137px; height: 146px; background: url(../img/girl.png); bottom: 0; left: 26px; }

.ask-other__title { font-size: 16px; font-weight: bold; color: #ff8f19; margin: 0 20px 10px 0; }

/* subscribe */
.subscribe { border: 2px solid #21aee6; border-radius: 5px; background: #fff; padding: 18px 20px 22px; margin-bottom: 20px; }
.subscribe .label { display: block; margin-bottom: 5px; }
.subscribe .input { width: 176px; height: 36px; line-height: 36px; margin-bottom: 5px; border: 0; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset; }
.subscribe .btn { height: 35px; line-height: 35px; font-size: 14px; width: 194px; }

.subscribe__title { font-size: 14px; font-weight: bold; color: #000; margin-bottom: 13px; }

/* need-help */
.need-help { border: 2px solid #21aee6; border-radius: 5px; background: #fff; padding: 12px 20px 16px; margin-bottom: 20px; }
.need-help a { color: #017ecb; font-size: 11px; }
.need-help p { margin-bottom: 8px; }

.need-help__title { font-size: 14px; font-weight: bold; color: #000; margin-bottom: 9px; }

.need-help__sub-title { font-size: 14px; font-weight: bold; color: #000; margin-bottom: 5px; }

.need-help__phone { line-height: 18px; }
.need-help__phone dt { float: left; clear: left; font-size: 14px; font-weight: bold; width: 110px; }
.need-help__phone dd { margin-bottom: 13px; text-align: right; }

/* how-it-works */
.how-it-works { border-radius: 5px; background: #fff; padding: 16px 20px 16px; margin-bottom: 18px; border: 1px solid #E3E3E3; }
.how-it-works:after { content: ""; display: table; clear: both; }

.how-it-works__hold { float: left; padding: 23px 0 0 42px; background: url(../img/bg-steps.jpg) no-repeat 2px 0; }

.how-it-works__title { color: #3d3d3d; font-weight: normal; font-size: 18px; margin-bottom: 25px; }

.our-company { float: left; width: 160px; padding-top: 3px; }

.our-company__logo { background: url('../img/icons-s94faa163e4.png') 0 -2645px no-repeat; width: 132px; height: 49px; display: block; font-size: 0; color: transparent; margin-bottom: 23px; }
.our-company__logo a { display: block; height: 100%; }

.our-company__sub-title { font-size: 12px; margin-bottom: 6px; }

.our-company__menu { list-style: none; margin-bottom: 22px; }
.our-company__menu li { margin-bottom: 9px; }
.our-company__menu a { color: #0078c6; }

/* social-gray */
.social-gray { list-style: none; margin-bottom: 12px; overflow: hidden; }
.social-gray li { float: left; margin-right: 8px; }
.social-gray a { display: block; overflow: hidden; text-indent: -9999px; }

.social-gray__rss { background: url('../img/icons-s94faa163e4.png') 0 -2177px no-repeat; width: 23px; height: 23px; }

.social-gray__tw { background: url('../img/icons-s94faa163e4.png') 0 -2262px no-repeat; width: 23px; height: 23px; }

.social-gray__fb { background: url('../img/icons-s94faa163e4.png') 0 -2092px no-repeat; width: 23px; height: 23px; }

.social-gray__vk { background: url('../img/icons-s94faa163e4.png') 0 -2347px no-repeat; width: 23px; height: 23px; }

.steps:after { content: ""; display: table; clear: both; }

.steps__item { float: left; width: 220px; margin-left: 37px; }
.steps__item:first-child { margin-left: 0; }
.steps__item p { margin-bottom: 20px; }
.steps__item a { color: #0078c6; }

.steps__link { margin-top: 7px; display: block; }

.steps__phone { display: block; font-size: 18px; }

.steps__title { font-size: 18px; font-weight: bold; margin-bottom: 17px; }

.steps__title_1 { color: #2f8b1d; }

.steps__title_2 { color: #cb6900; }

.steps__title_3 { color: #088498; }

.serv-master { clear: both; padding: 30px 0 20px 225px; border-top: 1px solid #efeff1; position: relative; margin: 0 -20px; min-height: 51px; }
.serv-master p { opacity: 0.7; font-size: 14px; color: #000; }
.serv-master a { text-decoration: none; }

.serv-master__logo { background: url('../img/icons-s94faa163e4.png') 0 -2470px no-repeat; width: 48px; height: 69px; position: absolute; font-size: 0; left: 156px; top: 21px; color: transparent; }

.serv-master__title { font-size: 24px; font-weight: bold; margin-bottom: 2px; color: #000; }

/* goods-tabs */
.goods-tabs { margin-bottom: 15px; }
.goods-tabs .tabs .tabs__nav1 { width: 248px; }
.goods-tabs .tabs .tabs__nav2 { width: 247px; }
.goods-tabs .tabs .tabs__nav3 { width: 248px; }

.goods-tabs_4 .tabs .tabs__nav1 { width: 194px; }
.goods-tabs_4 .tabs .tabs__nav2 { width: 186px; }
.goods-tabs_4 .tabs .tabs__nav3 { width: 185px; }
.goods-tabs_4 .tabs .tabs__nav4 { width: 186px; }

.icon-qu { background: url('../img/icons-s94faa163e4.png') 0 -3258px no-repeat; width: 14px; height: 15px; position: absolute; top: 0; left: -17px; }

.discount-set, .goods { position: relative; }
.discount-set .caro-prev, .discount-set .caro-next, .goods .caro-prev, .goods .caro-next { top: 75px; z-index: 5; }
.discount-set .caro-prev, .goods .caro-prev { left: 7px; }
.discount-set .caro-next, .goods .caro-next { right: 7px; }
.discount-set .caro-prev.disabled, .discount-set .caro-next.disabled, .goods .caro-prev.disabled, .goods .caro-next.disabled { opacity: 0.4; cursor: default; }

/* discount-set */
.discount-set .caro { height: 214px; margin: 0 48px; width: 629px; }
.discount-set .discount-set__item { overflow: hidden; height: 208px; padding: 6px 0 0; }
.discount-set .discount-set__pr { float: left; margin: 0 0 0 48px; width: 103px; }
.discount-set .discount-set__img { margin-bottom: 6px; line-height: 101px; background: #7fbbe2; padding: 1px; height: 101px; position: relative; }
.discount-set .discount-set__img img { vertical-align: middle; max-width: 101px; max-height: 101px; }
.discount-set .discount-set__price { background: #ffbb16; border-radius: 3px; font-size: 12px; text-align: center; margin-top: 27px; padding: 2px 0; }
.discount-set .discount-set__price strong { font-weight: normal; font-size: 14px; }
.discount-set .discount-set__price span { display: block; background: #fff; border-radius: 0 0 3px 3px; color: #a3a3a3; border: 1px solid #a3a3a3; border-top: 0; margin: 2px 0 -2px; padding: 2px 0; text-decoration: line-through; }
.discount-set .discount-set__plus { float: left; background: url('../img/icons-s94faa163e4.png') 0 -2940px no-repeat; width: 23px; height: 24px; margin: 66px 0 0 40px; }
.discount-set .discount-set__disc { position: absolute; background: #3ac7f6; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhYzdmNiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNiMWViZmYiLz48c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzZjZDhmNSIvPjxzdG9wIG9mZnNldD0iMjMlIiBzdG9wLWNvbG9yPSIjM2JjOWVmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2JjOWVmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-linear-gradient(left, #3ac7f6, #b1ebff 5%, #6cd8f5 10%, #3bc9ef 23%, #3bc9ef); background-image: -moz-linear-gradient(left, #3ac7f6, #b1ebff 5%, #6cd8f5 10%, #3bc9ef 23%, #3bc9ef); background-image: -o-linear-gradient(left, #3ac7f6, #b1ebff 5%, #6cd8f5 10%, #3bc9ef 23%, #3bc9ef); background-image: linear-gradient(to right, #3ac7f6, #b1ebff 5%, #6cd8f5 10%, #3bc9ef 23%, #3bc9ef); height: 20px; line-height: 20px; width: 66px; text-align: center; color: #fff; border-radius: 0 10px 10px 0; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4); text-shadow: #008ddd 0 -1px 0; font-weight: bold; top: 3px; left: -1px; }
.discount-set .discount-set__name { text-align: center; font-size: 11px; margin-bottom: -18px; }
.discount-set .discount-set__equal { float: left; margin: 72px 0 0 43px; background: url('../img/icons-s94faa163e4.png') 0 -1549px no-repeat; width: 23px; height: 14px; }
.discount-set .discount-set__sum { float: left; margin: 32px 0 0 44px; width: 131px; }
.discount-set .discount-set__sum .btn { display: block; height: 30px; line-height: 30px; margin-bottom: 7px; text-align: center; }
.discount-set .discount-set__cost { font-weight: bold; color: #ffbb16; font-size: 14px; display: block; margin-bottom: 13px; text-align: center; }
.discount-set .discount-set__cost span { font-size: 30px; }
.discount-set .discount-set__credit { position: relative; font-size: 11px; text-decoration: none; border-bottom: 1px dotted #0078c6; margin-left: 17px; }
.discount-set .discount-set__credit:hover { border: none; }

/* goods */
.goods .caro { height: 214px; margin: 0 13px; width: 699px; }
.goods .goods__items { float: left; padding: 14px 0 19px; }
.goods .goods__item { float: left; width: 120px; padding: 0 27px; border-left: 1px solid #e3e3e3; }
.goods .goods__item:first-child { border: none; }
.goods .goods__img { text-align: center; height: 120px; line-height: 120px; margin-bottom: 6px; }
.goods .goods__img img { vertical-align: middle; max-height: 120px; max-width: 120px; }
.goods .goods__title { text-align: center; font-weight: bold; font-size: 11px; margin-bottom: 9px; }
.goods .price-block { line-height: 20px; width: auto; }
.goods .price-block strong { height: 20px; width: 78px; font-size: 12px; }
.goods .price-block span { height: 20px; width: 42px; font-size: 10px; }

/* gds */
.gds { position: relative; }
.gds .caro-prev, .gds .caro-next { top: 50%; margin-top: -30px; }
.gds .caro-prev { left: 0; }
.gds .caro-next { right: 0; }
.gds .caro { height: 543px; margin: 0 28px; width: 630px; }
.gds .gds__items { width: 630px; height: 543px; }
.gds .gds__item { display: inline-block; vertical-align: top; width: 150px; margin-bottom: 39px; padding: 0 3px 0 2px; }
.gds .gds__img { text-align: center; height: 150px; line-height: 150px; }
.gds .gds__img img { vertical-align: middle; }
.gds h3 { text-align: center; font-size: 11px; font-weight: normal; margin-bottom: 11px; line-height: 14px; }
.gds .gds__price { height: 26px; line-height: 26px; width: 106px; margin: 0 auto 6px; text-align: center; border-radius: 3px; background: #ffbb16; font-size: 15px; }
.gds .gds__price span { font-size: 11px; margin-left: 3px; }
.gds .btn { width: 126px; padding: 0; text-align: center; width: 104px; margin: 0 auto; display: block; height: 23px; line-height: 23px; }

/* ask-questions */
.ask-questions .ask-qu { color: #3c3c3c; border-bottom: 1px solid #cacaca; margin-bottom: 13px; padding-bottom: 21px; }
.ask-questions .ask-qu__name { font-size: 14px; font-weight: bold; color: #000; }
.ask-questions .ask-qu__text { font-size: 14px; margin-bottom: 4px; }
.ask-questions .review__date { font-size: 11px; color: #93939e; margin-bottom: 11px; display: block; }
.ask-questions .answer { margin-top: 22px; padding-left: 25px; }
.ask-questions .answer__name { font-size: 12px; font-weight: bold; color: #158edc; }
.ask-questions .answer__text { font-size: 11px; line-height: 1.35; margin-bottom: 4px; }
.ask-questions .answer__date { color: #93939e; font-size: 11px; display: block; }

/* review__form */
.review__form { margin-top: -4px; padding-left: 1px; position: relative; }
.review__form h3 { color: #000 !important; font-size: 18px !important; font-weight: normal; margin-bottom: 9px; }
.review__form .row-textarea { margin-bottom: 19px; position: relative; }
.review__form textarea { border-radius: 2px; color: #3c3c3c; font-size: 12px; font-style: italic; border: 1px solid #c9c9c9; padding: 9px 9px; height: 55px; width: 663px; }
.review__form .row { margin-bottom: 19px; }
.review__form .row .col { display: inline-block; margin-right: 24px; position: relative; }
.review__form .row input { border: 1px solid #c9c9c9; padding: 0 9px; width: 225px; height: 27px; border-radius: 2px; color: #3c3c3c; font-size: 12px; font-style: italic; }
.review__form .review__opinion { position: absolute; right: 0; top: 27px; }
.review__form .error { position: absolute; bottom: -16px; left: 1px; color: #ff4200; }

/* page-nav */
.page-nav { overflow: hidden; }
.page-nav ul { list-style: none; font-size: 12px; border-right: 1px solid #ebebeb; float: left; padding-right: 3px; margin-right: 14px; }
.page-nav li { float: left; color: #000; margin-right: 13px; }

.page-nav_topright { border: none; float: right; text-align: right; padding: 6px 14px 0 0; }

.page-nav_category { border-top: 1px solid #ebebeb; padding: 22px 0 26px; }

/* reviews */
.reviews .review { color: #3c3c3c; border-bottom: 1px solid #cacaca; margin-bottom: 13px; padding-bottom: 16px; padding-right: 125px; position: relative; min-height: 79px; }
.reviews .review .review__opinion { position: absolute; right: 0; top: 0; }
.reviews .review__name { font-size: 12px; font-weight: bold; color: #000; display: block; margin-bottom: 2px; }
.reviews .review__text { font-size: 14px; margin-bottom: 4px; }
.reviews .review__date { font-size: 11px; color: #93939e; margin-bottom: 2px; display: block; }
.reviews .review__opinion { font-size: 11px; width: 100px; }
.reviews .review__opinion strong { font-weight: normal; }
.reviews .review__opinion span { color: #7c7c7c; }
.reviews .review__opinion .stars { margin-bottom: 7px; }
.reviews .review__opinion .star { display: inline-block; background: url('../img/icons-s94faa163e4.png') 0 -3572px no-repeat; width: 17px; height: 16px; }
.reviews .review__opinion .star.chosen { background: url('../img/icons-s94faa163e4.png') 0 -3501px no-repeat; width: 17px; height: 16px; }
.reviews .review__useful { padding: 2px 0 0; }
.reviews .review__useful span { font-size: 11px; color: #7c7c7c; margin-right: 5px; }
.reviews .review__useful .btn { height: 20px; line-height: 20px; padding: 0 3px; margin-right: 1px; }
.reviews .page-nav { padding: 7px 0 22px; border-bottom: 1px solid #cacaca; margin-bottom: 12px; }
