/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BOX SHADOW */
/* BOX SIZING */
/* OPACITY */
/* ROTATE*/
/* TRANSFORM  */
/* TRANSITION */
/* line 2, ../sass/main.scss */
.promo__holder {
  border-top: 1px solid #b8b8b8;
}
/* line 4, ../sass/main.scss */
.promo__holder .promo_carusel {
  position: relative;
  top: -1px;
}

/* line 10, ../sass/main.scss */
.promo {
  position: relative;
}
/* line 12, ../sass/main.scss */
.promo .promo__wrap {
  overflow: hidden;
  height: 300px;
  position: relative;
}
/* line 18, ../sass/main.scss */
.promo .promo__nav {
  position: absolute;
  width: 26px;
  right: -26px;
  top: 0px;
  background: #fff;
}
/* line 25, ../sass/main.scss */
.promo .promo__nav a {
  display: block;
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: 0px;
  width: 4px;
  height: 4px;
  border: 1px solid #c6c6c6;
}
/* line 34, ../sass/main.scss */
.promo .promo__nav .promo__active, .promo .promo__nav .active {
  background: #e5233a;
  border-color: #e5233a;
}
/* line 39, ../sass/main.scss */
.promo .promo__slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 990px;
  height: 20000em;
}
@media only screen and (min-width: 1180px) {
  /* line 39, ../sass/main.scss */
  .promo .promo__slides {
    width: 1180px;
  }
}
/* line 47, ../sass/main.scss */
.promo .promo__slide {
  float: left;
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 990px;
}
@media only screen and (min-width: 1180px) {
  /* line 47, ../sass/main.scss */
  .promo .promo__slide {
    width: 1180px;
  }
}
/* line 55, ../sass/main.scss */
.promo .promo__pic {
  width: 100%;
}
/* line 57, ../sass/main.scss */
.promo .promo__pic img {
  width: 100%;
}
/* line 61, ../sass/main.scss */
.promo .promo__content {
  position: absolute;
  left: 510px;
  top: 55px;
  width: 480px;
}
@media only screen and (min-width: 1180px) {
  /* line 61, ../sass/main.scss */
  .promo .promo__content {
    left: 605px;
  }
}
/* line 68, ../sass/main.scss */
.promo h2 {
  font-size: 60px;
  font-weight: normal;
  color: #000;
  font-family: Georgia,serif;
}
/* line 74, ../sass/main.scss */
.promo h3 {
  font-size: 20px;
  color: #363b3b;
  font-weight: normal;
  font-family: Georgia,serif;
  margin-bottom: 23px;
}
/* line 81, ../sass/main.scss */
.promo p {
  padding-top: 24px;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 86, ../sass/main.scss */
.promo p:before {
  content: ' ';
  display: block;
  width: 30px;
  border-top: 3px solid #000;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 95, ../sass/main.scss */
.promo p a {
  color: #000;
  margin-right: 23px;
  font-weight: bold;
}
/* line 101, ../sass/main.scss */
.promo img {
  display: block;
  max-width: 100%;
}

/* line 106, ../sass/main.scss */
.promos {
  width: 100%;
  overflow: hidden;
  margin: 30px 0;
  padding-bottom: 30px;
  padding-bottom: 10px;
  /*border-bottom:1px solid #ccc;*/
}
/* line 113, ../sass/main.scss */
.promos ul {
  list-style: none;
}
/* line 115, ../sass/main.scss */
.promos ul li {
  width: 225px;
  float: left;
  margin-left: 30px;
}
@media only screen and (min-width: 1180px) {
  /* line 115, ../sass/main.scss */
  .promos ul li {
    width: 272px;
  }
}
/* line 120, ../sass/main.scss */
.promos ul li img {
  width: 100%;
}
/* line 123, ../sass/main.scss */
.promos ul li:first-child {
  margin-left: 0;
}

/* line 129, ../sass/main.scss */
.promos_alpha {
  margin-bottom: 20px;
  margin-bottom: 0;
}

/* line 133, ../sass/main.scss */
.whyus {
  margin: 30px 0;
  width: 100%;
  overflow: hidden;
}
/* line 137, ../sass/main.scss */
.whyus ul {
  list-style: none;
}
/* line 139, ../sass/main.scss */
.whyus ul li {
  float: left;
  min-height: 85px;
  width: 137px;
  padding-left: 88px;
  margin-left: 30px;
}
@media only screen and (min-width: 1180px) {
  /* line 139, ../sass/main.scss */
  .whyus ul li {
    width: 184px;
  }
}
/* line 146, ../sass/main.scss */
.whyus ul li:first-child {
  margin-left: 0;
}
/* line 149, ../sass/main.scss */
.whyus ul li h2 {
  font-family: Georgia,sans-serif;
  font-weight: normal;
  float: 18px;
  margin-bottom: 10px;
  line-height: 1.2;
}
/* line 156, ../sass/main.scss */
.whyus ul li p {
  color: #777;
}
/* line 158, ../sass/main.scss */
.whyus ul li p strong {
  display: block;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #00919e;
}
/* line 165, ../sass/main.scss */
.whyus ul li p em {
  color: #00919e;
  font-style: normal;
}
/* line 173, ../sass/main.scss */
.whyus a {
  color: #000;
  text-decoration: none;
  display: block;
}
/* line 177, ../sass/main.scss */
.whyus a h2 {
  color: #000;
  text-decoration: underline;
}
/* line 181, ../sass/main.scss */
.whyus a em {
  color: #00919e;
  text-decoration: underline;
}
/* line 186, ../sass/main.scss */
.whyus .whyus__go {
  background: url(../img/whyus_go.png) no-repeat 0 0;
  padding-left: 0;
  width: 225px;
}
@media only screen and (min-width: 1180px) {
  /* line 186, ../sass/main.scss */
  .whyus .whyus__go {
    width: 272px;
  }
}
/* line 191, ../sass/main.scss */
.whyus .whyus__go a {
  display: block;
  padding-left: 88px;
}
/* line 196, ../sass/main.scss */
.whyus .whyus__nofakes {
  background: url(../img/whyus_nofakes.png) no-repeat 0 0;
}
/* line 199, ../sass/main.scss */
.whyus .whyus__pay {
  background: url(../img/whyus_pay.png) no-repeat 0 0;
}
/* line 202, ../sass/main.scss */
.whyus .whyus__supermarket {
  background: url(../img/whyus_supermarket.png) no-repeat 0 0;
}

/* line 206, ../sass/main.scss */
.whyusten {
  width: 100%;
  overflow: hidden;
}
/* line 210, ../sass/main.scss */
.whyusten ul {
  list-style: none;
}
/* line 213, ../sass/main.scss */
.whyusten li {
  float: left;
  width: 99px;
  position: relative;
}
@media only screen and (min-width: 1180px) {
  /* line 213, ../sass/main.scss */
  .whyusten li {
    width: 118px;
  }
}
/* line 219, ../sass/main.scss */
.whyusten a {
  font-size: 12px;
  font-family: Georgia,serif;
  color: #7f7f7f;
  display: block;
  padding-right: 12px;
  padding-top: 61px;
}
/* line 226, ../sass/main.scss */
.whyusten a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: url(../img/icons.png) no-repeat 0 0;
}
/* line 234, ../sass/main.scss */
.whyusten a:hover {
  color: #000;
  text-decoration: none;
}
/* line 239, ../sass/main.scss */
.whyusten .whyusten_1 a span {
  background-position: -24px -23px;
}
/* line 240, ../sass/main.scss */
.whyusten .whyusten_1 a:hover span {
  background-position: -24px -143px;
}
/* line 241, ../sass/main.scss */
.whyusten .whyusten_2 a span {
  background-position: -124px -23px;
}
/* line 242, ../sass/main.scss */
.whyusten .whyusten_2 a:hover span {
  background-position: -124px -143px;
}
/* line 243, ../sass/main.scss */
.whyusten .whyusten_3 a span {
  background-position: -224px -23px;
}
/* line 244, ../sass/main.scss */
.whyusten .whyusten_3 a:hover span {
  background-position: -224px -143px;
}
/* line 245, ../sass/main.scss */
.whyusten .whyusten_4 a span {
  background-position: -324px -23px;
}
/* line 246, ../sass/main.scss */
.whyusten .whyusten_4 a:hover span {
  background-position: -324px -143px;
}
/* line 247, ../sass/main.scss */
.whyusten .whyusten_5 a span {
  background-position: -424px -23px;
}
/* line 248, ../sass/main.scss */
.whyusten .whyusten_5 a:hover span {
  background-position: -424px -143px;
}
/* line 249, ../sass/main.scss */
.whyusten .whyusten_6 a span {
  background-position: -524px -23px;
}
/* line 250, ../sass/main.scss */
.whyusten .whyusten_6 a:hover span {
  background-position: -524px -143px;
}
/* line 251, ../sass/main.scss */
.whyusten .whyusten_7 a span {
  background-position: -624px -23px;
}
/* line 252, ../sass/main.scss */
.whyusten .whyusten_7 a:hover span {
  background-position: -624px -143px;
}
/* line 253, ../sass/main.scss */
.whyusten .whyusten_8 a span {
  background-position: -724px -23px;
}
/* line 254, ../sass/main.scss */
.whyusten .whyusten_8 a:hover span {
  background-position: -724px -143px;
}
/* line 255, ../sass/main.scss */
.whyusten .whyusten_9 a span {
  background-position: -824px -23px;
}
/* line 256, ../sass/main.scss */
.whyusten .whyusten_9 a:hover span {
  background-position: -824px -143px;
}
/* line 257, ../sass/main.scss */
.whyusten .whyusten_10 a span {
  background-position: -924px -23px;
}
/* line 258, ../sass/main.scss */
.whyusten .whyusten_10 a:hover span {
  background-position: -924px -143px;
}

/* line 262, ../sass/main.scss */
.main-looks {
  border-top: 1px solid #ccc;
  padding-top: 25px;
  width: 100%;
  display: inline-block;
}
/* line 267, ../sass/main.scss */
.main-looks h2 {
  font-size: 25px;
  font-family: Georgia,serif;
  font-weight: normal;
  margin-bottom: 23px;
}
/* line 272, ../sass/main.scss */
.main-looks h2 a {
  color: #000;
}
/* line 276, ../sass/main.scss */
.main-looks .main-looks__filters {
  float: right;
  text-align: right;
  padding-top: 10px;
  white-space: nowrap;
}
/* line 281, ../sass/main.scss */
.main-looks .main-looks__filters a {
  color: #000;
  margin-left: 20px;
}

/* line 287, ../sass/main.scss */
.whyus7 {
  width: 100%;
  overflow: hidden;
  margin: 25px 0 0 0;
  font-family: Georgia,serif;
}
/* line 292, ../sass/main.scss */
.whyus7 ul {
  list-style: none;
}
/* line 295, ../sass/main.scss */
.whyus7 li {
  float: left;
  width: 113px;
  margin-right: 33px;
  position: relative;
  padding-top: 86px;
}
@media only screen and (min-width: 1180px) {
  /* line 295, ../sass/main.scss */
  .whyus7 li {
    margin-right: 47px;
    width: 127px;
  }
}
/* line 303, ../sass/main.scss */
.whyus7 li:hover .whyus7__l, .whyus7 li:hover .whyus7__r {
  border-color: #e5233a;
}
/* line 305, ../sass/main.scss */
.whyus7 li:hover .whyus7__l:before, .whyus7 li:hover .whyus7__r:before {
  background: #e5233a;
}
/* line 311, ../sass/main.scss */
.whyus7 .whyus7__l, .whyus7 .whyus7__r {
  position: absolute;
  top: 39px;
  border-top: 1px solid #d6dcdc;
  width: 33px;
  z-index: 2;
}
@media only screen and (min-width: 1180px) {
  /* line 311, ../sass/main.scss */
  .whyus7 .whyus7__l, .whyus7 .whyus7__r {
    width: 47px;
  }
}
/* line 318, ../sass/main.scss */
.whyus7 .whyus7__l:before, .whyus7 .whyus7__r:before {
  content: ' ';
  width: 11px;
  height: 11px;
  position: absolute;
  top: -6px;
  background: #d6dcdc;
  border-radius: 11px;
}
/* line 328, ../sass/main.scss */
.whyus7 .whyus7__l {
  left: -33px;
}
@media only screen and (min-width: 1180px) {
  /* line 328, ../sass/main.scss */
  .whyus7 .whyus7__l {
    left: -47px;
  }
}
/* line 331, ../sass/main.scss */
.whyus7 .whyus7__l:before {
  right: -8px;
}
/* line 335, ../sass/main.scss */
.whyus7 .whyus7__r {
  right: 0;
}
/* line 337, ../sass/main.scss */
.whyus7 .whyus7__r:before {
  left: -9px;
}
/* line 341, ../sass/main.scss */
.whyus7 .whyus7__icon {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url(../img/whyus7.png) no-repeat 0 0;
}
/* line 352, ../sass/main.scss */
.whyus7 .whyus7__1 .whyus7__icon {
  background-position: 0 0;
}
/* line 354, ../sass/main.scss */
.whyus7 .whyus7__1 .whyus7__icon:hover {
  background-position: 0 100%;
}
/* line 358, ../sass/main.scss */
.whyus7 .whyus7__1 .whyus7__l {
  display: none;
}
/* line 361, ../sass/main.scss */
.whyus7 .whyus7__2 .whyus7__icon {
  background-position: -144px 0;
}
/* line 363, ../sass/main.scss */
.whyus7 .whyus7__2 .whyus7__icon:hover {
  background-position: -144px 100%;
}
/* line 369, ../sass/main.scss */
.whyus7 .whyus7__3 .whyus7__icon {
  background-position: -288px 0;
}
/* line 371, ../sass/main.scss */
.whyus7 .whyus7__3 .whyus7__icon:hover {
  background-position: -288px 100%;
}
/* line 377, ../sass/main.scss */
.whyus7 .whyus7__4 .whyus7__icon {
  background-position: -433px 0;
}
/* line 379, ../sass/main.scss */
.whyus7 .whyus7__4 .whyus7__icon:hover {
  background-position: -433px 100%;
}
/* line 385, ../sass/main.scss */
.whyus7 .whyus7__5 .whyus7__icon {
  background-position: -578px 0;
}
/* line 387, ../sass/main.scss */
.whyus7 .whyus7__5 .whyus7__icon:hover {
  background-position: -578px 100%;
}
/* line 393, ../sass/main.scss */
.whyus7 .whyus7__6 .whyus7__icon {
  background-position: -723px 0;
}
/* line 395, ../sass/main.scss */
.whyus7 .whyus7__6 .whyus7__icon:hover {
  background-position: -723px 100%;
}
/* line 400, ../sass/main.scss */
.whyus7 .whyus7__7 {
  margin-right: 0;
}
/* line 402, ../sass/main.scss */
.whyus7 .whyus7__7 .whyus7__icon {
  background-position: 100% 0;
}
/* line 404, ../sass/main.scss */
.whyus7 .whyus7__7 .whyus7__icon:hover {
  background-position: 100% 100%;
}
/* line 408, ../sass/main.scss */
.whyus7 .whyus7__7 .whyus7__r {
  display: none;
}
/* line 412, ../sass/main.scss */
.whyus7 a {
  color: #737373;
  font-size: 12px;
  line-height: 1.4;
  display: block;
}
/* line 418, ../sass/main.scss */
.whyus7 a:hover {
  color: #000;
  text-decoration: none;
}

/* line 423, ../sass/main.scss */
.sitemap {
  display: inline-block;
  margin: 0 0 30px 0;
  width: 100%;
}
/* line 427, ../sass/main.scss */
.sitemap .sitemap__col {
  width: 225px;
  float: left;
  margin-left: 30px;
}
@media only screen and (min-width: 1180px) {
  /* line 427, ../sass/main.scss */
  .sitemap .sitemap__col {
    width: 272px;
  }
}
/* line 432, ../sass/main.scss */
.sitemap .sitemap__col:first-child {
  margin-left: 0;
}
/* line 436, ../sass/main.scss */
.sitemap .sitemap__col_last {
  position: relative;
  top: -31px;
  background: #fff;
  /*padding-top:30px; */
  margin-left: -30px;
  padding-left: 30px;
}
/* line 444, ../sass/main.scss */
.sitemap .h3 {
  margin-bottom: 14px;
}
/* line 447, ../sass/main.scss */
.sitemap iframe, .sitemap video, .sitemap object {
  width: 100%;
}

/* line 451, ../sass/main.scss */
.notes {
  font-size: 12px;
  font-style: italic;
  color: #888;
  line-height: 1.4;
  margin-top: 1em;
}
/* line 457, ../sass/main.scss */
.notes p {
  margin-top: 1em;
}
/* line 459, ../sass/main.scss */
.notes p:first-child {
  margin-top: 0;
}

/* line 464, ../sass/main.scss */
.notes_center {
  text-align: center;
}

/* line 467, ../sass/main.scss */
.subnote {
  color: #888;
  font-style: italic;
  margin-top: -15px;
  margin-bottom: 12px;
}

/* line 474, ../sass/main.scss */
.main-news {
  width: 100%;
  display: inline-block;
  margin: 30px 0;
}
/* line 478, ../sass/main.scss */
.main-news h2 {
  font-size: 25px;
  font-family: Georgia,serif;
  margin-bottom: 20px;
  font-weight: normal;
}
/* line 483, ../sass/main.scss */
.main-news h2 a {
  margin-left: 4px;
  text-decoration: none;
  color: #000;
}
/* line 489, ../sass/main.scss */
.main-news .main-news__left {
  width: 740px;
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 0;
  padding: 20px 0 27px 0;
}
@media only screen and (min-width: 1180px) {
  /* line 489, ../sass/main.scss */
  .main-news .main-news__left {
    width: 880px;
  }
}
/* line 497, ../sass/main.scss */
.main-news .main-news__right {
  width: 225px;
  float: right;
}
@media only screen and (min-width: 1180px) {
  /* line 497, ../sass/main.scss */
  .main-news .main-news__right {
    width: 272px;
  }
}
/* line 503, ../sass/main.scss */
.main-news .main-news__more {
  clear: both;
  position: relative;
  top: -4px;
}

/* line 511, ../sass/main.scss */
.main-news_noborder {
  margin-top: 0;
}
/* line 513, ../sass/main.scss */
.main-news_noborder .main-news__left {
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
  border-bottom: 0;
}

/* line 520, ../sass/main.scss */
.hr {
  margin: 30px 0;
  height: 10px;
  background: url(../img/hr.png) repeat-x 0 0;
}
/* line 524, ../sass/main.scss */
.hr hr {
  display: none;
}

/* line 528, ../sass/main.scss */
.news-item {
  float: left;
  width: 340px;
  margin-right: 30px;
  display: inline;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1180px) {
  /* line 528, ../sass/main.scss */
  .news-item {
    width: 410px;
  }
}
/* line 535, ../sass/main.scss */
.news-item .news-item__pic {
  float: left;
  width: 112px;
  height: 112px;
  margin-right: 30px;
  position: relative;
}
/* line 541, ../sass/main.scss */
.news-item .news-item__pic i {
  width: 104px;
  height: 104px;
  display: block;
  content: ' ';
  border: 4px solid #00929c;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
/* line 554, ../sass/main.scss */
.news-item .news-item__pic:hover i {
  display: block;
}
/* line 559, ../sass/main.scss */
.news-item .news-item__date {
  color: #00919e;
  font-size: 10px;
  margin-bottom: 12px;
}
/* line 563, ../sass/main.scss */
.news-item .news-item__date strong {
  display: block;
  font-size: 23px;
  font-weight: normal;
}
/* line 570, ../sass/main.scss */
.news-item h3 {
  font-size: 15px;
  font-weight: normal;
  color: #888;
  line-height: 1.5;
  overflow: hidden;
}
/* line 576, ../sass/main.scss */
.news-item h3 a {
  color: #000;
}
/* line 579, ../sass/main.scss */
.news-item h3 a:hover {
  text-decoration: none;
}

/* line 584, ../sass/main.scss */
.lookevent {
  border-bottom: 4px solid #000;
  margin-bottom: 22px;
}
/* line 587, ../sass/main.scss */
.lookevent .lookevent__carowrap {
  border-top: 1px solid #e5e5e5;
  position: relative;
  width: 100%;
}
/* line 591, ../sass/main.scss */
.lookevent .lookevent__carowrap:before {
  top: 0;
  content: ' ';
  position: absolute;
  width: 400px;
  background: rgba(255, 255, 255, 0.8);
  height: 517px;
  left: -400px;
  z-index: 20;
}
@media only screen and (min-width: 1180px) {
  /* line 591, ../sass/main.scss */
  .lookevent .lookevent__carowrap:before {
    height: 574px;
  }
}
/* line 602, ../sass/main.scss */
.lookevent .lookevent__carowrap:after {
  content: ' ';
  position: absolute;
  width: 400px;
  background: rgba(255, 255, 255, 0.8);
  height: 517px;
  right: -400px;
  bottom: 0;
  z-index: 20;
}
@media only screen and (min-width: 1180px) {
  /* line 602, ../sass/main.scss */
  .lookevent .lookevent__carowrap:after {
    height: 574px;
  }
}
/* line 614, ../sass/main.scss */
.lookevent .h2 {
  margin-bottom: 18px;
}
/* line 616, ../sass/main.scss */
.lookevent .h2 a {
  color: #000;
}
/* line 620, ../sass/main.scss */
.lookevent .item {
  float: left;
  height: 503px;
  padding-top: 14px;
  position: relative;
  border-bottom: none;
}
@media only screen and (min-width: 1180px) {
  /* line 620, ../sass/main.scss */
  .lookevent .item {
    height: 560px;
  }
}
/* line 628, ../sass/main.scss */
.lookevent .lookevent__prev, .lookevent .lookevent__next {
  position: absolute;
  top: 100px;
  width: 20px;
  height: 100px;
  cursor: pointer;
  z-index: 200;
  top: 159px;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 117px;
  height: 100%;
  height: 517px;
}
@media only screen and (min-width: 1180px) {
  /* line 628, ../sass/main.scss */
  .lookevent .lookevent__prev, .lookevent .lookevent__next {
    height: 574px;
  }
}
/* line 646, ../sass/main.scss */
.lookevent .lookevent__prev {
  left: -27px;
  background: url(../img/le-prev.png) no-repeat 50% 50%;
}
/* line 647, ../sass/main.scss */
.lookevent .lookevent__next {
  right: -29px;
  background: url(../img/le-next.png) no-repeat 50% 50%;
}
/* line 648, ../sass/main.scss */
.lookevent .lookevent__caro {
  width: 100%;
  height: 517px;
  position: relative;
}
@media only screen and (min-width: 1180px) {
  /* line 648, ../sass/main.scss */
  .lookevent .lookevent__caro {
    height: 574px;
  }
}
/* line 654, ../sass/main.scss */
.lookevent .lookevent__slides {
  width: 2000em;
  position: absolute;
  margin-left: -11px;
}
