@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* HOW TO USE SPRITES*/
/*.whatever{@include sized-sprite($icons, badge_hit);}*/
/* TRANSITION */
/* line 2, ../sass/order.scss */
.header_order {
  background: none;
}
/* line 4, ../sass/order.scss */
.header_order .header__col1 {
  float: right;
  padding: 32px 40px 0 0;
}
/* line 9, ../sass/order.scss */
.header_order .header__info .header__phone {
  color: #22a9e5;
  font-size: 23px;
  margin-top: -5px;
}
/* line 14, ../sass/order.scss */
.header_order .header__info .header__callback {
  margin-top: 1px;
}

/* line 19, ../sass/order.scss */
.bc .actual {
  font-weight: bold;
}

/* line 22, ../sass/order.scss */
.delivery {
  float: left;
  width: 444px;
  padding: 22px 30px 16px 36px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  min-height: 397px;
}
/* line 30, ../sass/order.scss */
.delivery h1 {
  font-size: 24px;
  color: #494949;
}
/* line 34, ../sass/order.scss */
.delivery p {
  color: #494949;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 19px;
}
/* line 40, ../sass/order.scss */
.delivery .row {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
}
/* line 44, ../sass/order.scss */
.delivery .row label {
  font-size: 14px;
  color: #000;
  float: left;
  width: 195px;
  margin-top: 6px;
}
/* line 51, ../sass/order.scss */
.delivery .row span {
  display: block;
  font-size: 11px;
  color: #707070;
  clear: both;
}
/* line 58, ../sass/order.scss */
.delivery .input {
  float: left;
  width: 238px;
  padding: 4px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  color: #7b7b7b;
  font-size: 15px;
  line-height: 17px;
  height: 17px;
  font-style: normal;
}
/* line 70, ../sass/order.scss */
.delivery .select {
  float: left;
  padding: 4px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  width: 126px;
  position: relative;
  margin-bottom: 6px;
}
/* line 78, ../sass/order.scss */
.delivery .select div {
  color: #000;
  font-size: 12px;
  line-height: 17px;
}
/* line 83, ../sass/order.scss */
.delivery .select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 134px;
  height: 25px;
  opacity: 0;
}
/* line 91, ../sass/order.scss */
.delivery .select .select__btn {
  float: right;
  width: 23px;
  height: 23px;
  line-height: 23px;
  padding: 0;
  margin: -4px -4px -4px 0;
  text-align: center;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
}
/* line 101, ../sass/order.scss */
.delivery .select .select__arr {
  background: url('../img/icons-se9094506d4.png') 0 -1075px no-repeat;
  width: 10px;
  height: 8px;
  display: inline-block;
}
/* line 106, ../sass/order.scss */
.delivery .input_125 {
  width: 118px;
}
/* line 109, ../sass/order.scss */
.delivery .input_30 {
  width: 26px;
  padding: 4px 2px;
  margin-right: 3px;
}
/* line 114, ../sass/order.scss */
.delivery .input_212 {
  width: 204px;
}
/* line 117, ../sass/order.scss */
.delivery .row_radio {
  margin-bottom: 3px;
  position: relative;
}
/* line 120, ../sass/order.scss */
.delivery .row_radio .radio {
  float: left;
  margin: 2px 7px 0 2px;
}
/* line 124, ../sass/order.scss */
.delivery .row_radio label {
  width: 290px;
  margin: 0;
}
/* line 128, ../sass/order.scss */
.delivery .row_radio .input {
  position: absolute;
  right: 0;
  top: -4px;
}
/* line 134, ../sass/order.scss */
.delivery .row-group {
  padding-top: 15px;
}
/* line 137, ../sass/order.scss */
.delivery .row-group .row label {
  margin-top: -2px;
}
/* line 142, ../sass/order.scss */
.delivery .row_btn {
  margin: 9px 2px 0 129px;
}
/* line 145, ../sass/order.scss */
.delivery .btn {
  font-size: 14px;
  height: 49px;
  line-height: 18px;
  margin-bottom: 8px;
  padding-left: 27px;
  padding-right: 75px;
  position: relative;
  text-align: left;
}
/* line 154, ../sass/order.scss */
.delivery .btn .btn__arr {
  background: url('../img/icons-se9094506d4.png') 0 -66px no-repeat;
  width: 34px;
  height: 35px;
  position: absolute;
  display: block;
  right: 15px;
  top: 6px;
}
/* line 162, ../sass/order.scss */
.delivery .link-legal {
  margin-left: 129px;
}

/* line 166, ../sass/order.scss */
.mark-blue {
  color: #22a9e5!important;
  display: inline;
  font-style: normal;
}

/* line 172, ../sass/order.scss */
.terms {
  width: 455px;
  float: right;
}

/* line 176, ../sass/order.scss */
.terms__order, .terms__delivery {
  background: #f2f2f2;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  color: #000;
}

/* line 182, ../sass/order.scss */
.terms__order {
  margin-bottom: 9px;
  padding: 7px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
/* line 188, ../sass/order.scss */
.terms__order h2 {
  font-size: 18px;
}
/* line 192, ../sass/order.scss */
.terms__order strong {
  font-size: 21px;
  color: #22a9e5;
  font-weight: normal;
}

/* line 198, ../sass/order.scss */
.terms__delivery {
  padding: 12px 6px 0 12px;
  min-height: 351px;
}
/* line 201, ../sass/order.scss */
.terms__delivery h2 {
  font-size: 14px;
  color: #000;
  text-align: center;
  line-height: 1.1;
  margin: 0 6px 8px 0;
}
/* line 208, ../sass/order.scss */
.terms__delivery h3 {
  font-size: 13px;
  margin-bottom: 5px;
}
/* line 212, ../sass/order.scss */
.terms__delivery ul {
  list-style: none;
  font-size: 11px;
  padding: 0 0 0 15px;
  margin-bottom: 14px;
}
/* line 218, ../sass/order.scss */
.terms__delivery li {
  background: url(../img/bullet.png) no-repeat 0 4px;
  padding: 0 0 0 7px;
  margin-bottom: 2px;
}
/* line 222, ../sass/order.scss */
.terms__delivery li span {
  display: block;
  margin: 6px 0 0 17px;
}

/* line 229, ../sass/order.scss */
.order {
  margin-top: 22px;
}
/* line 232, ../sass/order.scss */
.order .order__holder {
  padding: 13px 15px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}
/* line 238, ../sass/order.scss */
.order h2 {
  font-size: 18px;
  margin: 0 15px 6px;
}
/* line 242, ../sass/order.scss */
.order .ot {
  border-collapse: collapse;
  border-spacing: 0;
  width: 968px;
}
/* line 246, ../sass/order.scss */
.order .ot th {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 5px;
}
/* line 251, ../sass/order.scss */
.order .ot td {
  font-size: 14px;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  height: 60px;
}
/* line 257, ../sass/order.scss */
.order .ot .ot__col1 {
  width: 80px;
  padding-left: 15px;
}
/* line 261, ../sass/order.scss */
.order .ot .ot__col2 {
  text-align: left;
  width: 455px;
}
/* line 265, ../sass/order.scss */
.order .ot .ot__col3 {
  width: 151px;
}
/* line 268, ../sass/order.scss */
.order .ot .ot__col4 {
  padding-right: 15px;
}
/* line 271, ../sass/order.scss */
.order .ot .ot__num {
  width: 28px;
  height: 20px;
  padding: 5px 2px;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 0 1px #ececec inset, 0 0 0 2px #e3e3e3 inset;
  text-align: center;
  font-weight: normal;
  color: #6b6b6b;
}
/* line 283, ../sass/order.scss */
.order .ot .price-block {
  float: none;
  display: inline-block;
  width: 130px;
}
/* line 287, ../sass/order.scss */
.order .ot .price-block span {
  width: 40px;
}
/* line 288, ../sass/order.scss */
.order .ot .price-block strong {
  font-weight: bold;
}
