.header_order { background: none; }
.header_order .header__col1 { float: right; padding: 32px 40px 0 0; }
.header_order .header__info .header__phone { color: #22a9e5; font-size: 23px; margin-top: -5px; }
.header_order .header__info .header__callback { margin-top: 1px; }

.bc .actual { font-weight: bold; }

.delivery { float: left; width: 444px; padding: 22px 30px 87px 36px; background: #fff; border-radius: 5px; border: 1px solid #e3e3e3; min-height: 326px; position: relative; }
.delivery h1 { font-size: 24px; color: #494949; }
.delivery p { color: #494949; font-size: 12px; font-weight: bold; }
.delivery form { margin-top: 19px; }
.delivery .row { display: inline-block; width: 100%; position: relative; margin-bottom: 8px; }
.delivery .row label { font-size: 14px; color: #000; float: left; width: 195px; margin-top: 6px; }
.delivery .row span { display: block; font-size: 11px; color: #707070; clear: both; }
.delivery .input { float: left; width: 238px; padding: 4px; border: 1px solid #e3e3e3; border-radius: 3px; color: #7b7b7b; font-size: 15px; line-height: 17px; height: 17px; font-style: normal; }
.delivery .select { float: left; padding: 4px; border: 1px solid #e3e3e3; border-radius: 3px; width: 126px; position: relative; margin-bottom: 6px; }
.delivery .select div { color: #000; font-size: 12px; line-height: 17px; }
.delivery .select select { position: absolute; top: 0; left: 0; width: 134px; height: 25px; opacity: 0; }
.delivery .select .select__btn { float: right; width: 23px; height: 23px; line-height: 23px; padding: 0; margin: -4px -4px -4px 0; text-align: center; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset; }
.delivery .select .select__arr { background: url('../img/icons-s1160580db0.png') 0 -95px no-repeat; width: 10px; height: 8px; display: inline-block; }
.delivery .input_212 { width: 204px; }
.delivery .input_125 { width: 118px; }
.delivery .input_69 { width: 61px; }
.delivery .input_30 { width: 26px; padding: 4px 2px; margin-right: 3px; }
.delivery .row_radio { margin-bottom: 3px; position: relative; }
.delivery .row_radio .radio { float: left; margin: 2px 7px 0 2px; }
.delivery .row_radio label { width: 290px; margin: 0; }
.delivery .row_radio .input { position: absolute; right: 0; top: -4px; }
.delivery .row_radio span { margin-left: 22px; }
.delivery .row-group { padding-top: 15px; }
.delivery .row-group .row label { margin-top: -2px; }
.delivery .row_radio-group { padding: 9px 0; }
.delivery .row_radio-group .row { margin: -8px 0 14px 22px; }
.delivery .row_radio-group .row label { width: 175px; }
.delivery .row_radio-group .row_radio { margin: 0 0 12px; }
.delivery .row_radio-group .row_radio label { width: auto; }
.delivery .row_btn { padding: 0 32px 0 165px; position: absolute; left: 0; bottom: 16px; height: 71px; }
.delivery .btn { font-size: 14px; height: 49px; line-height: 18px; margin-bottom: 8px; padding-left: 27px; padding-right: 75px; position: relative; text-align: left; border-radius: 4px; }
.delivery .btn .btn__arr { background: url('../img/icons-s1160580db0.png') 0 -582px no-repeat; width: 34px; height: 35px; position: absolute; display: block; right: 15px; top: 6px; }
.delivery .link-legal { margin-left: 129px; }

.mark-blue { color: #22a9e5 !important; display: inline; font-style: normal; }

.terms { width: 474px; float: right; }

.terms__order, .terms__delivery { background: #f2f2f2; border: 1px solid #e3e3e3; border-radius: 5px; color: #000; }

.terms__order { margin-bottom: 9px; padding: 7px 0; text-align: center; font-size: 14px; font-weight: bold; }
.terms__order h2 { font-size: 18px; }
.terms__order strong { font-size: 21px; color: #22a9e5; font-weight: normal; }

.terms__delivery { padding: 12px 6px 0 12px; min-height: 351px; }
.terms__delivery h2 { font-size: 14px; color: #000; text-align: center; line-height: 1.1; margin: 0 6px 8px 0; }
.terms__delivery h3 { font-size: 13px; margin-bottom: 5px; }
.terms__delivery ul { list-style: none; font-size: 11px; padding: 0 0 0 15px; margin-bottom: 14px; }
.terms__delivery li { background: url(../img/bullet.png) no-repeat 0 4px; padding: 0 0 0 7px; margin-bottom: 2px; }
.terms__delivery li span { display: block; margin: 6px 0 0 17px; }
.terms__delivery li a { color: #22A9E5; text-decoration: none; border-bottom: 1px dotted; }
.terms__delivery li a:hover { border-color: transparent; }

.order { margin: 22px 0 30px; display: inline-block; width: 100%; }
.order .order__holder { padding: 13px 15px 11px; background: #fff; border-radius: 5px; border: 1px solid #e3e3e3; }
.order h1 { font-size: 24px; color: #494949; }
.order h2 { font-size: 18px; margin: 0 15px 6px; }
.order .ot { border-collapse: collapse; border-spacing: 0; width: 968px; }
.order .ot th { font-size: 14px; font-weight: normal; padding-bottom: 5px; }
.order .ot td { font-size: 14px; border-top: 1px solid #e3e3e3; text-align: center; height: 60px; }
.order .ot .ot__col1 { width: 80px; padding-left: 15px; }
.order .ot .ot__col2 { text-align: left; width: 430px; padding-left: 25px; }
.order .ot .ot__col3 { width: 151px; }
.order .ot .ot__col4 { padding-right: 15px; width: 252px; }
.order .ot .ot_col2_delivery strong { font-weight: normal; font-size: 18px; color: #3c3c3c; display: inline-block; margin-left: 260px; }
.order .ot .ot__num { width: 28px; height: 20px; padding: 5px 2px; font-size: 18px; line-height: 20px; border: 1px solid #dbdbdb; box-shadow: 0 0 0 1px #ececec inset, 0 0 0 2px #e3e3e3 inset; text-align: center; font-weight: normal; color: #6b6b6b; }
.order .ot .price-block { float: none; display: inline-block; width: 130px; }
.order .ot .price-block span { width: 40px; }
.order .ot .price-block strong { font-weight: bold; font-size: 16px; }
.order .ot .price-block strong i { font-size: 12px; }
.order .ot .price-block_delivery strong { border-radius: 3px; width: 130px; }

.order__bcol1 { float: left; margin-left: 446px; padding-top: 10px; }
.order__bcol1 strong { font-size: 18px; color: #000; display: block; margin-bottom: 1px; }
.order__bcol1 span { font-size: 14px; color: #7b7b7b; display: block; margin-bottom: 9px; }
.order__bcol1 a { font-size: 12px; color: #0078c6; }
.order__bcol1 .loader { display: inline-block; background: url('../img/icons-s1160580db0.png') 0 -1263px no-repeat; width: 16px; height: 14px; position: relative; top: 3px; margin-right: 4px; }
.order__bcol1 .with-delivery { color: #000; margin-bottom: 2px; }
.order__bcol1 .with-delivery em { font-weight: bold; }

.order__bcol2 { float: right; width: 222px; }
.order__bcol2 .price-block { width: 175px; float: none; overflow: hidden; margin-bottom: 9px; border-radius: 0; }
.order__bcol2 .price-block strong { width: 110px; font-weight: bold; height: 47px; line-height: 47px; font-size: 20px; border-radius: 0 0 0 3px; }
.order__bcol2 .price-block strong i { font-size: 14px; }
.order__bcol2 .price-block span { width: 65px; height: 47px; line-height: 47px; border-radius: 0 0 3px 0; font-size: 14px; }
.order__bcol2 .promo-star { background: url('../img/icons-s1160580db0.png') 0 -1944px no-repeat; width: 16px; height: 15px; display: inline-block; margin-right: 6px; position: relative; top: 2px; }
.order__bcol2 a { color: #0077cd; }
.order__bcol2 .order__credit { font-weight: bold; margin-top: 7px; }

.order_big { margin-bottom: 10px; }
.order_big .order__holder { padding-top: 18px; }
.order_big h2 { margin-left: 13px; }
.order_big h1 { margin-left: 13px; margin-bottom: 14px; }

.recount { border-top: 1px solid #e3e3e3; margin: 0 0 29px; }
.recount .btn-recount { font-size: 16px; background: #d9d9d9; border-radius: 0 0 3px 3px; width: 130px; text-align: center; height: 29px; line-height: 29px; margin: 0 75px 0 auto; display: block; cursor: pointer; border: 0; }

.forgot { border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; display: inline-block; width: 100%; position: relative; padding: 9px 0 47px; }
.forgot .btn { font-size: 11px; position: absolute; bottom: 15px; left: 0; height: 24px; line-height: 1; }

.order__inf { font-size: 14px; color: #7a7a7a; float: right; width: 453px; padding: 2px 0 0; }
.order__inf p { margin-bottom: 12px; }
.order__inf .btn { left: 516px; padding: 0 17px; }

.forgot-form { float: left; width: 400px; }
.forgot-form h2 { margin-bottom: 16px; }
.forgot-form form { padding: 0 0 0 13px; }
.forgot-form .row { display: inline-block; width: 100%; position: relative; }
.forgot-form .row .check { float: left; margin-right: 7px; }
.forgot-form .row label { float: left; font-size: 14px; }
.forgot-form .btn { left: 14px; padding: 0 4px; }

.btn_confirm { height: 47px; line-height: 47px; font-size: 18px; width: 311px; padding: 0; text-align: center; margin: 14px 140px 7px auto; display: block; }

.sp-offer { margin-bottom: 30px; }
.sp-offer h2 { font-size: 18px; color: #000; margin: 0 0 1px 40px; }
.sp-offer p { font-size: 15px; color: #000; margin-left: 40px; }
.sp-offer .sp-offer__inf { float: left; width: 633px; }
.sp-offer .sp-offer__img { float: left; width: 255px; padding-right: 80px; text-align: center; overflow: hidden; line-height: 151px; }
.sp-offer .sp-offer__img img { vertical-align: middle; min-height: 151px; max-width: 255px; }
.sp-offer .sp-offer__holder { display: inline-block; width: 968px; background: #fff; border: 1px solid #E3E3E3; border-radius: 5px; padding: 30px 15px 24px; font-size: 16px; margin-top: 5px; }
.sp-offer .sp-offer__holder h2 { font-size: 16px; font-weight: bold; margin: 0 0 3px; }
.sp-offer .sp-offer__holder p { margin: 0 0 10px; }
.sp-offer .sp-offer__holder strong { display: block; margin-bottom: 10px; }
.sp-offer .sp-offer__holder .btn { font-size: 18px; width: 134px; padding: 0; height: 39px; float: none; display: block; margin-bottom: 14px; }
.sp-offer .sp-offer__holder .days-counter-holder { float: right; padding: 7px 35px 0 0; }
.sp-offer .sp-offer__holder .days-counter-holder p { margin-bottom: 3px; }
.sp-offer .check-row { font-size: 14px; padding-left: 5px; }
.sp-offer .check-row input { position: relative; top: 2px; }

.days-counter-holder p { margin-bottom: 3px; }

.days-counter .days-counter__d, .days-counter .days-counter__h, .days-counter .days-counter__m { float: left; }
.days-counter .days-counter__d div, .days-counter .days-counter__h div, .days-counter .days-counter__m div { float: left; border: 1px solid #000; border-radius: 2px; background: #a5a5a5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E1YTVhNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-linear-gradient(top, #ffffff 0%, #a5a5a5 100%); background-image: -moz-linear-gradient(top, #ffffff 0%, #a5a5a5 100%); background-image: -o-linear-gradient(top, #ffffff 0%, #a5a5a5 100%); background-image: linear-gradient(to bottom, #ffffff 0%, #a5a5a5 100%); height: 28px; width: 20px; text-align: center; line-height: 28px; font-size: 27px; margin: 0 1px 0 0; font-family: "Myriad pro Semibold", 'Myriad Pro', Helvetica, Arial, sans-serif; text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff 1px -1px 0,#fff -1px 1px 0; vertical-align: middle; }
.days-counter .days-counter__d span, .days-counter .days-counter__h span, .days-counter .days-counter__m span { display: block; color: #777; font-size: 12px; text-align: center; clear: both; }
.days-counter .days-counter__d { color: #ea0000; margin-right: 13px; }
.days-counter .days-counter__d span { color: #777; }
.days-counter .days-counter__h { margin-right: 2px; }

.st-well-ico { position: absolute; background: url('../img/icons-s1160580db0.png') 0 -2143px no-repeat; width: 14px; height: 14px; top: 6px; right: -19px; display: none; }

.st-well .st-well-ico { display: block; }

.st-err { /*padding-bottom:6px;*/ }
.st-err .input { border-color: #fe2222; }
.st-err .t-err__mess { display: block; }

.t-err__mess { color: #fe2222; font-size: 10px; font-weight: normal; position: absolute; bottom: -10px; left: 195px; display: none; }
