@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* HOW TO USE SPRITES*/
/*.whatever{@include sized-sprite($icons, badge_hit);}*/
/* TRANSITION */
/* line 2, ../sass/order.scss */
.header_order {
  background: none;
}
/* line 4, ../sass/order.scss */
.header_order .header__col1 {
  float: right;
  padding: 32px 40px 0 0;
}
/* line 9, ../sass/order.scss */
.header_order .header__info .header__phone {
  color: #22a9e5;
  font-size: 23px;
  margin-top: -5px;
}
/* line 14, ../sass/order.scss */
.header_order .header__info .header__callback {
  margin-top: 1px;
}

/* line 19, ../sass/order.scss */
.bc .actual {
  font-weight: bold;
}

/* line 22, ../sass/order.scss */
.delivery {
  float: left;
  width: 444px;
  padding: 22px 30px 87px 36px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  min-height: 326px;
  position: relative;
}
/* line 31, ../sass/order.scss */
.delivery h1 {
  font-size: 24px;
  color: #494949;
}
/* line 35, ../sass/order.scss */
.delivery p {
  color: #494949;
  font-size: 12px;
  font-weight: bold;
}
/* line 40, ../sass/order.scss */
.delivery form {
  margin-top: 19px;
}
/* line 41, ../sass/order.scss */
.delivery .row {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
}
/* line 45, ../sass/order.scss */
.delivery .row label {
  font-size: 14px;
  color: #000;
  float: left;
  width: 195px;
  margin-top: 6px;
}
/* line 52, ../sass/order.scss */
.delivery .row span {
  display: block;
  font-size: 11px;
  color: #707070;
  clear: both;
}
/* line 59, ../sass/order.scss */
.delivery .input {
  float: left;
  width: 238px;
  padding: 4px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  color: #7b7b7b;
  font-size: 15px;
  line-height: 17px;
  height: 17px;
  font-style: normal;
}
/* line 71, ../sass/order.scss */
.delivery .select {
  float: left;
  padding: 4px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  width: 126px;
  position: relative;
  margin-bottom: 6px;
}
/* line 79, ../sass/order.scss */
.delivery .select div {
  color: #000;
  font-size: 12px;
  line-height: 17px;
}
/* line 84, ../sass/order.scss */
.delivery .select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 134px;
  height: 25px;
  opacity: 0;
}
/* line 92, ../sass/order.scss */
.delivery .select .select__btn {
  float: right;
  width: 23px;
  height: 23px;
  line-height: 23px;
  padding: 0;
  margin: -4px -4px -4px 0;
  text-align: center;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
}
/* line 102, ../sass/order.scss */
.delivery .select .select__arr {
  background: url('../img/icons-s226e74a8da.png') 0 -1104px no-repeat;
  width: 10px;
  height: 8px;
  display: inline-block;
}
/* line 107, ../sass/order.scss */
.delivery .input_125 {
  width: 118px;
}
/* line 110, ../sass/order.scss */
.delivery .input_30 {
  width: 26px;
  padding: 4px 2px;
  margin-right: 3px;
}
/* line 115, ../sass/order.scss */
.delivery .input_212 {
  width: 204px;
}
/* line 118, ../sass/order.scss */
.delivery .row_radio {
  margin-bottom: 3px;
  position: relative;
}
/* line 121, ../sass/order.scss */
.delivery .row_radio .radio {
  float: left;
  margin: 2px 7px 0 2px;
}
/* line 125, ../sass/order.scss */
.delivery .row_radio label {
  width: 290px;
  margin: 0;
}
/* line 129, ../sass/order.scss */
.delivery .row_radio .input {
  position: absolute;
  right: 0;
  top: -4px;
}
/* line 134, ../sass/order.scss */
.delivery .row_radio span {
  margin-left: 22px;
}
/* line 138, ../sass/order.scss */
.delivery .row-group {
  padding-top: 15px;
}
/* line 141, ../sass/order.scss */
.delivery .row-group .row label {
  margin-top: -2px;
}
/* line 146, ../sass/order.scss */
.delivery .row_radio-group {
  padding: 9px 0;
}
/* line 148, ../sass/order.scss */
.delivery .row_radio-group .row_radio {
  margin-bottom: 12px;
}
/* line 150, ../sass/order.scss */
.delivery .row_radio-group .row_radio label {
  width: auto;
}
/* line 153, ../sass/order.scss */
.delivery .row_btn {
  padding: 0 32px 0 165px;
  position: absolute;
  left: 0;
  bottom: 16px;
  height: 71px;
}
/* line 160, ../sass/order.scss */
.delivery .btn {
  font-size: 14px;
  height: 49px;
  line-height: 18px;
  margin-bottom: 8px;
  padding-left: 27px;
  padding-right: 75px;
  position: relative;
  text-align: left;
  border-radius: 4px;
}
/* line 170, ../sass/order.scss */
.delivery .btn .btn__arr {
  background: url('../img/icons-s226e74a8da.png') 0 -66px no-repeat;
  width: 34px;
  height: 35px;
  position: absolute;
  display: block;
  right: 15px;
  top: 6px;
}
/* line 178, ../sass/order.scss */
.delivery .link-legal {
  margin-left: 129px;
}

/* line 182, ../sass/order.scss */
.mark-blue {
  color: #22a9e5!important;
  display: inline;
  font-style: normal;
}

/* line 188, ../sass/order.scss */
.terms {
  width: 474px;
  float: right;
}

/* line 192, ../sass/order.scss */
.terms__order, .terms__delivery {
  background: #f2f2f2;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  color: #000;
}

/* line 198, ../sass/order.scss */
.terms__order {
  margin-bottom: 9px;
  padding: 7px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
/* line 204, ../sass/order.scss */
.terms__order h2 {
  font-size: 18px;
}
/* line 208, ../sass/order.scss */
.terms__order strong {
  font-size: 21px;
  color: #22a9e5;
  font-weight: normal;
}

/* line 214, ../sass/order.scss */
.terms__delivery {
  padding: 12px 6px 0 12px;
  min-height: 351px;
}
/* line 217, ../sass/order.scss */
.terms__delivery h2 {
  font-size: 14px;
  color: #000;
  text-align: center;
  line-height: 1.1;
  margin: 0 6px 8px 0;
}
/* line 224, ../sass/order.scss */
.terms__delivery h3 {
  font-size: 13px;
  margin-bottom: 5px;
}
/* line 228, ../sass/order.scss */
.terms__delivery ul {
  list-style: none;
  font-size: 11px;
  padding: 0 0 0 15px;
  margin-bottom: 14px;
}
/* line 234, ../sass/order.scss */
.terms__delivery li {
  background: url(../img/bullet.png) no-repeat 0 4px;
  padding: 0 0 0 7px;
  margin-bottom: 2px;
}
/* line 238, ../sass/order.scss */
.terms__delivery li span {
  display: block;
  margin: 6px 0 0 17px;
}
/* line 242, ../sass/order.scss */
.terms__delivery li a {
  color: #22A9E5;
  text-decoration: none;
  border-bottom: 1px dotted;
}
/* line 246, ../sass/order.scss */
.terms__delivery li a:hover {
  border-color: transparent;
}

/* line 253, ../sass/order.scss */
.order {
  margin: 22px 0 30px;
  display: inline-block;
  width: 100%;
}
/* line 257, ../sass/order.scss */
.order .order__holder {
  padding: 13px 15px 11px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}
/* line 263, ../sass/order.scss */
.order h2 {
  font-size: 18px;
  margin: 0 15px 6px;
}
/* line 267, ../sass/order.scss */
.order .ot {
  border-collapse: collapse;
  border-spacing: 0;
  width: 968px;
}
/* line 271, ../sass/order.scss */
.order .ot th {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 5px;
}
/* line 276, ../sass/order.scss */
.order .ot td {
  font-size: 14px;
  border-top: 1px solid #e3e3e3;
  text-align: center;
  height: 60px;
}
/* line 282, ../sass/order.scss */
.order .ot .ot__col1 {
  width: 80px;
  padding-left: 15px;
}
/* line 286, ../sass/order.scss */
.order .ot .ot__col2 {
  text-align: left;
  width: 430px;
  padding-left: 25px;
}
/* line 291, ../sass/order.scss */
.order .ot .ot__col3 {
  width: 151px;
}
/* line 294, ../sass/order.scss */
.order .ot .ot__col4 {
  padding-right: 15px;
  width: 252px;
}
/* line 298, ../sass/order.scss */
.order .ot .ot__num {
  width: 28px;
  height: 20px;
  padding: 5px 2px;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 0 1px #ececec inset, 0 0 0 2px #e3e3e3 inset;
  text-align: center;
  font-weight: normal;
  color: #6b6b6b;
}
/* line 310, ../sass/order.scss */
.order .ot .price-block {
  float: none;
  display: inline-block;
  width: 130px;
}
/* line 314, ../sass/order.scss */
.order .ot .price-block span {
  width: 40px;
}
/* line 315, ../sass/order.scss */
.order .ot .price-block strong {
  font-weight: bold;
  font-size: 16px;
}
/* line 318, ../sass/order.scss */
.order .ot .price-block strong i {
  font-size: 12px;
}

/* line 325, ../sass/order.scss */
.order__bcol1 {
  float: left;
  margin-left: 446px;
  padding-top: 10px;
}
/* line 329, ../sass/order.scss */
.order__bcol1 strong {
  font-size: 18px;
  color: #000;
  display: block;
  margin-bottom: 1px;
}
/* line 335, ../sass/order.scss */
.order__bcol1 span {
  font-size: 14px;
  color: #7b7b7b;
  display: block;
  margin-bottom: 9px;
}
/* line 341, ../sass/order.scss */
.order__bcol1 a {
  font-size: 12px;
  color: #0078c6;
}
/* line 345, ../sass/order.scss */
.order__bcol1 .loader {
  display: inline-block;
  background: url('../img/icons-s226e74a8da.png') 0 -193px no-repeat;
  width: 16px;
  height: 14px;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

/* line 353, ../sass/order.scss */
.order__bcol2 {
  float: right;
  width: 222px;
}
/* line 356, ../sass/order.scss */
.order__bcol2 .price-block {
  width: 175px;
  float: none;
  overflow: hidden;
  margin-bottom: 9px;
  border-radius: 0;
}
/* line 362, ../sass/order.scss */
.order__bcol2 .price-block strong {
  width: 110px;
  font-weight: bold;
  height: 47px;
  line-height: 47px;
  font-size: 20px;
  border-radius: 0 0 0 3px;
}
/* line 369, ../sass/order.scss */
.order__bcol2 .price-block strong i {
  font-size: 14px;
}
/* line 373, ../sass/order.scss */
.order__bcol2 .price-block span {
  width: 65px;
  height: 47px;
  line-height: 47px;
  border-radius: 0 0 3px 0;
  font-size: 14px;
}
/* line 382, ../sass/order.scss */
.order__bcol2 .promo-star {
  background: url('../img/icons-s226e74a8da.png') 0 -178px no-repeat;
  width: 16px;
  height: 15px;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 2px;
}
/* line 389, ../sass/order.scss */
.order__bcol2 a {
  color: #0077cd;
}
/* line 393, ../sass/order.scss */
.order__bcol2 .order__credit {
  font-weight: bold;
  margin-top: 7px;
}
