@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* HOW TO USE SPRITES*/
/*.whatever{@include sized-sprite($icons, badge_hit);}*/
/* constants */
/* line 11, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 12, ../sass/common.scss */
header, footer, nav, aside {
  display: block;
}

/* line 13, ../sass/common.scss */
body {
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  background: #f8f8f8;
  overflow: scroll;
  color: #000;
}

/* resets */
/* line 25, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 26, ../sass/common.scss */
a {
  color: #0078c6;
}
/* line 28, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 32, ../sass/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/* line 38, ../sass/common.scss */
.out {
  width: 1000px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

/* line 45, ../sass/common.scss */
.arr-right {
  background: url('../img/icons-s22e919653a.png') 0 -66px no-repeat;
  width: 7px;
  height: 10px;
  display: block;
}

/* line 49, ../sass/common.scss */
.arr-down {
  background: url('../img/icons-s22e919653a.png') 0 -449px no-repeat;
  width: 11px;
  height: 7px;
}

/* .top-menu */
/* line 54, ../sass/common.scss */
.top-menu {
  background: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  text-align: center;
  height: 26px;
}
/* line 59, ../sass/common.scss */
.top-menu ul {
  list-style: none;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
/* line 66, ../sass/common.scss */
.top-menu li {
  float: left;
  font-size: 11px;
  color: #4d4d4d;
  height: 26px;
  line-height: 26px;
  border-right: 1px solid #fff;
  box-shadow: -1px 0 0 #d8d8d8 inset;
  width: 198px;
}
/* line 75, ../sass/common.scss */
.top-menu li:first-child {
  border-left: 1px solid #fff;
  box-shadow: -1px 0 0 #d8d8d8, -1px 0 0 #d8d8d8 inset;
}
/* line 79, ../sass/common.scss */
.top-menu li a {
  color: #4d4d4d;
  text-decoration: none;
  display: block;
}
/* line 83, ../sass/common.scss */
.top-menu li a:hover {
  text-decoration: underline;
}
/* line 86, ../sass/common.scss */
.top-menu .top-menu__arrow {
  background: url('../img/icons-s22e919653a.png') 0 -423px no-repeat;
  width: 9px;
  height: 26px;
  display: inline-block;
  margin: 0 0 -10px 5px;
}
/* line 91, ../sass/common.scss */
.top-menu .top-menu__key {
  background: url('../img/icons-s22e919653a.png') 0 -397px no-repeat;
  width: 7px;
  height: 26px;
  display: inline-block;
  margin: 0 0 -10px 5px;
}

/* header */
/* line 100, ../sass/common.scss */
.header {
  display: inline-block;
  width: 100%;
  margin-bottom: 11px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(70%, #f8f8f8), color-stop(78%, #efeff0), color-stop(93%, #d3d4d7), color-stop(99%, #cbccd0), color-stop(100%, #c1c2c5));
  background-image: -webkit-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: -moz-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: -o-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
}

/* line 106, ../sass/common.scss */
.header__holder {
  width: 1000px;
  margin: 0 auto;
  padding: 16px 0 9px 2px;
  height: 72px;
}

/* line 112, ../sass/common.scss */
.header__logo {
  background: url('../img/icons-s22e919653a.png') 0 0 no-repeat;
  width: 179px;
  height: 66px;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 58px;
}
/* line 118, ../sass/common.scss */
.header__logo a {
  height: 100%;
  display: block;
}

/* line 123, ../sass/common.scss */
.header__col1 {
  float: left;
  padding-top: 6px;
}

/* line 127, ../sass/common.scss */
.header__col2 {
  float: left;
  margin-left: 49px;
}

/* line 131, ../sass/common.scss */
.header__info {
  color: #3c3c3c;
  overflow: hidden;
}
/* line 134, ../sass/common.scss */
.header__info .header__worktime {
  float: left;
  font-size: 12px;
}
/* line 138, ../sass/common.scss */
.header__info .header__phone {
  font-size: 19px;
  font-weight: bold;
  margin: -1px 0 0 7px;
  float: left;
}
/* line 144, ../sass/common.scss */
.header__info .header__callback {
  margin: 3px 0 0 11px;
  font-size: 13px;
  color: #3c3c3c;
  text-decoration: none;
  border-bottom: 1px dotted #3c3c3c;
  float: left;
}
/* line 151, ../sass/common.scss */
.header__info .header__callback:hover {
  border: none;
}

/* line 155, ../sass/common.scss */
.header__search {
  border: 1px solid #dbdbdb;
  background: #ececec;
  border-radius: 3px;
  padding: 3px;
  position: relative;
  margin-top: 8px;
  width: 517px;
}
/* line 163, ../sass/common.scss */
.header__search .header__search-input {
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  background: #fff;
  width: 478px;
  padding: 6px;
  font-size: 11px;
  line-height: 14px;
  color: #6d6d6d;
  height: 14px;
}
/* line 173, ../sass/common.scss */
.header__search .header__search-input:focus {
  border-color: #2697de;
  box-shadow: 0 0 0 1px #23a8e4 inset;
}
/* line 178, ../sass/common.scss */
.header__search .header__search-btn {
  border-radius: 2px;
  border: 1px solid #2696de;
  background: url('../img/icons-s22e919653a.png') 0 -98px no-repeat;
  width: 28px;
  height: 28px;
  box-shadow: 0 1px 0 0 #3bc9ef inset;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}
/* line 190, ../sass/common.scss */
.header__search .suggest {
  position: absolute;
  top: 31px;
  left: 3px;
  z-index: 30;
  background: #fdfdfd;
  border: 1px solid #b3b3bd;
  border-radius: 0 0 3px 3px;
  padding: 11px 14px;
  display: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
}
/* line 201, ../sass/common.scss */
.header__search .suggest .item {
  overflow: hidden;
  width: 460px;
  padding: 6px 0 7px;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 1px 0 0 #fff;
}
/* line 207, ../sass/common.scss */
.header__search .suggest .item h4 {
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: -0.01em;
  color: #484954;
  text-decoration: underline;
}
/* line 214, ../sass/common.scss */
.header__search .suggest .item p {
  color: #60616b;
  font-size: 10px;
  margin-bottom: 3px;
}
/* line 219, ../sass/common.scss */
.header__search .suggest .item:hover {
  background: #f1f1f1;
}
/* line 221, ../sass/common.scss */
.header__search .suggest .item__last {
  padding: 9px 0 2px 10px;
}
/* line 223, ../sass/common.scss */
.header__search .suggest .item__last a {
  color: #60616b;
  font-size: 11px;
}
/* line 228, ../sass/common.scss */
.header__search .suggest .item__img {
  float: left;
  width: 82px;
  margin-right: 5px;
  text-align: center;
  padding-top: 5px;
}
/* line 234, ../sass/common.scss */
.header__search .suggest .item__img img {
  vertical-align: middle;
}
/* line 238, ../sass/common.scss */
.header__search .suggest .item__inf {
  float: left;
  width: 373px;
}
/* line 242, ../sass/common.scss */
.header__search .suggest .item__price {
  font-size: 11px;
  color: #484954;
}
/* line 245, ../sass/common.scss */
.header__search .suggest .item__price strong {
  font-size: 14px;
  color: #0078c6;
  margin-right: 7px;
}

/* line 255, ../sass/common.scss */
.header__currency {
  height: 36px;
}
/* line 257, ../sass/common.scss */
.header__currency dl {
  font-size: 13px;
  padding-top: 9px;
}
/* line 260, ../sass/common.scss */
.header__currency dl dt {
  float: left;
  color: #494949;
  margin-right: 5px;
}
/* line 265, ../sass/common.scss */
.header__currency dl dd {
  position: relative;
}
/* line 267, ../sass/common.scss */
.header__currency dl dd ul {
  position: absolute;
  list-style: none;
  background: #fff;
  border-radius: 3px;
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.6);
  padding: 20px 0 4px;
  border: 1px solid #c9c9c9;
  top: -3px;
  left: 46px;
  z-index: 1;
  display: none;
}
/* line 280, ../sass/common.scss */
.header__currency dl dd li {
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 286, ../sass/common.scss */
.header__currency dl dd li a {
  color: #000000;
  display: block;
  padding: 2px 11px;
  text-decoration: none;
}
/* line 291, ../sass/common.scss */
.header__currency dl dd li a:hover {
  background: #1fbaea;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fbaea), color-stop(100%, #2697de));
  background-image: -webkit-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: -moz-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: -o-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: linear-gradient(top, #1fbaea 0%, #2697de 100%);
  color: #fff;
}
/* line 300, ../sass/common.scss */
.header__currency .header__currency-selected {
  color: #0078c6;
  border-bottom: 1px dotted #0078c6;
  text-decoration: none;
  z-index: 5;
  position: relative;
}
/* line 306, ../sass/common.scss */
.header__currency .header__currency-selected:hover {
  border: none;
}

/* line 310, ../sass/common.scss */
.header__basket {
  border: 1px solid #dbdbdb;
  background: #ececec;
  border-radius: 3px;
  padding: 3px;
}
/* line 315, ../sass/common.scss */
.header__basket .header__basket-btn {
  background: #34b8e9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34b8e9), color-stop(100%, #2697df));
  background-image: -webkit-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: -moz-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: -o-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: linear-gradient(top, #34b8e9 0%, #2697df 100%);
  border-radius: 2px;
  border: 1px solid #2696de;
  box-shadow: 0 1px 0 0 #3bc9ef inset;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0;
  text-decoration: none;
  height: 26px;
  line-height: 26px;
  display: block;
  padding-left: 6px;
  width: 153px;
}
/* line 331, ../sass/common.scss */
.header__basket .header__basket-btn span {
  border-left: 1px solid #2696de;
  background: url('../img/icons-s22e919653a.png') 0 -126px no-repeat;
  width: 27px;
  height: 27px;
  float: right;
}

/* nav */
/* line 341, ../sass/common.scss */
.nav {
  width: 1000px;
  margin: 0 auto;
}
/* line 344, ../sass/common.scss */
.nav ul {
  height: 36px;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 7px 7px 0 0;
  list-style: none;
}
/* line 351, ../sass/common.scss */
.nav .nav__item {
  float: left;
  margin-left: -8px;
  position: relative;
}
/* line 355, ../sass/common.scss */
.nav .nav__item:first-child {
  margin-left: 0;
}
/* line 357, ../sass/common.scss */
.nav .nav__item:first-child .nav__item-link {
  border-radius: 7px 7px 0 0;
  border-left: 1px solid #4c4d55;
}
/* line 363, ../sass/common.scss */
.nav .nav__item:hover, .nav .active {
  z-index: 25;
}
/* line 365, ../sass/common.scss */
.nav .nav__item:hover .nav__item-link, .nav .active .nav__item-link {
  border-radius: 7px 7px 0 0;
  border-left-color: #7a7a7b;
  border-right-color: #7a7a7b;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
  text-shadow: white 0 -1px 0;
  color: #010101;
  font-weight: bold;
  background: #f8f8f8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  height: 26px;
  margin-top: -2px;
}
/* line 379, ../sass/common.scss */
.nav .nav__item:hover .nav__drop {
  display: block;
}
/* line 380, ../sass/common.scss */
.nav .active .nav__item-link {
  box-shadow: none;
}
/* line 381, ../sass/common.scss */
.nav .nav__item.active {
  z-index: 20;
}
/* line 382, ../sass/common.scss */
.nav .nav__item1 {
  width: 87px;
  z-index: 14;
}
/* line 385, ../sass/common.scss */
.nav .nav__item1 .nav__drop {
  left: 1px;
}
/* line 387, ../sass/common.scss */
.nav .nav__item2 {
  width: 199px;
  z-index: 12;
}
/* line 390, ../sass/common.scss */
.nav .nav__item2 .nav__drop {
  width: 691px;
}
/* line 392, ../sass/common.scss */
.nav .nav__item2 .nav__drop .nav__drop-col {
  width: 157px;
}
/* line 393, ../sass/common.scss */
.nav .nav__item2 .nav__drop .nav__drop-col2 {
  width: 329px;
}
/* line 396, ../sass/common.scss */
.nav .nav__item3 {
  width: 183px;
  z-index: 10;
}
/* line 399, ../sass/common.scss */
.nav .nav__item3 .nav__drop {
  width: 557px;
}
/* line 401, ../sass/common.scss */
.nav .nav__item3 .nav__drop .nav__drop-col {
  width: 263px;
}
/* line 404, ../sass/common.scss */
.nav .nav__item4 {
  width: 146px;
  z-index: 8;
}
/* line 407, ../sass/common.scss */
.nav .nav__item4 .nav__drop {
  left: -444px;
  width: 657px;
}
/* line 410, ../sass/common.scss */
.nav .nav__item4 .nav__drop .nav__drop-col {
  width: 204px;
}
/* line 414, ../sass/common.scss */
.nav .nav__item2 .nav__item-link, .nav .nav__item3 .nav__item-link, .nav .nav__item4 .nav__item-link {
  padding-top: 4px;
  height: 31px;
}
/* line 420, ../sass/common.scss */
.nav .nav__item2:hover .nav__item-link, .nav .nav__item3:hover .nav__item-link, .nav .nav__item4:hover .nav__item-link, .nav .nav__item2.active .nav__item-link, .nav .nav__item3.active .nav__item-link, .nav .nav__item4.active .nav__item-link {
  height: 33px;
}
/* line 422, ../sass/common.scss */
.nav .nav__item5 {
  width: 163px;
  z-index: 6;
}
/* line 425, ../sass/common.scss */
.nav .nav__item5 .nav__drop {
  width: 275px;
}
/* line 427, ../sass/common.scss */
.nav .nav__item5 .nav__drop .nav__drop-col {
  width: 260px;
}
/* line 430, ../sass/common.scss */
.nav .nav__item6 {
  width: 141px;
  z-index: 4;
}
/* line 433, ../sass/common.scss */
.nav .nav__item6 .nav__drop {
  width: 585px;
  left: auto;
  right: 1px;
}
/* line 437, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col {
  width: 180px;
}
/* line 438, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col2 {
  width: 390px;
  padding-right: 0;
}
/* line 441, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col2 ul {
  float: left;
  width: 180px;
  padding-right: 15px;
}
/* line 449, ../sass/common.scss */
.nav .nav__item7 {
  width: 129px;
  z-index: 2;
}
/* line 452, ../sass/common.scss */
.nav .nav__item7 .nav__drop {
  width: 671px;
  left: auto;
  right: 1px;
}
/* line 456, ../sass/common.scss */
.nav .nav__item7 .nav__drop .nav__drop-col {
  width: 152px;
}
/* line 459, ../sass/common.scss */
.nav .nav__item-link {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 24px;
  font-size: 12px;
  padding-top: 11px;
  text-shadow: rgba(0, 0, 0, 0.35) 0 -1px 0;
  text-align: center;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 0 7px 0 0;
  border-right: 1px solid #4c4d55;
  border-top: 1px solid #9a9ca9;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.3) inset, -1px 0 0 0 rgba(255, 255, 255, 0.3) inset;
}
/* line 475, ../sass/common.scss */
.nav .nav__drop {
  background: #f8f8f8;
  padding: 12px 0 12px 19px;
  text-align: left;
  width: 350px;
  position: absolute;
  top: 36px;
  left: 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  border-radius: 0 0 7px 7px;
  display: none;
}
/* line 487, ../sass/common.scss */
.nav .nav__drop-holder {
  overflow: hidden;
}
/* line 488, ../sass/common.scss */
.nav .nav__drop-col {
  padding-right: 15px;
  width: 160px;
  float: left;
}
/* line 492, ../sass/common.scss */
.nav .nav__drop-col h2 {
  color: #000;
  font-size: 16px;
  margin-bottom: 7px;
  text-align: left;
}
/* line 497, ../sass/common.scss */
.nav .nav__drop-col h2 a {
  color: #158edc;
}
/* line 499, ../sass/common.scss */
.nav .nav__drop-col ul {
  margin-bottom: 19px;
  height: auto;
  background: none;
}
/* line 503, ../sass/common.scss */
.nav .nav__drop-col ul li {
  padding-left: 10px;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 14px;
}
/* line 509, ../sass/common.scss */
.nav .nav__drop-col ul a {
  color: #158edc;
  text-decoration: none;
}
/* line 512, ../sass/common.scss */
.nav .nav__drop-col ul a:hover {
  text-decoration: underline;
}
/* line 516, ../sass/common.scss */
.nav .nav__drop-all {
  padding: 6px 0 12px;
}
/* line 517, ../sass/common.scss */
.nav .nav__drop-all a {
  color: #90038c;
  position: relative;
  text-decoration: none;
  border-bottom: 1px dotted #90038c;
}
/* line 522, ../sass/common.scss */
.nav .nav__drop-all a:hover {
  border-bottom: none;
}
/* line 523, ../sass/common.scss */
.nav .nav__drop-all a .arr-right {
  position: absolute;
  right: -10px;
  top: 3px;
}

/* footer */
/* line 534, ../sass/common.scss */
.footer {
  color: #fff;
  font-size: 12px;
  margin: 35px auto 0;
  width: 950px;
  padding: 25px 25px 15px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background: #83838f;
}
/* line 543, ../sass/common.scss */
.footer .footer__copy {
  float: left;
  margin-top: -3px;
  width: 293px;
}
/* line 547, ../sass/common.scss */
.footer .footer__copy h4 {
  margin-bottom: 5px;
}
/* line 548, ../sass/common.scss */
.footer .footer__copy p {
  font-size: 10px;
  line-height: 12px;
}
/* line 553, ../sass/common.scss */
.footer .footer__info {
  font-size: 14px;
  margin: -7px 0 0 34px;
  width: 227px;
  float: left;
}
/* line 559, ../sass/common.scss */
.footer .footer__phone {
  font-size: 30px;
  font-weight: normal;
}
/* line 563, ../sass/common.scss */
.footer .footer__schedule {
  margin-top: 7px;
}
/* line 565, ../sass/common.scss */
.footer .footer__schedule span {
  margin-left: 7px;
}
/* line 567, ../sass/common.scss */
.footer .footer__menu {
  float: right;
  line-height: 20px;
  margin-top: -6px;
  width: 145px;
  list-style: none;
}
/* line 573, ../sass/common.scss */
.footer .footer__menu a {
  color: #fff;
}
/* line 575, ../sass/common.scss */
.footer .footer__social {
  float: right;
  line-height: 20px;
  margin-right: 40px;
  width: 164px;
}

/* line 585, ../sass/common.scss */
.social-white {
  list-style: none;
  margin-bottom: 12px;
  overflow: hidden;
}
/* line 589, ../sass/common.scss */
.social-white li {
  float: left;
  margin-right: 9px;
}
/* line 593, ../sass/common.scss */
.social-white a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 598, ../sass/common.scss */
.social-white .social-white__rss {
  background: url('../img/icons-s22e919653a.png') 0 -76px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 599, ../sass/common.scss */
.social-white .social-white__tw {
  background: url('../img/icons-s22e919653a.png') 0 -295px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 600, ../sass/common.scss */
.social-white .social-white__fb {
  background: url('../img/icons-s22e919653a.png') 0 -317px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 601, ../sass/common.scss */
.social-white .social-white__vk {
  background: url('../img/icons-s22e919653a.png') 0 -273px no-repeat;
  width: 22px;
  height: 22px;
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* default layout - EXAMPLE FOR NOW */
/* line 4, ../sass/layouts.scss */
.l {
  width: 100%;
  display: inline-block;
}
/* line 8, ../sass/layouts.scss */
.l .l-col1 {
  float: left;
  width: 140px;
}
/* line 13, ../sass/layouts.scss */
.l .l-col2 {
  float: right;
  width: 820px;
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* share */
/* line 3, ../sass/main.scss */
.share {
  background: #ffbb16;
  color: #000;
  font-size: 14px;
  padding: 2px 32px;
  border-radius: 3px;
  height: 29px;
  line-height: 29px;
  vertical-align: middle;
  margin-bottom: 14px;
}
/* line 13, ../sass/main.scss */
.share img {
  vertical-align: top;
  margin-right: 17px;
}

/* banners */
/* line 21, ../sass/main.scss */
.banners {
  display: inline-block;
  width: 100%;
  margin-bottom: 13px;
}
/* line 25, ../sass/main.scss */
.banners img {
  border-radius: 3px;
  vertical-align: top;
}
/* line 29, ../sass/main.scss */
.banners .banners2__left, .banners .banners2__right {
  border-radius: 3px;
  float: left;
}
/* line 33, ../sass/main.scss */
.banners .banners2__right {
  float: right;
}

/* caro */
/* line 38, ../sass/main.scss */
.caro {
  overflow: hidden;
  position: relative;
}
/* line 41, ../sass/main.scss */
.caro .slides {
  position: absolute;
  width: 20000em;
}
/* line 45, ../sass/main.scss */
.caro .slide {
  float: left;
  position: relative;
}

/* line 50, ../sass/main.scss */
.caro-prev, .caro-next {
  position: absolute;
  top: 49px;
  cursor: pointer;
}

/* line 55, ../sass/main.scss */
.caro-prev {
  background: url('../img/icons-s22e919653a.png') 0 -153px no-repeat;
  width: 17px;
  height: 60px;
  left: 22px;
}

/* line 59, ../sass/main.scss */
.caro-next {
  background: url('../img/icons-s22e919653a.png') 0 -213px no-repeat;
  width: 17px;
  height: 60px;
  right: 22px;
}

/* tabs */
/* line 66, ../sass/main.scss */
.tabs {
  margin-bottom: 18px;
}
/* line 67, ../sass/main.scss */
.tabs .tabs__nav {
  height: 28px;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 7px 7px 0 0;
  list-style: none;
}
/* line 73, ../sass/main.scss */
.tabs .tabs__nav li {
  float: left;
  margin-left: -8px;
  position: relative;
  width: 256px;
}
/* line 78, ../sass/main.scss */
.tabs .tabs__nav li:first-child {
  margin-left: 0;
}
/* line 80, ../sass/main.scss */
.tabs .tabs__nav li:first-child a {
  border-left: 1px solid #4c4d55;
  border-radius: 7px 7px 0 0;
}
/* line 85, ../sass/main.scss */
.tabs .tabs__nav li a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  text-decoration: none;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  height: 28px;
  display: block;
  text-align: center;
  line-height: 28px;
  border-radius: 0 7px 0 0;
  border-right: 1px solid #4c4d55;
  border-top: 1px solid #9a9ca9;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.3) inset, -1px 0 0 0 rgba(255, 255, 255, 0.3) inset;
}
/* line 99, ../sass/main.scss */
.tabs .tabs__nav li a:hover {
  background: #575866;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #575866), color-stop(100%, #9697a1));
  background-image: -webkit-linear-gradient(top, #575866 0%, #9697a1 100%);
  background-image: -moz-linear-gradient(top, #575866 0%, #9697a1 100%);
  background-image: -o-linear-gradient(top, #575866 0%, #9697a1 100%);
  background-image: linear-gradient(top, #575866 0%, #9697a1 100%);
}
/* line 105, ../sass/main.scss */
.tabs .tabs__nav li.active {
  z-index: 25;
}
/* line 107, ../sass/main.scss */
.tabs .tabs__nav li.active a {
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  color: #3c3c3c;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  border-radius: 7px 7px 0 0;
  height: 30px;
  margin-top: -2px;
}
/* line 116, ../sass/main.scss */
.tabs .tabs__nav li.active a:hover {
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
}
/* line 121, ../sass/main.scss */
.tabs .tabs__nav li.active:first-child a {
  border-left-color: #e3e3e3;
}
/* line 122, ../sass/main.scss */
.tabs .tabs__nav li.active:last-child a {
  border-right-color: #e3e3e3;
}
/* line 126, ../sass/main.scss */
.tabs .tabs__nav1 {
  z-index: 4;
}
/* line 127, ../sass/main.scss */
.tabs .tabs__nav2 {
  z-index: 3;
}
/* line 128, ../sass/main.scss */
.tabs .tabs__nav3 {
  z-index: 2;
}
/* line 129, ../sass/main.scss */
.tabs .tabs__nav4 {
  z-index: 1;
}
/* line 131, ../sass/main.scss */
.tabs .tabs__info {
  border: 1px solid #e3e3e3;
  border-top: none;
  background: #fff;
  border-radius: 0 0 7px 7px;
  clear: both;
}
/* line 138, ../sass/main.scss */
.tabs .tabs__box {
  display: none;
}

/* category */
/* line 143, ../sass/main.scss */
.category {
  overflow: hidden;
}
/* line 145, ../sass/main.scss */
.category .category__item {
  float: left;
  height: 172px;
  width: 221px;
  padding: 18px 0 0 28px;
  position: relative;
}
/* line 152, ../sass/main.scss */
.category .category__title {
  font-size: 14px;
  color: #484954;
  margin-bottom: 10px;
}
/* line 156, ../sass/main.scss */
.category .category__title a {
  color: #484954;
  text-decoration: underline;
}
/* line 159, ../sass/main.scss */
.category .category__title a:hover {
  text-decoration: none;
}
/* line 164, ../sass/main.scss */
.category .category__img {
  position: absolute;
  bottom: 30px;
  right: 18px;
  width: 90px;
}
/* line 170, ../sass/main.scss */
.category .category__products {
  list-style: none;
  font-size: 11px;
  max-height: 94px;
  width: 110px;
  margin-bottom: 5px;
}
/* line 176, ../sass/main.scss */
.category .category__products li {
  margin-bottom: 3px;
}
/* line 177, ../sass/main.scss */
.category .category__products a {
  color: #0078c6;
  text-decoration: none;
}
/* line 180, ../sass/main.scss */
.category .category__products a:hover {
  text-decoration: underline;
}
/* line 183, ../sass/main.scss */
.category .category__all {
  color: #484954;
  font-size: 11px;
  display: block;
  width: 110px;
}

/* price-block */
/* line 193, ../sass/main.scss */
.price-block {
  border-radius: 3px;
  float: left;
  line-height: 32px;
  text-align: center;
  width: 145px;
}
/* line 199, ../sass/main.scss */
.price-block strong {
  float: left;
  background: #ffbb16;
  font-size: 14px;
  color: #000;
  height: 32px;
  border-radius: 3px 0 0 3px;
  width: 90px;
  font-weight: normal;
}
/* line 208, ../sass/main.scss */
.price-block strong i {
  font-style: normal;
}
/* line 212, ../sass/main.scss */
.price-block span {
  font-size: 11px;
  color: #3c3c3c;
  background: #d9d9d9;
  float: left;
  height: 32px;
  border-radius: 0 3px 3px 0;
  width: 55px;
}

/* line 222, ../sass/main.scss */
.price-block_clarifies {
  line-height: 30px;
  height: 30px;
  color: #575757;
  font-size: 14px;
  background: #ececec;
  border: 1px solid #dbdbdb;
  width: 143px;
}

/* stock */
/* line 234, ../sass/main.scss */
.stock {
  position: relative;
  padding-bottom: 11px;
}
/* line 237, ../sass/main.scss */
.stock .caro-prev, .stock .caro-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
}
/* line 243, ../sass/main.scss */
.stock .caronav {
  text-align: center;
  margin-top: 3px;
}
/* line 246, ../sass/main.scss */
.stock .caronav a {
  background: #fff;
  border-radius: 50%;
  margin-right: 4px;
  border: 1px solid #ccc;
  height: 10px;
  width: 10px;
  box-shadow: 0 0 0 2px #fff inset;
  display: inline-block;
  cursor: pointer;
}
/* line 257, ../sass/main.scss */
.stock .caronav .active {
  background: #21afe6;
}
/* line 259, ../sass/main.scss */
.stock .caro {
  width: 850px;
  margin: 0 74px;
  height: 690px;
}
/* line 264, ../sass/main.scss */
.stock .stock__item {
  float: left;
  margin: 0 16px 2px 0;
  width: 200px;
  height: 268px;
  padding: 31px 0 32px;
  position: relative;
}
/* line 272, ../sass/main.scss */
.stock .stock__item_last {
  margin-right: 0;
}
/* line 273, ../sass/main.scss */
.stock .stock__items {
  height: 720px;
  width: 850px;
  position: relative;
  float: left;
}
/* line 278, ../sass/main.scss */
.stock .stock__items .price-block {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -72px;
}
/* line 285, ../sass/main.scss */
.stock .stock__title {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #0078c6;
  margin-bottom: 3px;
}
/* line 291, ../sass/main.scss */
.stock .stock__title a {
  color: #0078c6;
}
/* line 293, ../sass/main.scss */
.stock .stock__title a:hover {
  text-decoration: none;
}
/* line 296, ../sass/main.scss */
.stock .stock__rating {
  text-align: center;
}
/* line 298, ../sass/main.scss */
.stock .stock__rating .star {
  display: inline-block;
  margin-right: 2px;
  background: url('../img/icons-s22e919653a.png') 0 -387px no-repeat;
  width: 10px;
  height: 10px;
}
/* line 303, ../sass/main.scss */
.stock .stock__rating .chosen {
  background: url('../img/icons-s22e919653a.png') 0 -377px no-repeat;
  width: 10px;
  height: 10px;
}
/* line 305, ../sass/main.scss */
.stock .stock__media {
  text-align: center;
  position: absolute;
  bottom: 55px;
  width: 200px;
}

/* three-col */
/* line 315, ../sass/main.scss */
.three-col {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
/* line 319, ../sass/main.scss */
.three-col .three-col__box {
  width: 312px;
  border: 1px solid #e3e3e3;
  background: #fff;
  border-radius: 7px;
  margin: 0 auto;
  min-height: 370px;
  padding-bottom: 30px;
  position: relative;
}
/* line 329, ../sass/main.scss */
.three-col .three-col__box_left {
  float: left;
}
/* line 330, ../sass/main.scss */
.three-col .three-col__box_right {
  float: right;
}
/* line 331, ../sass/main.scss */
.three-col .three-col__box-title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  padding: 0 0 0 26px;
  border-radius: 7px 7px 0 0;
  background: #e5e5e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  box-shadow: 1px 0 0 0 white inset, -1px 0 0 0 white inset, 0 1px 0 0 white inset;
  margin-bottom: 5px;
}
/* line 344, ../sass/main.scss */
.three-col .three-col__item {
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 348, ../sass/main.scss */
.three-col .three-col__info {
  float: left;
  width: 210px;
}
/* line 351, ../sass/main.scss */
.three-col .three-col__info h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 3px;
}
/* line 355, ../sass/main.scss */
.three-col .three-col__info h3 a {
  color: #0078c6;
}
/* line 357, ../sass/main.scss */
.three-col .three-col__info em {
  font-size: 10px;
  color: #000;
  font-weight: bold;
  font-style: normal;
}
/* line 363, ../sass/main.scss */
.three-col .three-col__info p {
  color: #3c3c3c;
}
/* line 365, ../sass/main.scss */
.three-col .three-col__img {
  float: left;
  width: 80px;
  padding: 3px 5px 0 0;
  text-align: right;
}
/* line 370, ../sass/main.scss */
.three-col .three-col__img img {
  vertical-align: top;
}
/* line 372, ../sass/main.scss */
.three-col .three-col__link-all {
  border-bottom: 1px dotted #90038C;
  color: #90038C;
  position: absolute;
  left: 86px;
  bottom: 24px;
  text-decoration: none;
}
/* line 379, ../sass/main.scss */
.three-col .three-col__link-all:hover {
  border: none;
  padding-bottom: 1px;
}
/* line 383, ../sass/main.scss */
.three-col .three-col__link-all .arr-right {
  position: absolute;
  right: -10px;
  top: 3px;
}

/* pr-viewed */
/* line 393, ../sass/main.scss */
.pr-viewed {
  border: 1px solid #e3e3e3;
  background: #fff;
  border-radius: 7px 7px 3px 3px;
  position: relative;
  margin-bottom: 16px;
}
/* line 399, ../sass/main.scss */
.pr-viewed .pr-viewed__header {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  padding: 0 0 0 26px;
  border-radius: 7px 7px 0 0;
  background: #e5e5e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  box-shadow: 1px 0 0 0 white inset, -1px 0 0 0 white inset, 0 1px 0 0 white inset;
  margin-bottom: 8px;
}
/* line 412, ../sass/main.scss */
.pr-viewed .caro {
  height: 85px;
  width: 850px;
  margin: 0 74px;
}
/* line 417, ../sass/main.scss */
.pr-viewed .pr-viewed__items {
  height: 70px;
  width: 850px;
}
/* line 422, ../sass/main.scss */
.pr-viewed .pr-viewed__item {
  float: left;
  height: 70px;
  width: 190px;
  margin-right: 30px;
}
/* line 428, ../sass/main.scss */
.pr-viewed .pr-viewed__item_last {
  margin-right: 0;
}
/* line 429, ../sass/main.scss */
.pr-viewed .pr-viewed__media {
  float: left;
  width: 78px;
  height: 70px;
  padding-top: 3px;
}
/* line 435, ../sass/main.scss */
.pr-viewed .pr-viewed__title {
  font-size: 14px;
  color: #0078c6;
  font-weight: normal;
  height: 43px;
}
/* line 440, ../sass/main.scss */
.pr-viewed .pr-viewed__title a {
  color: #0078c6;
  text-decoration: underline;
}
/* line 443, ../sass/main.scss */
.pr-viewed .pr-viewed__title a:hover {
  text-decoration: none;
}
/* line 446, ../sass/main.scss */
.pr-viewed .pr-viewed__price {
  border-radius: 3px;
  float: left;
  line-height: 20px;
  text-align: center;
}
/* line 451, ../sass/main.scss */
.pr-viewed .pr-viewed__price strong {
  float: left;
  background: #ffbb16;
  font-size: 12px;
  color: #000;
  height: 20px;
  border-radius: 3px 0 0 3px;
  width: 65px;
  font-weight: normal;
}
/* line 461, ../sass/main.scss */
.pr-viewed .pr-viewed__price span {
  font-size: 9px;
  color: #3c3c3c;
  background: #d9d9d9;
  float: left;
  height: 20px;
  border-radius: 0 3px 3px 0;
  width: 41px;
}

/* deploy-text */
/* line 475, ../sass/main.scss */
.deploy-text {
  color: #494949;
  padding: 0 25px;
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 480, ../sass/main.scss */
.deploy-text p {
  margin-bottom: 15px;
}
/* line 481, ../sass/main.scss */
.deploy-text .deploy-text__holder {
  padding-bottom: 1px;
}
/* line 482, ../sass/main.scss */
.deploy-text .deploy__link {
  border-bottom: 1px dotted #90038C;
  color: #90038C;
  position: relative;
  text-decoration: none;
  position: absolute;
  bottom: -18px;
  left: 25px;
}
/* line 490, ../sass/main.scss */
.deploy-text .deploy__link:hover {
  border: none;
  padding-bottom: 1px;
}
/* line 494, ../sass/main.scss */
.deploy-text .deploy__link .arr-down {
  position: absolute;
  right: -10px;
  top: 3px;
}

/* line 501, ../sass/main.scss */
.deploy-text_closed {
  height: 40px;
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* line 2, ../sass/item.scss */
.l {
  display: inline-block;
}
/* line 4, ../sass/item.scss */
.l .l-col3 {
  float: left;
  width: 727px;
}
/* line 8, ../sass/item.scss */
.l .l-col1 {
  float: right;
  width: 240px;
}

/* line 13, ../sass/item.scss */
.bc-social {
  display: inline-block;
  padding: 3px 0 11px;
}

/* line 17, ../sass/item.scss */
.bc {
  float: left;
  list-style-type: none;
  overflow: hidden;
}
/* line 21, ../sass/item.scss */
.bc li {
  float: left;
  color: #000;
  font-size: 12px;
}
/* line 25, ../sass/item.scss */
.bc li a {
  color: #0078c6;
}
/* line 28, ../sass/item.scss */
.bc li:before {
  content: "-";
  padding: 0 6px;
}
/* line 32, ../sass/item.scss */
.bc li:first-child:before {
  content: "";
  padding: 0;
}

/* line 39, ../sass/item.scss */
.btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fbaea), color-stop(100%, #2696de));
  background-image: -webkit-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: -moz-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: -o-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: linear-gradient(top, #1fbaea 0%, #2696de 100%);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #2696de;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #1798df 0 -1px 0;
  border-radius: 2px;
}
/* line 52, ../sass/item.scss */
.btn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2696de), color-stop(100%, #1fbaea));
  background-image: -webkit-linear-gradient(top, #2696de 0%, #1fbaea 100%);
  background-image: -moz-linear-gradient(top, #2696de 0%, #1fbaea 100%);
  background-image: -o-linear-gradient(top, #2696de 0%, #1fbaea 100%);
  background-image: linear-gradient(top, #2696de 0%, #1fbaea 100%);
}

/* line 58, ../sass/item.scss */
.compare {
  margin-bottom: 23px;
}
/* line 60, ../sass/item.scss */
.compare h3 {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 0 0 #fff;
  padding-bottom: 4px;
}
/* line 68, ../sass/item.scss */
.compare .compare__count {
  padding: 9px 0 8px 2px;
  display: block;
}
/* line 72, ../sass/item.scss */
.compare ul {
  margin-bottom: 14px;
}
/* line 75, ../sass/item.scss */
.compare li {
  list-style: none;
  margin-bottom: 5px;
}
/* line 82, ../sass/item.scss */
.compare .compare__cansel {
  display: inline-block;
  background: url('../img/icons-s22e919653a.png') 0 -339px no-repeat;
  width: 9px;
  height: 10px;
  margin-left: 4px;
  vertical-align: middle;
}
/* line 88, ../sass/item.scss */
.compare .clear {
  color: #158edc;
  font-size: 11px;
  margin-left: 10px;
}

/* line 96, ../sass/item.scss */
.adv {
  margin-bottom: 18px;
}
/* line 98, ../sass/item.scss */
.adv img {
  vertical-align: top;
}

/* line 101, ../sass/item.scss */
.recommend {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
  padding: 9px 13px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 108, ../sass/item.scss */
.recommend h3 {
  font-size: 18px;
  font-weight: normal;
  color: #000;
}
/* line 113, ../sass/item.scss */
.recommend .recommend__item {
  border-bottom: 1px solid #e3e3e3;
  padding: 40px 0 20px;
}
/* line 116, ../sass/item.scss */
.recommend .recommend__item h4 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 19px;
}
/* line 120, ../sass/item.scss */
.recommend .recommend__item h4 a {
  color: #158edc;
}
/* line 124, ../sass/item.scss */
.recommend .recommend__item .price-block {
  margin: 0 auto;
  float: none;
  overflow: hidden;
}
/* line 128, ../sass/item.scss */
.recommend .recommend__item .price-block strong {
  font-weight: 16px;
}
/* line 130, ../sass/item.scss */
.recommend .recommend__item .price-block strong i {
  font-size: 12px;
}
/* line 133, ../sass/item.scss */
.recommend .recommend__item:last-child {
  border: none;
}
/* line 135, ../sass/item.scss */
.recommend .recommend__img {
  margin-bottom: 17px;
}
/* line 137, ../sass/item.scss */
.recommend .recommend__img img {
  vertical-align: top;
}

/* line 141, ../sass/item.scss */
.product-block {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

/* line 2, ../sass/ie.scss */
.lteie8 body {
  background: red;
}
