@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* HOW TO USE SPRITES*/
/*.whatever{@include sized-sprite($icons, badge_hit);}*/
/* constants */
/* line 11, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 12, ../sass/common.scss */
header, footer, nav, aside {
  display: block;
}

/* line 13, ../sass/common.scss */
body {
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  background: #f8f8f8;
  overflow: scroll;
  color: #000;
}

/* resets */
/* line 25, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 26, ../sass/common.scss */
a {
  color: #0078c6;
}
/* line 28, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 32, ../sass/common.scss */
.fll {
  float: left;
}

/* line 33, ../sass/common.scss */
.flr {
  float: right;
}

/* line 34, ../sass/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/* line 40, ../sass/common.scss */
.out {
  width: 1000px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

/* line 47, ../sass/common.scss */
.arr-right {
  background: url('../img/icons-s837cf73502.png') 0 -133px no-repeat;
  width: 7px;
  height: 10px;
  display: block;
}

/* line 51, ../sass/common.scss */
.arr-down {
  background: url('../img/icons-s837cf73502.png') 0 -687px no-repeat;
  width: 11px;
  height: 7px;
}

/* .top-menu */
/* line 56, ../sass/common.scss */
.top-menu {
  background: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  background-image: linear-gradient(top, #f4f4f4 0%, #e1e1e1 100%);
  text-align: center;
  height: 26px;
  z-index: 1010;
  position: relative;
}
/* line 63, ../sass/common.scss */
.top-menu ul {
  list-style: none;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
/* line 69, ../sass/common.scss */
.top-menu ul .drop {
  width: 218px;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 0;
  left: -11px;
  padding: 34px 0 21px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  border: 1px solid #b3b3bd;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
  border-radius: 0 0 5px 5px;
  z-index: 10;
  display: none;
  border-top: none;
}
/* line 84, ../sass/common.scss */
.top-menu ul .drop li {
  float: none;
  height: auto;
  border: none;
  width: auto;
  box-shadow: none;
  padding: 0 24px;
  line-height: 20px;
  font-size: 12px;
}
/* line 93, ../sass/common.scss */
.top-menu ul .drop li a {
  text-decoration: underline;
  color: #158edc;
  background: none;
}
/* line 97, ../sass/common.scss */
.top-menu ul .drop li a:hover {
  text-decoration: none;
}
/* line 102, ../sass/common.scss */
.top-menu li {
  float: left;
  font-size: 11px;
  color: #4d4d4d;
  height: 26px;
  line-height: 26px;
  border-right: 1px solid #fff;
  box-shadow: -1px 0 0 #d8d8d8 inset;
  width: 198px;
  position: relative;
}
/* line 113, ../sass/common.scss */
.top-menu li:hover a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  margin: 0 -10px;
}
/* line 117, ../sass/common.scss */
.top-menu li:hover .drop {
  display: block;
}
/* line 119, ../sass/common.scss */
.top-menu li:first-child {
  border-left: 1px solid #fff;
  box-shadow: -1px 0 0 #d8d8d8, -1px 0 0 #d8d8d8 inset;
}
/* line 123, ../sass/common.scss */
.top-menu li a {
  color: #4d4d4d;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 20;
}
/* line 129, ../sass/common.scss */
.top-menu li a:hover {
  text-decoration: underline;
}
/* line 134, ../sass/common.scss */
.top-menu li.wo-drop:hover a {
  margin: 0;
  background: none;
}
/* line 138, ../sass/common.scss */
.top-menu .top-menu__arrow {
  background: url('../img/icons-s837cf73502.png') 0 -661px no-repeat;
  width: 9px;
  height: 26px;
  display: inline-block;
  margin: 0 0 -10px 5px;
}
/* line 143, ../sass/common.scss */
.top-menu .top-menu__key {
  background: url('../img/icons-s837cf73502.png') 0 -626px no-repeat;
  width: 7px;
  height: 26px;
  display: inline-block;
  margin: 0 0 -10px 5px;
}

/* header */
/* line 152, ../sass/common.scss */
.header {
  display: inline-block;
  width: 100%;
  margin-bottom: 11px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(70%, #f8f8f8), color-stop(78%, #efeff0), color-stop(93%, #d3d4d7), color-stop(99%, #cbccd0), color-stop(100%, #c1c2c5));
  background-image: -webkit-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: -moz-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: -o-linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
  background-image: linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5);
}

/* line 158, ../sass/common.scss */
.header__holder {
  width: 1000px;
  margin: 0 auto;
  padding: 16px 0 9px 2px;
  height: 72px;
}

/* line 164, ../sass/common.scss */
.header__logo {
  background: url('../img/icons-s837cf73502.png') 0 0 no-repeat;
  width: 179px;
  height: 66px;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 58px;
}
/* line 170, ../sass/common.scss */
.header__logo a {
  height: 100%;
  display: block;
}

/* line 175, ../sass/common.scss */
.header__col1 {
  float: left;
  padding-top: 6px;
}

/* line 179, ../sass/common.scss */
.header__col2 {
  float: left;
  margin-left: 49px;
}

/* line 183, ../sass/common.scss */
.header__info {
  color: #3c3c3c;
  overflow: hidden;
}
/* line 186, ../sass/common.scss */
.header__info .header__worktime {
  float: left;
  font-size: 12px;
}
/* line 190, ../sass/common.scss */
.header__info .header__phone {
  font-size: 19px;
  font-weight: bold;
  margin: -1px 0 0 7px;
  float: left;
}
/* line 196, ../sass/common.scss */
.header__info .header__callback {
  margin: 3px 0 0 11px;
  font-size: 13px;
  color: #3c3c3c;
  text-decoration: none;
  border-bottom: 1px dotted #3c3c3c;
  float: left;
}
/* line 203, ../sass/common.scss */
.header__info .header__callback:hover {
  border: none;
}

/* line 207, ../sass/common.scss */
.header__search {
  border: 1px solid #dbdbdb;
  background: #ececec;
  border-radius: 3px;
  padding: 3px;
  position: relative;
  margin-top: 8px;
  width: 517px;
}
/* line 215, ../sass/common.scss */
.header__search .header__search-input {
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  background: #fff;
  width: 478px;
  padding: 6px;
  font-size: 11px;
  line-height: 14px;
  color: #6d6d6d;
  height: 14px;
}
/* line 225, ../sass/common.scss */
.header__search .header__search-input:focus {
  border-color: #2697de;
  box-shadow: 0 0 0 1px #23a8e4 inset;
}
/* line 230, ../sass/common.scss */
.header__search .header__search-btn {
  border-radius: 2px;
  border: 1px solid #2696de;
  background: url('../img/icons-s837cf73502.png') 0 -229px no-repeat;
  width: 28px;
  height: 28px;
  box-shadow: 0 1px 0 0 #3bc9ef inset;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}
/* line 242, ../sass/common.scss */
.header__search .suggest {
  position: absolute;
  top: 31px;
  left: 3px;
  z-index: 30;
  background: #fdfdfd;
  border: 1px solid #b3b3bd;
  border-radius: 0 0 3px 3px;
  padding: 11px 14px;
  display: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
}
/* line 253, ../sass/common.scss */
.header__search .suggest .item {
  overflow: hidden;
  width: 460px;
  padding: 6px 0 7px;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 1px 0 0 #fff;
}
/* line 259, ../sass/common.scss */
.header__search .suggest .item h4 {
  font-size: 14px;
  margin-bottom: 6px;
  letter-spacing: -0.01em;
  color: #484954;
  text-decoration: underline;
}
/* line 266, ../sass/common.scss */
.header__search .suggest .item p {
  color: #60616b;
  font-size: 10px;
  margin-bottom: 3px;
}
/* line 271, ../sass/common.scss */
.header__search .suggest .item:hover {
  background: #f1f1f1;
}
/* line 273, ../sass/common.scss */
.header__search .suggest .item__last {
  padding: 9px 0 2px 10px;
}
/* line 275, ../sass/common.scss */
.header__search .suggest .item__last a {
  color: #60616b;
  font-size: 11px;
}
/* line 280, ../sass/common.scss */
.header__search .suggest .item__img {
  float: left;
  width: 82px;
  margin-right: 5px;
  text-align: center;
  padding-top: 5px;
}
/* line 286, ../sass/common.scss */
.header__search .suggest .item__img img {
  vertical-align: middle;
}
/* line 290, ../sass/common.scss */
.header__search .suggest .item__inf {
  float: left;
  width: 373px;
}
/* line 294, ../sass/common.scss */
.header__search .suggest .item__price {
  font-size: 11px;
  color: #484954;
}
/* line 297, ../sass/common.scss */
.header__search .suggest .item__price strong {
  font-size: 14px;
  color: #0078c6;
  margin-right: 7px;
}

/* line 307, ../sass/common.scss */
.header__currency {
  height: 36px;
}
/* line 309, ../sass/common.scss */
.header__currency dl {
  font-size: 13px;
  padding-top: 9px;
}
/* line 312, ../sass/common.scss */
.header__currency dl dt {
  float: left;
  color: #494949;
  margin-right: 5px;
}
/* line 317, ../sass/common.scss */
.header__currency dl dd {
  position: relative;
}
/* line 319, ../sass/common.scss */
.header__currency dl dd ul {
  position: absolute;
  list-style: none;
  background: #fff;
  border-radius: 3px;
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.6);
  padding: 20px 0 4px;
  border: 1px solid #c9c9c9;
  top: -3px;
  left: 46px;
  z-index: 1;
  display: none;
}
/* line 332, ../sass/common.scss */
.header__currency dl dd li {
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 338, ../sass/common.scss */
.header__currency dl dd li a {
  color: #000000;
  display: block;
  padding: 2px 11px;
  text-decoration: none;
}
/* line 343, ../sass/common.scss */
.header__currency dl dd li a:hover {
  background: #1fbaea;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fbaea), color-stop(100%, #2697de));
  background-image: -webkit-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: -moz-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: -o-linear-gradient(top, #1fbaea 0%, #2697de 100%);
  background-image: linear-gradient(top, #1fbaea 0%, #2697de 100%);
  color: #fff;
}
/* line 352, ../sass/common.scss */
.header__currency .header__currency-selected {
  color: #0078c6;
  border-bottom: 1px dotted #0078c6;
  text-decoration: none;
  z-index: 5;
  position: relative;
}
/* line 358, ../sass/common.scss */
.header__currency .header__currency-selected:hover {
  border: none;
}

/* line 362, ../sass/common.scss */
.header__basket {
  border: 1px solid #dbdbdb;
  background: #ececec;
  border-radius: 3px;
  padding: 3px;
}
/* line 367, ../sass/common.scss */
.header__basket .header__basket-btn {
  background: #34b8e9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34b8e9), color-stop(100%, #2697df));
  background-image: -webkit-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: -moz-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: -o-linear-gradient(top, #34b8e9 0%, #2697df 100%);
  background-image: linear-gradient(top, #34b8e9 0%, #2697df 100%);
  border-radius: 2px;
  border: 1px solid #2696de;
  box-shadow: 0 1px 0 0 #3bc9ef inset;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0;
  text-decoration: none;
  height: 26px;
  line-height: 26px;
  display: block;
  padding-left: 6px;
  width: 153px;
}
/* line 383, ../sass/common.scss */
.header__basket .header__basket-btn span {
  border-left: 1px solid #2696de;
  background: url('../img/icons-s837cf73502.png') 0 -257px no-repeat;
  width: 27px;
  height: 27px;
  float: right;
}

/* nav */
/* line 393, ../sass/common.scss */
.nav {
  width: 1000px;
  margin: 0 auto;
  /*.nav__item:hover .nav__drop{display: block;}*/
}
/* line 396, ../sass/common.scss */
.nav ul {
  height: 36px;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 7px 7px 0 0;
  list-style: none;
}
/* line 403, ../sass/common.scss */
.nav .nav__item {
  float: left;
  margin-left: -8px;
  position: relative;
}
/* line 407, ../sass/common.scss */
.nav .nav__item:first-child {
  margin-left: 0;
}
/* line 409, ../sass/common.scss */
.nav .nav__item:first-child .nav__item-link {
  border-radius: 7px 7px 0 0;
  border-left: 1px solid #4c4d55;
}
/* line 415, ../sass/common.scss */
.nav .nav__item:hover, .nav .active {
  z-index: 25;
}
/* line 417, ../sass/common.scss */
.nav .nav__item:hover .nav__item-link, .nav .active .nav__item-link {
  border-radius: 7px 7px 0 0;
  border-left-color: #7a7a7b;
  border-right-color: #7a7a7b;
  /*box-shadow:0 3px 5px 0 rgba(0,0,0,0.6);*/
  text-shadow: white 0 -1px 0;
  color: #010101;
  font-weight: bold;
  background: #f8f8f8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #f8f8f8 100%);
  height: 26px;
  margin-top: -2px;
}
/* line 432, ../sass/common.scss */
.nav .active .nav__item-link {
  box-shadow: none;
}
/* line 433, ../sass/common.scss */
.nav .nav__item.active {
  z-index: 20;
}
/* line 434, ../sass/common.scss */
.nav .nav__item1 {
  width: 87px;
  z-index: 14;
}
/* line 437, ../sass/common.scss */
.nav .nav__item1 .nav__drop {
  left: 1px;
}
/* line 439, ../sass/common.scss */
.nav .nav__item2 {
  width: 199px;
  z-index: 12;
}
/* line 442, ../sass/common.scss */
.nav .nav__item2 .nav__drop {
  width: 691px;
}
/* line 444, ../sass/common.scss */
.nav .nav__item2 .nav__drop .nav__drop-col {
  width: 157px;
}
/* line 445, ../sass/common.scss */
.nav .nav__item2 .nav__drop .nav__drop-col2 {
  width: 329px;
}
/* line 448, ../sass/common.scss */
.nav .nav__item3 {
  width: 183px;
  z-index: 10;
}
/* line 451, ../sass/common.scss */
.nav .nav__item3 .nav__drop {
  width: 557px;
}
/* line 453, ../sass/common.scss */
.nav .nav__item3 .nav__drop .nav__drop-col {
  width: 263px;
}
/* line 456, ../sass/common.scss */
.nav .nav__item4 {
  width: 146px;
  z-index: 8;
}
/* line 459, ../sass/common.scss */
.nav .nav__item4 .nav__drop {
  left: -444px;
  width: 657px;
}
/* line 462, ../sass/common.scss */
.nav .nav__item4 .nav__drop .nav__drop-col {
  width: 204px;
}
/* line 466, ../sass/common.scss */
.nav .nav__item2 .nav__item-link, .nav .nav__item3 .nav__item-link, .nav .nav__item4 .nav__item-link {
  padding-top: 4px;
  height: 31px;
}
/* line 472, ../sass/common.scss */
.nav .nav__item2:hover .nav__item-link, .nav .nav__item3:hover .nav__item-link, .nav .nav__item4:hover .nav__item-link, .nav .nav__item2.active .nav__item-link, .nav .nav__item3.active .nav__item-link, .nav .nav__item4.active .nav__item-link {
  height: 33px;
}
/* line 474, ../sass/common.scss */
.nav .nav__item5 {
  width: 163px;
  z-index: 6;
}
/* line 477, ../sass/common.scss */
.nav .nav__item5 .nav__drop {
  width: 275px;
}
/* line 479, ../sass/common.scss */
.nav .nav__item5 .nav__drop .nav__drop-col {
  width: 260px;
}
/* line 482, ../sass/common.scss */
.nav .nav__item6 {
  width: 141px;
  z-index: 4;
}
/* line 485, ../sass/common.scss */
.nav .nav__item6 .nav__drop {
  width: 585px;
  left: auto;
  right: 1px;
}
/* line 489, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col {
  width: 180px;
}
/* line 490, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col2 {
  width: 390px;
  padding-right: 0;
}
/* line 493, ../sass/common.scss */
.nav .nav__item6 .nav__drop .nav__drop-col2 ul {
  float: left;
  width: 180px;
  padding-right: 15px;
}
/* line 501, ../sass/common.scss */
.nav .nav__item7 {
  width: 129px;
  z-index: 2;
}
/* line 504, ../sass/common.scss */
.nav .nav__item7 .nav__drop {
  width: 671px;
  left: auto;
  right: 1px;
}
/* line 508, ../sass/common.scss */
.nav .nav__item7 .nav__drop .nav__drop-col {
  width: 152px;
}
/* line 511, ../sass/common.scss */
.nav .nav__item-link {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 24px;
  font-size: 12px;
  padding-top: 11px;
  text-shadow: rgba(0, 0, 0, 0.35) 0 -1px 0;
  text-align: center;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 0 7px 0 0;
  border-right: 1px solid #4c4d55;
  border-top: 1px solid #9a9ca9;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.3) inset, -1px 0 0 0 rgba(255, 255, 255, 0.3) inset;
}
/* line 527, ../sass/common.scss */
.nav .nav__drop {
  background: #f8f8f8;
  padding: 12px 0 12px 19px;
  text-align: left;
  width: 350px;
  position: absolute;
  top: 36px;
  left: 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  border-radius: 0 0 7px 7px;
  display: none;
}
/* line 539, ../sass/common.scss */
.nav .nav__drop-holder {
  overflow: hidden;
}
/* line 540, ../sass/common.scss */
.nav .nav__drop-col {
  padding-right: 15px;
  width: 160px;
  float: left;
}
/* line 544, ../sass/common.scss */
.nav .nav__drop-col h2 {
  color: #000;
  font-size: 16px;
  margin-bottom: 7px;
  text-align: left;
}
/* line 549, ../sass/common.scss */
.nav .nav__drop-col h2 a {
  color: #158edc;
}
/* line 551, ../sass/common.scss */
.nav .nav__drop-col ul {
  margin-bottom: 19px;
  height: auto;
  background: none;
}
/* line 555, ../sass/common.scss */
.nav .nav__drop-col ul li {
  padding-left: 10px;
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 14px;
}
/* line 561, ../sass/common.scss */
.nav .nav__drop-col ul a {
  color: #158edc;
  text-decoration: none;
}
/* line 564, ../sass/common.scss */
.nav .nav__drop-col ul a:hover {
  text-decoration: underline;
}
/* line 568, ../sass/common.scss */
.nav .nav__drop-all {
  padding: 6px 0 12px;
}
/* line 569, ../sass/common.scss */
.nav .nav__drop-all a {
  color: #90038c;
  position: relative;
  text-decoration: none;
  border-bottom: 1px dotted #90038c;
}
/* line 574, ../sass/common.scss */
.nav .nav__drop-all a:hover {
  border-bottom: none;
}
/* line 575, ../sass/common.scss */
.nav .nav__drop-all a .arr-right {
  position: absolute;
  right: -10px;
  top: 3px;
}

/* footer */
/* line 586, ../sass/common.scss */
.footer {
  color: #fff;
  font-size: 12px;
  margin: 35px auto 0;
  width: 950px;
  padding: 25px 25px 15px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background: #83838f;
}
/* line 595, ../sass/common.scss */
.footer .footer__copy {
  float: left;
  margin-top: -3px;
  width: 293px;
}
/* line 599, ../sass/common.scss */
.footer .footer__copy h4 {
  margin-bottom: 5px;
}
/* line 600, ../sass/common.scss */
.footer .footer__copy p {
  font-size: 10px;
  line-height: 12px;
}
/* line 605, ../sass/common.scss */
.footer .footer__info {
  font-size: 14px;
  margin: -7px 0 0 34px;
  width: 227px;
  float: left;
}
/* line 611, ../sass/common.scss */
.footer .footer__phone {
  font-size: 30px;
  font-weight: normal;
}
/* line 615, ../sass/common.scss */
.footer .footer__schedule {
  margin-top: 7px;
}
/* line 617, ../sass/common.scss */
.footer .footer__schedule span {
  margin-left: 7px;
}
/* line 619, ../sass/common.scss */
.footer .footer__menu {
  float: right;
  line-height: 20px;
  margin-top: -6px;
  width: 145px;
  list-style: none;
}
/* line 625, ../sass/common.scss */
.footer .footer__menu a {
  color: #fff;
}
/* line 627, ../sass/common.scss */
.footer .footer__social {
  float: right;
  line-height: 20px;
  margin-right: 40px;
  width: 164px;
}

/* line 637, ../sass/common.scss */
.social-white {
  list-style: none;
  margin-bottom: 12px;
  overflow: hidden;
}
/* line 641, ../sass/common.scss */
.social-white li {
  float: left;
  margin-right: 9px;
}
/* line 645, ../sass/common.scss */
.social-white a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 650, ../sass/common.scss */
.social-white .social-white__rss {
  background: url('../img/icons-s837cf73502.png') 0 -207px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 651, ../sass/common.scss */
.social-white .social-white__tw {
  background: url('../img/icons-s837cf73502.png') 0 -490px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 652, ../sass/common.scss */
.social-white .social-white__fb {
  background: url('../img/icons-s837cf73502.png') 0 -512px no-repeat;
  width: 22px;
  height: 22px;
}
/* line 653, ../sass/common.scss */
.social-white .social-white__vk {
  background: url('../img/icons-s837cf73502.png') 0 -452px no-repeat;
  width: 22px;
  height: 22px;
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* default layout - EXAMPLE FOR NOW */
/* line 4, ../sass/layouts.scss */
.l {
  width: 100%;
  display: inline-block;
}
/* line 8, ../sass/layouts.scss */
.l .l-col1 {
  float: left;
  width: 140px;
}
/* line 13, ../sass/layouts.scss */
.l .l-col2 {
  float: right;
  width: 820px;
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* share */
/* line 3, ../sass/main.scss */
.share {
  background: #ffbb16;
  color: #000;
  font-size: 14px;
  padding: 2px 32px;
  border-radius: 3px;
  height: 29px;
  line-height: 29px;
  vertical-align: middle;
  margin-bottom: 14px;
}
/* line 13, ../sass/main.scss */
.share img {
  vertical-align: top;
  margin-right: 17px;
}

/* banners */
/* line 21, ../sass/main.scss */
.banners {
  display: inline-block;
  width: 100%;
  margin-bottom: 13px;
}
/* line 25, ../sass/main.scss */
.banners img {
  border-radius: 3px;
  vertical-align: top;
}
/* line 29, ../sass/main.scss */
.banners .banners2__left, .banners .banners2__right {
  border-radius: 3px;
  float: left;
}
/* line 33, ../sass/main.scss */
.banners .banners2__right {
  float: right;
}

/* caro */
/* line 38, ../sass/main.scss */
.caro {
  overflow: hidden;
  position: relative;
}
/* line 41, ../sass/main.scss */
.caro .slides {
  position: absolute;
  width: 20000em;
}
/* line 45, ../sass/main.scss */
.caro .slide {
  float: left;
  position: relative;
}

/* line 50, ../sass/main.scss */
.caro-prev, .caro-next {
  position: absolute;
  top: 49px;
  cursor: pointer;
}

/* line 55, ../sass/main.scss */
.caro-prev {
  background: url('../img/icons-s837cf73502.png') 0 -300px no-repeat;
  width: 17px;
  height: 60px;
  left: 22px;
}

/* line 59, ../sass/main.scss */
.caro-next {
  background: url('../img/icons-s837cf73502.png') 0 -392px no-repeat;
  width: 17px;
  height: 60px;
  right: 22px;
}

/* tabs */
/* line 66, ../sass/main.scss */
.tabs {
  margin-bottom: 18px;
}
/* line 67, ../sass/main.scss */
.tabs .tabs__nav {
  height: 28px;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  border-radius: 7px 7px 0 0;
  list-style: none;
}
/* line 73, ../sass/main.scss */
.tabs .tabs__nav li {
  float: left;
  margin-left: -8px;
  position: relative;
  width: 256px;
}
/* line 78, ../sass/main.scss */
.tabs .tabs__nav li:first-child {
  margin-left: 0;
}
/* line 80, ../sass/main.scss */
.tabs .tabs__nav li:first-child a {
  border-left: 1px solid #4c4d55;
  border-radius: 7px 7px 0 0;
}
/* line 85, ../sass/main.scss */
.tabs .tabs__nav li a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  text-decoration: none;
  background: #9697a1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9697a1), color-stop(100%, #575866));
  background-image: -webkit-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -moz-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: -o-linear-gradient(top, #9697a1 0%, #575866 100%);
  background-image: linear-gradient(top, #9697a1 0%, #575866 100%);
  height: 28px;
  display: block;
  text-align: center;
  line-height: 28px;
  border-radius: 0 7px 0 0;
  border-right: 1px solid #4c4d55;
  border-top: 1px solid #9a9ca9;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.3) inset, -1px 0 0 0 rgba(255, 255, 255, 0.3) inset;
}
/* line 99, ../sass/main.scss */
.tabs .tabs__nav li a:hover {
  background: #575866;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #575866), color-stop(100%, #9697a1));
  background-image: -webkit-linear-gradient(top, #575866 0%, #9697a1 100%);
  background-image: -moz-linear-gradient(top, #575866 0%, #9697a1 100%);
  background-image: -o-linear-gradient(top, #575866 0%, #9697a1 100%);
  background-image: linear-gradient(top, #575866 0%, #9697a1 100%);
}
/* line 105, ../sass/main.scss */
.tabs .tabs__nav li.active {
  z-index: 25;
}
/* line 107, ../sass/main.scss */
.tabs .tabs__nav li.active a {
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  color: #3c3c3c;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  border-radius: 7px 7px 0 0;
  height: 30px;
  margin-top: -2px;
}
/* line 116, ../sass/main.scss */
.tabs .tabs__nav li.active a:hover {
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
}
/* line 121, ../sass/main.scss */
.tabs .tabs__nav li.active:first-child a {
  border-left-color: #e3e3e3;
}
/* line 122, ../sass/main.scss */
.tabs .tabs__nav li.active:last-child a {
  border-right-color: #e3e3e3;
}
/* line 126, ../sass/main.scss */
.tabs .tabs__nav1 {
  z-index: 4;
}
/* line 127, ../sass/main.scss */
.tabs .tabs__nav2 {
  z-index: 3;
}
/* line 128, ../sass/main.scss */
.tabs .tabs__nav3 {
  z-index: 2;
}
/* line 129, ../sass/main.scss */
.tabs .tabs__nav4 {
  z-index: 1;
}
/* line 131, ../sass/main.scss */
.tabs .tabs__info {
  border: 1px solid #e3e3e3;
  border-top: none;
  background: #fff;
  border-radius: 0 0 7px 7px;
  clear: both;
}
/* line 138, ../sass/main.scss */
.tabs .tabs__box {
  display: none;
}

/* category */
/* line 143, ../sass/main.scss */
.category {
  overflow: hidden;
  padding: 18px 0;
}
/* line 146, ../sass/main.scss */
.category .category__item {
  float: left;
  height: 190px;
  width: 236px;
  margin: 0 0 0 10px;
  position: relative;
  z-index: 1;
}
/* line 153, ../sass/main.scss */
.category .category__item:hover {
  z-index: 10;
}
/* line 155, ../sass/main.scss */
.category .category__item:hover .category__item-holder {
  height: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
  min-height: 154px;
  z-index: 10;
}
/* line 161, ../sass/main.scss */
.category .category__item:hover .white-bottom {
  display: none;
}
/* line 164, ../sass/main.scss */
.category .category__item-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 221px;
  padding: 18px 0 18px 18px;
  border-radius: 5px;
  height: 154px;
  background: #fff;
  overflow: hidden;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 178, ../sass/main.scss */
.category .white-bottom {
  background: url(../img/bg-white.png) repeat-x;
  position: absolute;
  height: 30px;
  bottom: 0;
  width: 239px;
}
/* line 185, ../sass/main.scss */
.category .category__title {
  font-size: 14px;
  color: #484954;
  margin-bottom: 10px;
}
/* line 189, ../sass/main.scss */
.category .category__title a {
  color: #484954;
  text-decoration: underline;
}
/* line 192, ../sass/main.scss */
.category .category__title a:hover {
  text-decoration: none;
}
/* line 197, ../sass/main.scss */
.category .category__img {
  position: absolute;
  top: 70px;
  right: 18px;
  width: 90px;
}
/* line 203, ../sass/main.scss */
.category .category__products {
  list-style: none;
  font-size: 11px;
  width: 110px;
  margin-bottom: 5px;
}
/* line 208, ../sass/main.scss */
.category .category__products li {
  margin-bottom: 3px;
}
/* line 209, ../sass/main.scss */
.category .category__products a {
  color: #0078c6;
  text-decoration: none;
}
/* line 212, ../sass/main.scss */
.category .category__products a:hover {
  text-decoration: underline;
}
/* line 215, ../sass/main.scss */
.category .category__all {
  color: #484954;
  font-size: 11px;
  display: block;
  width: 110px;
}

/* price-block */
/* line 225, ../sass/main.scss */
.price-block {
  border-radius: 3px;
  float: left;
  line-height: 32px;
  text-align: center;
  width: 145px;
}
/* line 231, ../sass/main.scss */
.price-block strong {
  float: left;
  background: #ffbb16;
  font-size: 14px;
  color: #000;
  height: 32px;
  border-radius: 3px 0 0 3px;
  width: 90px;
  font-weight: normal;
}
/* line 240, ../sass/main.scss */
.price-block strong i {
  font-style: normal;
}
/* line 244, ../sass/main.scss */
.price-block span {
  font-size: 11px;
  color: #3c3c3c;
  background: #d9d9d9;
  float: left;
  height: 32px;
  border-radius: 0 3px 3px 0;
  width: 55px;
}

/* line 254, ../sass/main.scss */
.price-block_clarifies {
  line-height: 30px;
  height: 30px;
  color: #575757;
  font-size: 14px;
  background: #ececec;
  border: 1px solid #dbdbdb;
  width: 143px;
}

/* stock */
/* line 266, ../sass/main.scss */
.stock {
  position: relative;
  padding-bottom: 11px;
}
/* line 269, ../sass/main.scss */
.stock .caro-prev, .stock .caro-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
}
/* line 275, ../sass/main.scss */
.stock .caronav {
  text-align: center;
  margin-top: 3px;
}
/* line 278, ../sass/main.scss */
.stock .caronav a {
  background: #fff;
  border-radius: 50%;
  margin-right: 4px;
  border: 1px solid #ccc;
  height: 10px;
  width: 10px;
  box-shadow: 0 0 0 2px #fff inset;
  display: inline-block;
  cursor: pointer;
}
/* line 289, ../sass/main.scss */
.stock .caronav .active {
  background: #21afe6;
}
/* line 291, ../sass/main.scss */
.stock .caro {
  width: 850px;
  margin: 0 74px;
  height: 690px;
}
/* line 296, ../sass/main.scss */
.stock .stock__item {
  float: left;
  margin: 0 16px 2px 0;
  width: 200px;
  height: 268px;
  padding: 31px 0 32px;
  position: relative;
}
/* line 304, ../sass/main.scss */
.stock .stock__item_last {
  margin-right: 0;
}
/* line 305, ../sass/main.scss */
.stock .stock__items {
  height: 720px;
  width: 850px;
  position: relative;
  float: left;
}
/* line 310, ../sass/main.scss */
.stock .stock__items .price-block {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -72px;
}
/* line 317, ../sass/main.scss */
.stock .stock__title {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #0078c6;
  margin-bottom: 3px;
}
/* line 323, ../sass/main.scss */
.stock .stock__title a {
  color: #0078c6;
}
/* line 325, ../sass/main.scss */
.stock .stock__title a:hover {
  text-decoration: none;
}
/* line 328, ../sass/main.scss */
.stock .stock__rating {
  text-align: center;
}
/* line 330, ../sass/main.scss */
.stock .stock__rating .star {
  display: inline-block;
  margin-right: 2px;
  background: url('../img/icons-s837cf73502.png') 0 -616px no-repeat;
  width: 10px;
  height: 10px;
}
/* line 335, ../sass/main.scss */
.stock .stock__rating .chosen {
  background: url('../img/icons-s837cf73502.png') 0 -606px no-repeat;
  width: 10px;
  height: 10px;
}
/* line 337, ../sass/main.scss */
.stock .stock__media {
  text-align: center;
  position: absolute;
  bottom: 55px;
  width: 200px;
}

/* three-col */
/* line 347, ../sass/main.scss */
.three-col {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
/* line 351, ../sass/main.scss */
.three-col .three-col__box {
  width: 312px;
  border: 1px solid #e3e3e3;
  background: #fff;
  border-radius: 7px;
  margin: 0 auto;
  min-height: 370px;
  padding-bottom: 30px;
  position: relative;
}
/* line 361, ../sass/main.scss */
.three-col .three-col__box_left {
  float: left;
}
/* line 362, ../sass/main.scss */
.three-col .three-col__box_right {
  float: right;
}
/* line 363, ../sass/main.scss */
.three-col .three-col__box-title {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  padding: 0 0 0 26px;
  border-radius: 7px 7px 0 0;
  background: #e5e5e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  box-shadow: 1px 0 0 0 white inset, -1px 0 0 0 white inset, 0 1px 0 0 white inset;
  margin-bottom: 5px;
}
/* line 376, ../sass/main.scss */
.three-col .three-col__item {
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 380, ../sass/main.scss */
.three-col .three-col__info {
  float: left;
  width: 210px;
}
/* line 383, ../sass/main.scss */
.three-col .three-col__info h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 3px;
}
/* line 387, ../sass/main.scss */
.three-col .three-col__info h3 a {
  color: #0078c6;
}
/* line 389, ../sass/main.scss */
.three-col .three-col__info em {
  font-size: 10px;
  color: #000;
  font-weight: bold;
  font-style: normal;
}
/* line 395, ../sass/main.scss */
.three-col .three-col__info p {
  color: #3c3c3c;
}
/* line 397, ../sass/main.scss */
.three-col .three-col__img {
  float: left;
  width: 80px;
  padding: 3px 5px 0 0;
  text-align: right;
}
/* line 402, ../sass/main.scss */
.three-col .three-col__img img {
  vertical-align: top;
}
/* line 404, ../sass/main.scss */
.three-col .three-col__link-all {
  border-bottom: 1px dotted #90038C;
  color: #90038C;
  position: absolute;
  left: 86px;
  bottom: 24px;
  text-decoration: none;
}
/* line 411, ../sass/main.scss */
.three-col .three-col__link-all:hover {
  border: none;
  padding-bottom: 1px;
}
/* line 415, ../sass/main.scss */
.three-col .three-col__link-all .arr-right {
  position: absolute;
  right: -10px;
  top: 3px;
}

/* pr-viewed */
/* line 425, ../sass/main.scss */
.pr-viewed {
  border: 1px solid #e3e3e3;
  background: #fff;
  border-radius: 7px 7px 3px 3px;
  position: relative;
  margin-bottom: 16px;
}
/* line 431, ../sass/main.scss */
.pr-viewed .pr-viewed__header {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  padding: 0 0 0 26px;
  border-radius: 7px 7px 0 0;
  background: #e5e5e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  box-shadow: 1px 0 0 0 white inset, -1px 0 0 0 white inset, 0 1px 0 0 white inset;
  margin-bottom: 8px;
}
/* line 444, ../sass/main.scss */
.pr-viewed .caro {
  height: 85px;
  width: 850px;
  margin: 0 74px;
}
/* line 449, ../sass/main.scss */
.pr-viewed .pr-viewed__items {
  height: 70px;
  width: 850px;
}
/* line 454, ../sass/main.scss */
.pr-viewed .pr-viewed__item {
  float: left;
  height: 70px;
  width: 190px;
  margin-right: 30px;
}
/* line 460, ../sass/main.scss */
.pr-viewed .pr-viewed__item_last {
  margin-right: 0;
}
/* line 461, ../sass/main.scss */
.pr-viewed .pr-viewed__media {
  float: left;
  width: 78px;
  height: 70px;
  padding-top: 3px;
}
/* line 467, ../sass/main.scss */
.pr-viewed .pr-viewed__title {
  font-size: 14px;
  color: #0078c6;
  font-weight: normal;
  height: 43px;
}
/* line 472, ../sass/main.scss */
.pr-viewed .pr-viewed__title a {
  color: #0078c6;
  text-decoration: underline;
}
/* line 475, ../sass/main.scss */
.pr-viewed .pr-viewed__title a:hover {
  text-decoration: none;
}
/* line 478, ../sass/main.scss */
.pr-viewed .pr-viewed__price {
  border-radius: 3px;
  float: left;
  line-height: 20px;
  text-align: center;
}
/* line 483, ../sass/main.scss */
.pr-viewed .pr-viewed__price strong {
  float: left;
  background: #ffbb16;
  font-size: 12px;
  color: #000;
  height: 20px;
  border-radius: 3px 0 0 3px;
  width: 65px;
  font-weight: normal;
}
/* line 493, ../sass/main.scss */
.pr-viewed .pr-viewed__price span {
  font-size: 9px;
  color: #3c3c3c;
  background: #d9d9d9;
  float: left;
  height: 20px;
  border-radius: 0 3px 3px 0;
  width: 41px;
}

/* deploy-text */
/* line 507, ../sass/main.scss */
.deploy-text {
  color: #494949;
  padding: 0 25px;
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 512, ../sass/main.scss */
.deploy-text p {
  margin-bottom: 15px;
}
/* line 513, ../sass/main.scss */
.deploy-text .deploy-text__holder {
  padding-bottom: 1px;
}
/* line 514, ../sass/main.scss */
.deploy-text .deploy__link {
  border-bottom: 1px dotted #90038C;
  color: #90038C;
  position: relative;
  text-decoration: none;
  position: absolute;
  bottom: -18px;
  left: 25px;
}
/* line 522, ../sass/main.scss */
.deploy-text .deploy__link:hover {
  border: none;
  padding-bottom: 1px;
}
/* line 526, ../sass/main.scss */
.deploy-text .deploy__link .arr-down {
  position: absolute;
  right: -10px;
  top: 3px;
}

/* line 533, ../sass/main.scss */
.deploy-text_closed {
  height: 40px;
}

/* line 536, ../sass/main.scss */
.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  display: none;
}

/* line 547, ../sass/main.scss */
.popup {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 248px;
  padding: 14px 53px 0;
  margin-left: -180px;
  background: #fff;
  border: 3px solid #c9c9ce;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6);
  z-index: 1000;
  border-radius: 7px;
  display: none;
}
/* line 560, ../sass/main.scss */
.popup h3 {
  font-size: 21px;
  color: #010101;
  font-weight: normal;
  margin-bottom: 16px;
}
/* line 566, ../sass/main.scss */
.popup .popup__close {
  position: absolute;
  background: url('../img/icons-s837cf73502.png') 0 -652px no-repeat;
  width: 9px;
  height: 9px;
  top: 7px;
  right: 9px;
  cursor: pointer;
}
/* line 573, ../sass/main.scss */
.popup .btn {
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  padding: 0 10px;
}
/* line 579, ../sass/main.scss */
.popup input.btn {
  height: 24px;
  line-height: 24px;
}
/* line 583, ../sass/main.scss */
.popup .row {
  margin-bottom: 12px;
  position: relative;
}
/* line 586, ../sass/main.scss */
.popup .row label {
  display: block;
  font-size: 14px;
  margin: 0 0 3px 1px;
}
/* line 592, ../sass/main.scss */
.popup .row_check {
  padding: 12px 0 6px;
  width: 100%;
  display: inline-block;
}
/* line 596, ../sass/main.scss */
.popup .row_check label {
  float: left;
  font-size: 12px;
  margin: 1px 3px 0 3px;
}
/* line 601, ../sass/main.scss */
.popup .row_check input[type="checkbox"] {
  float: left;
  margin: 1px 3px 0 0;
}
/* line 605, ../sass/main.scss */
.popup .row_check .btn {
  margin-top: -3px;
  float: right;
}
/* line 610, ../sass/main.scss */
.popup .mark-err, .popup .mark-ok {
  position: absolute;
  bottom: 9px;
  right: -15px;
}
/* line 615, ../sass/main.scss */
.popup .mark-err {
  background: url('../img/icons-s837cf73502.png') 0 -595px no-repeat;
  width: 11px;
  height: 11px;
}
/* line 616, ../sass/main.scss */
.popup .mark-ok {
  background: url('../img/icons-s837cf73502.png') 0 -544px no-repeat;
  width: 14px;
  height: 10px;
}
/* line 618, ../sass/main.scss */
.popup .row_remember .btn, .popup .row_remember .btn_gray {
  width: 59px;
  text-align: center;
  padding: 0;
  margin-left: 6px;
}
/* line 625, ../sass/main.scss */
.popup .input {
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  padding: 5px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  width: 235px;
}
/* line 634, ../sass/main.scss */
.popup #link-restore-pass {
  float: right;
  margin: 2px 0 0;
}
/* line 638, ../sass/main.scss */
.popup .popup__reg {
  border-top: 1px solid #c9c9ce;
  margin: 0 -53px;
  padding: 20px 53px 23px;
  text-align: right;
}
/* line 643, ../sass/main.scss */
.popup .popup__reg p {
  margin-top: 6px;
  float: left;
}
/* line 648, ../sass/main.scss */
.popup .popup__social {
  border-top: 1px solid #c9c9ce;
  margin: 0 -53px;
  padding: 20px 53px 27px;
  text-align: center;
}
/* line 653, ../sass/main.scss */
.popup .popup__social p {
  margin-bottom: 18px;
}
/* line 654, ../sass/main.scss */
.popup .popup__social ul {
  list-style: none;
}
/* line 657, ../sass/main.scss */
.popup .popup__social li {
  display: inline-block;
  margin: 0 9px 0 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 661, ../sass/main.scss */
.popup .popup__social li a {
  display: block;
  overflow: hidden;
  text-indent: -99999px;
}
/* line 666, ../sass/main.scss */
.popup .popup__social li .social__gp {
  background: url('../img/icons-s837cf73502.png') 0 -101px no-repeat;
  width: 32px;
  height: 32px;
}
/* line 667, ../sass/main.scss */
.popup .popup__social li .social__tw {
  background: url('../img/icons-s837cf73502.png') 0 -175px no-repeat;
  width: 32px;
  height: 32px;
}
/* line 668, ../sass/main.scss */
.popup .popup__social li .social__fb {
  background: url('../img/icons-s837cf73502.png') 0 -360px no-repeat;
  width: 32px;
  height: 32px;
}
/* line 669, ../sass/main.scss */
.popup .popup__social li .social__vk {
  background: url('../img/icons-s837cf73502.png') 0 -143px no-repeat;
  width: 32px;
  height: 32px;
}
/* line 672, ../sass/main.scss */
.popup .popup__mess {
  padding-bottom: 36px;
}
/* line 674, ../sass/main.scss */
.popup .popup__mess p {
  font-size: 14px;
  margin-bottom: 20px;
}
/* line 678, ../sass/main.scss */
.popup .popup__mess .btn {
  width: 83px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
}
/* line 686, ../sass/main.scss */
.popup .popup__captcha {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
}
/* line 689, ../sass/main.scss */
.popup .popup__captcha img {
  vertical-align: top;
}

/* line 693, ../sass/main.scss */
#popup_login h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* line 2, ../sass/item.scss */
.l {
  display: inline-block;
}
/* line 4, ../sass/item.scss */
.l .l-col3 {
  float: left;
  width: 727px;
}
/* line 8, ../sass/item.scss */
.l .l-col1 {
  float: right;
  width: 240px;
}

/* line 13, ../sass/item.scss */
.bc-social {
  display: inline-block;
  padding: 3px 0 11px;
}

/* line 17, ../sass/item.scss */
.bc {
  float: left;
  list-style-type: none;
  overflow: hidden;
}
/* line 21, ../sass/item.scss */
.bc li {
  float: left;
  color: #000;
  font-size: 12px;
}
/* line 25, ../sass/item.scss */
.bc li a {
  color: #0078c6;
}
/* line 28, ../sass/item.scss */
.bc li:before {
  content: "-";
  padding: 0 6px;
}
/* line 32, ../sass/item.scss */
.bc li:first-child:before {
  content: "";
  padding: 0;
}

/* line 39, ../sass/item.scss */
.btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fbaea), color-stop(100%, #2696de));
  background-image: -webkit-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: -moz-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: -o-linear-gradient(top, #1fbaea 0%, #2696de 100%);
  background-image: linear-gradient(top, #1fbaea 0%, #2696de 100%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #2696de;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: #1798df 0 -1px 0;
  border-radius: 2px;
  cursor: pointer;
  font-family: Arial,sans-serif;
}
/* line 54, ../sass/item.scss */
.btn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2696de), color-stop(100%, #1fbaea));
  background-image: -webkit-linear-gradient(top, #2696de 0%, #1fbaea 100%);
  background-image: -moz-linear-gradient(top, #2696de 0%, #1fbaea 100%);
  background-image: -o-linear-gradient(top, #2696de 0%, #1fbaea 100%);
  background-image: linear-gradient(top, #2696de 0%, #1fbaea 100%);
}

/* line 58, ../sass/item.scss */
.btn_gray {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bcbec0), color-stop(100%, #b2b4b6));
  background-image: -webkit-linear-gradient(top, #bcbec0 0%, #b2b4b6 100%);
  background-image: -moz-linear-gradient(top, #bcbec0 0%, #b2b4b6 100%);
  background-image: -o-linear-gradient(top, #bcbec0 0%, #b2b4b6 100%);
  background-image: linear-gradient(top, #bcbec0 0%, #b2b4b6 100%);
  border-color: #b2b4b7;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
}
/* line 63, ../sass/item.scss */
.btn_gray:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2b4b6), color-stop(100%, #bcbec0));
  background-image: -webkit-linear-gradient(top, #b2b4b6 0%, #bcbec0 100%);
  background-image: -moz-linear-gradient(top, #b2b4b6 0%, #bcbec0 100%);
  background-image: -o-linear-gradient(top, #b2b4b6 0%, #bcbec0 100%);
  background-image: linear-gradient(top, #b2b4b6 0%, #bcbec0 100%);
}

/* line 68, ../sass/item.scss */
.compare {
  margin-bottom: 23px;
}
/* line 70, ../sass/item.scss */
.compare h3 {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 0 0 #fff;
  padding-bottom: 4px;
}
/* line 78, ../sass/item.scss */
.compare .compare__count {
  padding: 9px 0 8px 2px;
  display: block;
}
/* line 82, ../sass/item.scss */
.compare ul {
  margin-bottom: 14px;
}
/* line 85, ../sass/item.scss */
.compare li {
  list-style: none;
  margin-bottom: 5px;
}
/* line 92, ../sass/item.scss */
.compare .compare__cansel {
  display: inline-block;
  background: url('../img/icons-s837cf73502.png') 0 -534px no-repeat;
  width: 9px;
  height: 10px;
  margin-left: 4px;
  vertical-align: middle;
}
/* line 98, ../sass/item.scss */
.compare .clear {
  color: #158edc;
  font-size: 11px;
  margin-left: 10px;
}

/* line 106, ../sass/item.scss */
.adv {
  margin-bottom: 18px;
}
/* line 108, ../sass/item.scss */
.adv img {
  vertical-align: top;
}

/* line 111, ../sass/item.scss */
.recommend {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 7px;
  padding: 9px 13px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 118, ../sass/item.scss */
.recommend h3 {
  font-size: 18px;
  font-weight: normal;
  color: #000;
}
/* line 123, ../sass/item.scss */
.recommend .recommend__item {
  border-bottom: 1px solid #e3e3e3;
  padding: 40px 0 20px;
}
/* line 126, ../sass/item.scss */
.recommend .recommend__item h4 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 19px;
}
/* line 130, ../sass/item.scss */
.recommend .recommend__item h4 a {
  color: #158edc;
}
/* line 134, ../sass/item.scss */
.recommend .recommend__item .price-block {
  margin: 0 auto;
  float: none;
  overflow: hidden;
}
/* line 138, ../sass/item.scss */
.recommend .recommend__item .price-block strong {
  font-weight: 16px;
}
/* line 140, ../sass/item.scss */
.recommend .recommend__item .price-block strong i {
  font-size: 12px;
}
/* line 143, ../sass/item.scss */
.recommend .recommend__item:last-child {
  border: none;
}
/* line 145, ../sass/item.scss */
.recommend .recommend__img {
  margin-bottom: 17px;
}
/* line 147, ../sass/item.scss */
.recommend .recommend__img img {
  vertical-align: top;
}

/* line 151, ../sass/item.scss */
.product-block {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin: 4px 0 0;
}

/* line 159, ../sass/item.scss */
.product {
  padding: 24px 0 0;
}
/* line 161, ../sass/item.scss */
.product .product__media {
  width: 375px;
  float: left;
}
/* line 175, ../sass/item.scss */
.product .product__info {
  float: right;
  width: 337px;
}
/* line 179, ../sass/item.scss */
.product h1 {
  color: #585967;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 11px;
}
/* line 185, ../sass/item.scss */
.product .product__code {
  font-size: 12px;
}
/* line 188, ../sass/item.scss */
.product .product__code .in-stock {
  color: #0078c6;
  display: inline-block;
  border-left: 1px solid #e3e3e3;
  padding-left: 8px;
  margin-left: 5px;
}
/* line 197, ../sass/item.scss */
.product .product__rating .star {
  background: url('../img/icons-s837cf73502.png') 0 -534px no-repeat;
  width: 9px;
  height: 10px;
}

/* line 2, ../sass/ie.scss */
.lteie8 body {
  background: red;
}
