@import "compass/css3";
$break-small: 500px; /*когда включать версию для айфона*/
$break-large: 1180px; /*когда включать широкую версию*/


@mixin respond-to($media) {
  @if $media == pda {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


@mixin hide-text{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

$experimental-support-for-svg: true;

@mixin image-size($path){
width: image-width($path);
height: image-height($path);
}

@mixin sized-sprite($map, $sprite){
background: sprite($map, $sprite) no-repeat;
@include image-size(sprite-file($map, $sprite));
}
