// Normally inner pages styles
.categories
	padding-top: 15px
	margin-bottom: 20px
	border: 1px solid #d3d3d3
	border-radius: 5px
	background-color: #fff
	+g(#fff, #f8f8f8)
.categories__title
	padding: 0 15px 10px
	font-size: 16px 
	font-weight: bold
.categories__list
	margin-bottom: 20px
	li
		&.is-active
			a
				background: #f2f2f2
				border-color: #ffd077  
				color: $font
	a
		display: block
		padding: 7px 15px 7px 10px
		border-left: 5px solid transparent 
		font-weight: bold
		
			
.banner
	margin-bottom: 20px
	background: #F4F4F4 
	border: 1px solid #dedede
	border-radius: 5px
	font-size: 0
	overflow: hidden
.banner_wide
	min-height: 160px
	margin-bottom: 30px

	


.list
	margin-bottom: 20px
	padding: 15px
	border: 1px solid #ddd
	border-radius: 4px
.list_category
	.list__item
		margin-top: 10px
.list__title
	margin-bottom: 15px
	font-size: 16px
	font-weight: bold
.list__item
	margin-top: 15px
	&:first-child
		margin: 0
.list__name
	margin-bottom: 10px
	a
		font-weight: bold
.list__content
	a
		border-bottom: 1px solid $brd 
.list__compare
	li
		margin-bottom: 2px
	a
		position: relative
		display: inline-block
		padding-left: 16px
		font-weight: bold
	i
		position: absolute
		top: 1px
		left: 0
		+s(del-blue)










.category
	margin-left: -1%
	overflow: hidden
.category_alone
	margin: 0
.category__in
	margin-right: -3%
	padding: 0 1%
	overflow: hidden
.category__item
	position: relative
	float: left
	padding: 10px 15px
	margin: 0 2% 20px 0 
	border: 1px solid #ddd
	border-radius: 5px
	background-repeat: no-repeat
	background-position: 100% 50%  
	+box
	&:hover
		&:after
			content: ""
			position: absolute
			top: -1px
			right: -1px
			bottom: -1px
			left: -1px
			border-top: 2px solid #03a6de
			border-bottom: 2px solid #017ECB 
			border-left: 2px solid #0288d0
			border-right: 2px solid #0288d0
			box-shadow: 0 6px 16px rgba(0,1,1,.22)
			border-radius: 5px
.category__item_today
	float: none
	display: block
	margin: 0 0 20px
	font-size: 0
	&:after
		display: none
	.category__pic, .category__data
		display: inline-block
		width: 50%
		vertical-align: top
		font-size: 12px
	.category__pic
		position: relative
		text-align: center
		font-size: 0
	.category__price-wrap
		position: absolute
		right: 30px
		bottom: 30px
		.category__price-old
			margin-bottom: 5px
	.category__label
		color: $or
		font-weight: bold
		font-size: 14px
	.category__title
		font-weight: bold
		font-size: 36px 
		a
			color: $font 
	.category__details
		margin-bottom: 15px
		color: $font
	.category__more
		margin-bottom: 20px
		a
			border-bottom: 1px solid $brd 
.category__title
	margin-bottom: 10px
	font-size: 18px
	font-weight: bold
	color: $font 
	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff
.category__item_w1
	width: 23%
.category__item_w2
	width: 48%
	&.category__item_h2
		.category__price
			position: absolute
			left: 15px
			bottom: 20px
.category__item_h1
	height: 127px 
.category__item_h2
	height: 274px
.category__price,
.category__price-old
	display: inline-block
	vertical-align: middle
.category__price
	padding: 1px 10px
	border: 1px solid #fa0
	border-radius: 4px
	background-color: #ffbb15
	+g(#ffc519, #ffb213)
	font-size: 19px
	font-weight: bold
	color: $font 
	span
		font-size: 14px
		font-weight: normal
.category__price-old
	position: relative
	font-size: 16px
	color: $font 
	&:after
		content: ""
		position: absolute
		top: 3px
		left: 0
		right: 0
		bottom: 3px
		background-image: url(../img/icons/types-red-line.png)
		background-repeat: no-repeat
		-webkit-background-size: 100% 100%
		-moz-background-size: 100% 100%
		-o-background-size: 100% 100%
		background-size: 100% 100%
		font-weight: bold
	& + .category__price
		margin-left: 8px
	




.meta
	margin-bottom: 15px
	+clr
.meta__left
	float: left
.meta__left
	.title
		display: inline-block
		margin: 0
		line-height: 1
		a
			display: block
			color: $or
			font-weight: bold
			font-size: 24px
.meta__right
	float: right
	padding-top: 3px
.meta__counter, .meta__all, .meta__discount
	display: inline-block
.meta__counter
	padding: 0 2px
	color: #585967 
.meta__all
	a
		border-bottom: 1px solid $brd 
.meta__desc
	padding-top: 5px
	clear: both
	color: #585967 
.meta__discount
	margin-left: 10px
	a
		font-size: 14px
		font-weight: bold
		border-bottom: 1px solid $brd 




.popular
	position: relative
	z-index: 10 
.popular__in
	position: relative
.popular__prev, .popular__next
	position: absolute
	top: 55px
.popular__prev
	left: 0
	+s(popular-prev)
	&:hover
		+s(popular-prev-a)
.popular__next
	right: 0
	+s(popular-next)
	&:hover
		+s(popular-next-a)
.popular__list
	padding: 0 30px
	font-size: 0
.popular__el
	position: relative
	display: inline-block
	width: 20%
	height: 220px 
	vertical-align: top
	text-align: center
	&:hover
		.item
			border-top: 2px solid #03a6de
			border-bottom: 2px solid #017ECB 
			border-left: 2px solid #0288d0
			border-right: 2px solid #0288d0
			box-shadow: 0 6px 16px rgba(0,1,1,.22)
			background: #FFF 
		.btn, .label
			display: inline-block
	.item
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 15px
		border: 2px solid transparent
		border-radius: 5px
		vertical-align: top
		text-align: center
		+box
	.item__pic
		margin-bottom: 10px
	.item__title
		margin-bottom: 5px
		font-size: 12px
		color: $bl  
	.btn
		width: 102px
		margin-bottom: 10px
		font-size: 14px
		font-weight: bold
		box-shadow: 0 1px 1px rgba(0,0,0,.8)
	.btn, .label
		display: none
	.price
		width: 100px




.filter
	position: relative
	border: 1px solid #d3d3d3
	border-radius: 5px
	margin-bottom: 20px
	+background-image(linear-gradient(bottom, rgba(235,235,235,.35) 0%, rgba(255,255,255,.35) 44.24%, rgba(255,255,255,.35) 100%))
.filter__item
	padding: 5px 15px
	border-bottom: 1px solid #d3d3d3
	&.is-active
		padding: 15px 
		.filter__title
			i
				margin-right: 6px
				border-width: 8px 5px 0 5px
				border-color: black transparent transparent transparent
.filter__item_price
	+g(#e5f5ff, #d7efff)
.filter__title
	font-size: 0
	cursor: pointer
	i, span, em, a
		display: inline-block
	span
		border-bottom: 1px dotted 
		font-weight: bold
		font-size: 14px
	a
		border-bottom: 1px solid $brd 
		font-size: 12px
	i
		margin-right: 8px
		+arr(8,10,#000,r)
	em
		margin: 0 5px
		font-size: 12px
		color: #909098 
	.help
		top: -1px
		margin-left: 10px
.filter__content
	position: relative
	padding-top: 15px
.filter__el
	+clr
	label
		display: block
		margin: 2px 0
		font-weight: bold
		color: #585967 
	input
		margin-right: 5px
.filter__col
	float: left
	width: 48%
	&:first-child
		margin-right: 4%
.filter__all
	padding: 15px
	text-align: center
	a
		font-weight: bold
		border-bottom: 1px solid $brd 
.filter__go
	padding: 0 10px 30px
	text-align: center 
.filter__price
	margin-bottom: 15px
	li
		margin-bottom: 3px
	a
		border-bottom: 1px dotted
		font-weight: bold 
		color: #585967 
.filter__view
	position: absolute
	left: 100%
	height: 34px
	padding: 0 10px
	line-height: 34px
	background: #FFF 
	border: 1px solid #d3d3d3
	border-width: 1px 1px 1px 0
	box-shadow: 6px 6px 6px rgba(0,0,0, 0.1)
	border-radius: 0 5px 5px 0
	white-space: nowrap
	z-index: 100 
	a
		border-bottom: 1px solid $brd 
	 



.range
	width: 96%
.range__dial
	font-size: 0
	white-space: nowrap
	li
		position: relative
		display: inline-block
		width: 33.333%
		padding-bottom: 7px 
		&:first-child
			&:after
				left: 0
		&:after
			content: ""
			position: absolute
			bottom: 1px
			left: -1px
			width: 1px
			height: 5px
			background: #7E7E7E 
		span
			position: relative
			display: block
			width: 100%
			right: 50%
			text-align: center
			font-size: 8px
.range__line	
	position: relative
	height: 8px
	margin-bottom: 10px
	background: #FFF 
	border-radius: 3px
	background-color: #fff
	box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
.range__line-in
	position: absolute
	top: 0
	height: 8px
.range__line-bg
	position: absolute
	top: 0
	bottom: 0
	right: 2px
	left: 2px
	background: #fabe47 
	box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
.range__line-left,
.range__line-right
	position: absolute
	top: -5px
.range__line-left
	left: -1px
	+s(range-left)
.range__line-right
	right: -1px
	+s(range-right)
.range__form
	margin-right: -4%
	font-size: 0
	label, span, input
		display: inline-block
		margin-right: 5px
	span
		font-size: 12px
		color: #585967 
	input
		width: 50px
		height: 20px
		padding: 0 5px
		border-radius: 2px
		background-color: #fff
		box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
		+box





.help
	position: relative
	display: inline-block
	vertical-align: middle
.help__ico
	width: 13px
	height: 13px
	border: 1px solid #c6c6c6
	border-radius: 50%
	background: #f8f8f8
	text-align: center
	line-height: 13px
	font-size: 10px
	
	




.topday
	padding: 2px
	margin-bottom: 20px
	border-radius: 5px
	background-color: #0185dd
	+background-image(linear-gradient(bottom, #0185dd 0%, #0161d3 77.25%, #01afe9 100%))
	text-align: center
.topday__title
	padding: 3px 10px 5px
	font-size: 18px
	font-weight: bold
	color: #FFF
	text-align: center 
.topday__in
	padding: 8px
	border-radius: 3px
	background: #FFF 
.topday__timer
	margin-bottom: 10px
	strong
		display: block
	ul
		font-size: 0
	li
		display: inline-block
		margin: 0 3px
		font-size: 12px
		line-height: 1
	span
		display: block
		+s(timer)
		font-size: 30px
		color: #FFF
		font-weight: bold 
		line-height: 35px
		text-shadow: 0 1px 2px rgba(0,0,0,.75)
		letter-spacing: 1px
.topday__pic
	margin-bottom: 10px
	font-size: 0
.topday__name
	margin-bottom: 10px
.topday__price
	font-size: 0
	.price, .btn
		width: 50%
		vertical-align: top




.price
	display: inline-block
	padding: 4px 0
	background-color: #eee
	border-radius: 2px
	border: 1px solid #e0e0e0
	font-weight: bold
	font-size: 14px
	text-shadow: 0 1px 1px #fff
	text-align: center
	+box
.price_disabled
	color: #666 
	

.price-list
	font-size: 14px
	font-weight: bold
	line-height: 1
	li
		position: relative
		text-align: right
		&:first-child
			display: inline-block
			text-align: left
			font-size: 12px
			color: #5D5D5D 
			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-image: url(../img/icons/price-old-line.png) 
				background-repeat: no-repeat
				-webkit-background-size: 100% 100% 
				-moz-background-size: 100% 100% 
				-o-background-size: 100% 100% 
				background-size: 100% 100% 



.topday__rating, .item__rating
	margin-bottom: 10px
	a, .rating
		display: inline-block
		vertical-align: top
	a
		border-bottom: 1px solid $brd 
		line-height: 1.2
.rating
	display: inline-block
	font-size: 0
	img
		margin-left: 3px
		&:first-child
			margin: 0



.steps
	padding: 10px 10px 10px 20px
	margin-bottom: 20px
	border-radius: 5px
	border: 1px solid #dedede 
.steps__row
	height: 30px
	margin-bottom: 15px
	padding-top: 20px 
	font-size: 0
	line-height: 30px
	li
		display: inline-block
		vertical-align: middle
		background: #FFF 
	.steps__line
		position: relative
		width: 100px
		height: 8px
		margin: 0 -2px
		box-shadow: inset 0 3px 3px -2px rgba(0,0,0,.5), inset 0 -1px 0 rgba(0,0,0,.1)
		z-index: 2 
		&.is-done
			width: 94px
			background: #FAB83B 
	.steps__circle	
		position: relative
		width: 18px
		height: 18px
		border-radius: 50%
		box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
		&.is-done
			background-color: #ffe3ae
			box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
			+g(#ffe6b6, #fdd38f)
			z-index: 4 
			&:before
				content: ""
				position: absolute
				top: 5px
				left: 4px
				+s(steps-ok)
		&.is-current
			width: 30px
			height: 30px
			background: #FAB83B
			&:after
				content: ""
				position: absolute
				top: 10px
				left: 10px
				width: 6px
				height: 6px
				border: 2px solid #fff
				box-shadow: 0 -1px 0 rgba(0,0,0,.3), inset 0 -1px 0 rgba(0,0,0,.3)
				border-radius: 50%
			span
				top: -14px
			& + li
				width: 92px
				margin: 0 -2px 0 0
		span
			position: absolute
			top: -20px
			left: 50%
			width: 50px
			margin-left: -25px
			text-align: center
			font-size: 12px
			color: #585967 
			line-height: 1
.steps__layout
	+clr
.steps__details, .steps__similar
	float: left
	width: 48%
.steps__form
	margin-bottom: 20px
	label
		display: block
		margin-bottom: 7px
	input
		margin-right: 5px
.steps__btn
	a
		&:first-child
			margin-right: 20px
			border-bottom: 1px solid $brd
			font-weight: bold 
.steps__similar
	position: relative
	margin-left: 4%
	padding: 15px 20px
	background-color: #fcfcfc
	border-radius: 5px
	box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
	+box
.steps__similar-list
	margin-bottom: 10px
	li
		margin-bottom: 7px
		+clr
	span
		float: right
		margin-left: 15px
		font-weight: bold
	a
		border-bottom: 1px solid $brd 
.steps__similar-more
	text-align: right
	a
		border-bottom: 1px solid $brd 
		font-weight: bold







.filter-use
	margin-bottom: 20px
	padding: 10px 15px 15px
	border: 1px solid #dedede
	border-radius: 5px
.fitler-use__head
	margin-bottom: 10px
	+clr
	.title
		display: table
		margin: 0
.filter-use__reset
	float: right
	margin: 3px 0 0 20px
	a
		color: $yl
		font-weight: bold
	span
		border-bottom: 1px solid
	i
		display: inline-block
		margin-right: 5px
		+s(del-yl-sm)
.filter-use__row
	+clr
.filter-use__type
	float: left
	width: 24%
	margin-right: 1%
	a, i
		display: inline-block
	a
		margin-right: 10px
		color: $cl 
	i
		position: relative
		top: 1px
		margin-left: 5px
		+s(del-blue-sm)



.filter-prod
	margin-bottom: 15px
	+clr
.filter-prod__left
	float: left
	margin-top: 3px
	color: $cl
	span
		font-weight: bold
	a
		border-bottom: 1px solid $brd 
.filter-prod__right
	text-align: right
	.dropdown
		display: inline-block
		vertical-align: middle
		text-align: left
	.output
		margin-left: 10px

.output
	display: inline-block
	height: 22px
	vertical-align: middle
	font-size: 0
	cursor: pointer
	&.is-active
		.output__head
			height: auto
			box-shadow: 0 6px 16px rgba(0,1,1,.25)
.output__head, .output__title
	display: inline-block
	vertical-align: top
.output__title
	margin-right: 5px
	line-height: 22px
	font-size: 12px
	color: $cl
.output__head
	height: 14px
	padding: 3px
	border: 1px solid #c6c6c6
	border-radius: 3px
	background: #fff 
	overflow: hidden
	li
		margin-top: 6px
		cursor: pointer
		&:first-child
			margin: 0
	i, ul
		display: inline-block
		vertical-align: top
	i
		margin: 5px 0 0 3px
		+arr(6,4,#000,b)
.output__grid
	+s(filter-grid)
.output__list
	+s(filter-list)



.products
	margin-bottom: 20px
	font-size: 0
.products__in
	margin-right: -2%
	.item
		position: relative
		display: inline-block
		width: 23%
		height: 270px
		margin: 0 2% 20px 0 
		vertical-align: top
		font-size: 12px
		text-align: center
		&:hover
			z-index: 10 
			.item__in
				top: -5px
				right: -10px
				left: -80px
				padding: 5px 10px 10px 80px
				background: #FFF 
				border-top: 2px solid #03a6de
				border-bottom: 2px solid #017ECB 
				border-left: 2px solid #0288d0
				border-right: 2px solid #0288d0
				box-shadow: 0 6px 16px rgba(0,1,1,.22)
				border-radius: 5px
			.item__toggle
				display: block
	.item__in
		position: absolute
		top: 0
		left: 0
		right: 0
		border: 2px solid transparent
	.item__label
		position: absolute
		top: 4px
		right: 0
		height: 16px
		padding: 0 8px 0 3px
		line-height: 16px
		font-size: 10px
		text-transform: uppercase
		color: #FFF
		font-weight: bold
		&:after, &:before
			content: ""
			position: absolute
			width: 0px
			height: 0px
			border-style: solid 
		&:after
			bottom: -5px
			right: 0
			border-width: 5px 4px 0 0
		&:before
			top: 0
			left: -7px
			border-width: 8px 7px 8px 0
	.item__label_action
		+background-image(linear-gradient(-45deg, #db3064, #c51136))
		&:after
			border-color: #9a1437 transparent transparent transparent
		&:before
			border-color: transparent #c51136 transparent transparent
	.item__label_top
		+background-image(linear-gradient(-45deg, #ffb700, #ff9100))
		&:after
			border-color: #a97106 transparent transparent transparent
		&:before
			border-color: transparent #ff9100 transparent transparent
	.item__label_new
		+background-image(linear-gradient(-45deg, #8acc04, #59aa01))
		&:after
			border-color: #59aa01 transparent transparent transparent
		&:before
			border-color: transparent #59aa01 transparent transparent
	.item__label_discount
		+background-image(linear-gradient(-45deg, #9d22dc, #700bc6))
		&:after
			border-color: #49106c transparent transparent transparent
		&:before
			border-color: transparent #700bc6 transparent transparent
	.item__label_gift
		+background-image(linear-gradient(-45deg, #dc2295, #c60b66))
		&:after
			border-color: #770c47 transparent transparent transparent
		&:before
			border-color: transparent #c60b66 transparent transparent
	.item__label_recommended
		+background-image(linear-gradient(-45deg, #ff7300, #ff4300))
		&:after
			border-color: #b7480a transparent transparent transparent
		&:before
			border-color: transparent #ff4300 transparent transparent
	.item__label_prodday
		+background-image(linear-gradient(-45deg, #029de4, #0070d1))
		&:after
			border-color: #08527e transparent transparent transparent
		&:before
			border-color: transparent #0070d1 transparent transparent
	.item__label_utsenka
		+background-image(linear-gradient(-45deg, #e43002, #d11100))
		&:after
			border-color: #781e10 transparent transparent transparent
		&:before
			border-color: transparent #d11100 transparent transparent
	.item__label_low-price
		+background-image(linear-gradient(-45deg, #27cda9, #0dae7e))
		&:after
			border-color: #12745c transparent transparent transparent
		&:before
			border-color: transparent #0dae7e transparent transparent
	.item__toggle
		display: none
	.item__pic
		position: relative
		margin-bottom: 10px
		font-size: 0
	.item__title
		margin-bottom: 10px
	.item__layout
		font-size: 0
		> .label
			margin-bottom: 10px
	.item__col
		display: inline-block
		width: 48%
		vertical-align: middle
		text-align: left
		&:first-child
			margin-right: 4%
	.item__delivery
		position: relative
		padding: 0 0 7px 25px
		margin: 15px 0
		border-bottom: 1px solid #b2b2b2
		text-align: left 
		color: $cl 
		i
			position: absolute
			top: 1px
			left: 0
			+s(delivery)
	.items__details
		margin-bottom: 10px
		text-align: left
		span
			color: $cl 
	.item__left
		position: absolute
		top: 5px
		left: 8px
		width: 44px
	.item__gallery
		margin-bottom: 15px
		a
			display: block
			width: 40px
			height: 40px
			border: 2px solid transparent
			border-radius: 3px
			vertical-align: middle
			line-height: 46px
			font-size: 0
			&:hover
				border-top: 2px solid #03a6de
				border-bottom: 2px solid #017ECB 
				border-left: 2px solid #0288d0
				border-right: 2px solid #0288d0
			img
				vertical-align: middle
		li
			&.is-active
				a
					border-top: 2px solid #03a6de
					border-bottom: 2px solid #017ECB 
					border-left: 2px solid #0288d0
					border-right: 2px solid #0288d0
	.price
		display: block
	.price-list
		margin-bottom: 5px
	.btn
		width: 100%
		padding: 4px 0 6px



.action
	font-size: 0
	a
		display: inline-block
		vertical-align: middle
.action__add
	margin-right: 10px
	+s(plus)
.action__like
	+s(heart)




.pager
	margin-bottom: 30px
	text-align: center
	a
		position: relative
		display: inline-block
		width: 28px
		height: 28px
		margin: 0 4px
		line-height: 28px
		border: 1px solid transparent
		border-radius: 4px
		font-size: 14px
		font-weight: bold
		vertical-align: top
		&:hover
			color: $or 
		&.is-disabled
			border-color: #DEDEDE
			color: #a3a3a3 
			cursor: default
		&.pager__prev,
		&.pager__next	
			background-color: #0077c5
			+g(#e5e4e4, #d6d5d5)
			box-shadow: 0 1px 1px rgba(0,0,0,.5)
			font-size: 0
			&:hover
				+g(#f3f3f3, #eee)
			&:active
				+g(#c2c2c2, #d6d6d6)
			i
				position: absolute
				top: 7px
		&.pager__prev
			i
				left: 10px
				+s(pager-prev)
		&.pager__next
			i
				right: 10px
				+s(pager-next)
			

.content-wrap
	padding: 15px
	border: 1px solid #dedede
	border-radius: 5px
.content
	h1, h2, h3, h4, h5
		margin-bottom: 7px
	h1
		font-size: 30px
	h2
		font-size: 24px
	h3
		font-size: 18px
	h4
		font-size: 14px
	h5
		font-size: 12px 
	ul
		padding-left: 35px
		li
			list-style: disc inside




.nav-product
	padding: 9px 0
	margin-bottom: 30px
	background: #F4F4F4
	border: 1px solid #dedede
	border-radius: 5px 
	+clr
	> ul
		float: left
		li
			float: left
			&.is-active
				a
					color: #000 
					cursor: default
		a
			display: block
			padding: 1px 9px
			border-right: 1px solid #dedede 
			font-weight: bold
			text-shadow: 0 1px 0 rgba(255,255,255,.75)
			span
				margin-left: 5px
				color: #004471 
	.action
		float: right
		margin: 3px 15px 0 0


.nav-categories
	margin-bottom: 30px
	background: #f8f8f8
	border: 1px solid #dedede
	border-radius: 5px
	li
		border-top: 1px solid #dedede
		&:first-child
			border: none
			a
				padding: 11px 15px 
		&:last-child
			a
				padding: 3px 15px 25px 
		&.is-active
			a
				+g(#fbd069, #fab83b)
				color: #000 
				cursor: default
	a
		display: block
		padding: 3px 15px
		font-weight: bold
		color: $cl   
		&:hover
			+g(#ffe09f, #ffd077)



.accessorises
	font-size: 0
	overflow: hidden
.accessorises__in
	padding-bottom: 70px
	margin-right: -2px
	.item
		position: relative
		display: inline-block
		width: 20%
		padding: 0 20px
		margin-bottom: 35px
		border-right: 1px solid #dedede 
		vertical-align: top
		+box
		&:hover
			z-index: 10 
	.item_counter-2
		width: 40%
		.item__el	
			width: 50%
			padding-left: 20px
			+box
			&:first-child
				padding: 0 	
				.item__el-in
					left: 0
					right: 20px
		.item__el-in
			left: 20px		
	.item__category
		min-height: 40px 
		font-size: 14px
		font-weight: bold
		color: $cl 
		line-height: 1.2
		a
			color: $cl 
	.item__el
		position: relative
		display: inline-block
		width: 100%
		min-height: 200px
		vertical-align: top
		text-align: center
		font-size: 12px
		&:hover
			.item__el-in
				background: #FFF 
				border-top: 2px solid #03a6de
				border-bottom: 2px solid #017ECB 
				border-left: 2px solid #0288d0
				border-right: 2px solid #0288d0
				box-shadow: 0 6px 16px rgba(0,1,1,.22)
				border-radius: 5px
			.btn, .label
				display: block
	.item__el-in
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 10px 20px 20px
		border: 2px solid transparent
	.item__pic
		margin-bottom: 15px
		font-size: 0
		img
			max-width: 100%
	.item__name
		margin-bottom: 10px
	.item__price	
		margin-bottom: 10px
		.price, .btn
			width: 100%
	.btn, .label
		display: none





































