// Normally inner pages styles
.categories
	padding-top: 15px
	margin-bottom: 20px
	border: 1px solid #d3d3d3
	border-radius: 5px
	background-color: #fff
	+g(#fff, #f8f8f8)
.categories__title
	padding: 0 15px 10px
	font-size: 16px 
	font-weight: bold
.categories__list
	margin-bottom: 20px
	li
		&.is-active
			a
				background: #f2f2f2
				border-color: #ffd077  
				color: $font
	a
		display: block
		padding: 7px 15px 7px 10px
		border-left: 5px solid transparent 
		font-weight: bold
		
			
.banner
	margin-bottom: 20px
	border: 1px solid #dedede
	border-radius: 5px
	font-size: 0
	overflow: hidden
	


.list
	margin-bottom: 20px
	padding: 15px
	border: 1px solid #ddd
	border-radius: 4px
.list_category
	.list__item
		margin-top: 10px
.list__title
	margin-bottom: 15px
	font-size: 16px
	font-weight: bold
.list__item
	margin-top: 15px
	&:first-child
		margin: 0
.list__name
	margin-bottom: 10px
	a
		font-weight: bold
.list__content
	a
		border-bottom: 1px solid $brd 
.list__compare
	li
		margin-bottom: 2px
	a
		position: relative
		display: inline-block
		padding-left: 16px
		font-weight: bold
	i
		position: absolute
		top: 1px
		left: 0
		+s(del-blue)










.category
	margin-left: -1%
	overflow: hidden
.category_alone
	margin: 0
.category__in
	margin-right: -3%
	padding: 0 1%
	overflow: hidden
.category__item
	position: relative
	float: left
	padding: 10px 15px
	margin: 0 2% 20px 0 
	border: 1px solid #ddd
	border-radius: 5px
	background-repeat: no-repeat
	background-position: 100% 50%  
	+box
	&:hover
		&:after
			content: ""
			position: absolute
			top: -1px
			right: -1px
			bottom: -1px
			left: -1px
			border-top: 2px solid #03a6de
			border-bottom: 2px solid #017ECB 
			border-left: 2px solid #0288d0
			border-right: 2px solid #0288d0
			box-shadow: 0 6px 16px rgba(0,1,1,.22)
			border-radius: 5px
.category__item_today
	float: none
	display: block
	margin: 0 0 20px
	font-size: 0
	&:after
		display: none
	.category__pic, .category__data
		display: inline-block
		width: 50%
		vertical-align: top
		font-size: 12px
	.category__pic
		position: relative
		text-align: center
		font-size: 0
	.category__price-wrap
		position: absolute
		right: 30px
		bottom: 30px
		.category__price-old
			margin-bottom: 5px
	.category__label
		color: $or
		font-weight: bold
		font-size: 14px
	.category__title
		font-weight: bold
		font-size: 36px 
		a
			color: $font 
	.category__details
		margin-bottom: 15px
		color: $font
	.category__more
		margin-bottom: 20px
		a
			border-bottom: 1px solid $brd 
.category__title
	margin-bottom: 10px
	font-size: 18px
	font-weight: bold
	color: $font 
	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff
.category__item_w1
	width: 23%
.category__item_w2
	width: 48%
	&.category__item_h2
		.category__price
			position: absolute
			left: 15px
			bottom: 20px
.category__item_h1
	height: 127px 
.category__item_h2
	height: 274px
.category__price,
.category__price-old
	display: inline-block
	vertical-align: middle
.category__price
	padding: 1px 10px
	border: 1px solid #fa0
	border-radius: 4px
	background-color: #ffbb15
	+g(#ffc519, #ffb213)
	font-size: 19px
	font-weight: bold
	color: $font 
	span
		font-size: 14px
		font-weight: normal
.category__price-old
	position: relative
	font-size: 16px
	color: $font 
	&:after
		content: ""
		position: absolute
		top: 3px
		left: 0
		right: 0
		bottom: 3px
		background-image: url(../img/icons/types-red-line.png)
		background-repeat: no-repeat
		-webkit-background-size: 100% 100%
		-o-background-size: 100% 100%
		background-size: 100% 100%
		font-weight: bold
	& + .category__price
		margin-left: 8px
	




.meta
	margin-bottom: 15px
	+clr
.meta__left
	float: left
.meta__left
	.title
		display: inline-block
		margin: 0
		line-height: 1
		a
			display: block
			color: $or
			font-weight: bold
			font-size: 24px
.meta__right
	float: right
	padding-top: 3px
.meta__counter, .meta__all
	display: inline-block
.meta__counter
	padding: 0 2px
	color: #585967 
.meta__all
	a
		border-bottom: 1px solid $brd 




.popular
	position: relative
	z-index: 10 
.popular__in
	position: relative
.popular__prev, .popular__next
	position: absolute
	top: 55px
.popular__prev
	left: 0
	+s(popular-prev)
	&:hover
		+s(popular-prev-a)
.popular__next
	right: 0
	+s(popular-next)
	&:hover
		+s(popular-next-a)
.popular__list
	padding: 0 30px
	font-size: 0
.popular__el
	position: relative
	display: inline-block
	width: 20%
	height: 220px 
	vertical-align: top
	text-align: center
	&:hover
		.item
			border-top: 2px solid #03a6de
			border-bottom: 2px solid #017ECB 
			border-left: 2px solid #0288d0
			border-right: 2px solid #0288d0
			box-shadow: 0 6px 16px rgba(0,1,1,.22)
			background: #FFF 
		.btn, .label
			display: inline-block
	.item
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 15px
		border: 2px solid transparent
		border-radius: 5px
		vertical-align: top
		text-align: center
		+box
	.item__pic
		margin-bottom: 10px
	.item__title
		margin-bottom: 5px
		font-size: 12px
		color: $bl 
	.item__price
		display: inline-block
		width: 100px
		padding: 4px 0
		background-color: #eee
		border-radius: 2px
		border: 1px solid #e0e0e0
		font-weight: bold
		font-size: 14px
		text-shadow: 0 1px 1px #fff 
	.btn
		width: 102px
		margin-bottom: 10px
		font-size: 14px
		font-weight: bold
		box-shadow: 0 1px 1px rgba(0,0,0,.8)
	.btn, .label
		display: none





.filter
	border: 1px solid #d3d3d3
	border-radius: 5px
	margin-bottom: 20px
	+background-image(linear-gradient(bottom, rgba(235,235,235,.35) 0%, rgba(255,255,255,.35) 44.24%, rgba(255,255,255,.35) 100%))
.filter__item
	padding: 5px 15px
	border-bottom: 1px solid #d3d3d3
	&.is-active
		padding: 15px 
		.filter__title
			i
				margin-right: 6px
				border-width: 8px 5px 0 5px
				border-color: black transparent transparent transparent
.filter__item_price
	+g(#e5f5ff, #d7efff)
.filter__title
	font-size: 0
	cursor: pointer
	i, span, em, a
		display: inline-block
	span
		border-bottom: 1px dotted 
		font-weight: bold
		font-size: 14px
	a
		border-bottom: 1px solid $brd 
		font-size: 12px
	i
		margin-right: 8px
		+arr(8,10,#000,r)
	em
		margin: 0 5px
		font-size: 12px
		color: #909098 
	.help
		top: -1px
		margin-left: 10px
.filter__content
	position: relative
	padding-top: 15px
.filter__el
	+clr
	label
		display: block
		margin: 2px 0
		font-weight: bold
		color: #585967 
	input
		margin-right: 5px
.filter__col
	float: left
	width: 48%
	&:first-child
		margin-right: 4%
.filter__all
	padding: 15px
	text-align: center
	a
		font-weight: bold
		border-bottom: 1px solid $brd 
.filter__go
	padding: 0 10px 30px
	text-align: center 
.filter__price
	margin-bottom: 15px
	li
		margin-bottom: 3px
	a
		border-bottom: 1px dotted
		font-weight: bold 
		color: #585967 



.range
	width: 96%
.range__dial
	font-size: 0
	white-space: nowrap
	li
		position: relative
		display: inline-block
		width: 33.333%
		padding-bottom: 7px 
		&:first-child
			&:after
				left: 0
		&:after
			content: ""
			position: absolute
			bottom: 1px
			left: -1px
			width: 1px
			height: 5px
			background: #7E7E7E 
		span
			position: relative
			display: block
			width: 100%
			right: 50%
			text-align: center
			font-size: 8px
.range__line	
	position: relative
	height: 8px
	margin-bottom: 10px
	background: #FFF 
	border-radius: 3px
	background-color: #fff
	box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
.range__line-in
	position: absolute
	top: 0
	height: 8px
.range__line-bg
	position: absolute
	top: 0
	bottom: 0
	right: 2px
	left: 2px
	background: #fabe47 
	box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
.range__line-left,
.range__line-right
	position: absolute
	top: -5px
.range__line-left
	left: -1px
	+s(range-left)
.range__line-right
	right: -1px
	+s(range-right)
.range__form
	margin-right: -4%
	font-size: 0
	label, span, input
		display: inline-block
		margin-right: 5px
	span
		font-size: 12px
		color: #585967 
	input
		width: 50px
		height: 20px
		padding: 0 5px
		border-radius: 2px
		background-color: #fff
		box-shadow: inset 0 1px 3px rgba(0,0,0,.5)
		+box





.help
	position: relative
	display: inline-block
	vertical-align: middle
.help__ico
	width: 13px
	height: 13px
	border: 1px solid #c6c6c6
	border-radius: 50%
	background: #f8f8f8
	text-align: center
	line-height: 13px
	font-size: 10px
	
	















