// default layout
.l-center
	min-width: 1130px
	max-width: 1400px
	margin: 0 auto
	padding: 0 10px
.l-layout
	+clr
.l-column-1
	float: left
	width: 220px
	margin-right: 20px
.l-column-2
	display: table
