@import "base";

/* news-archive */
.news-archive{
	margin-bottom:25px;
	h2{
		font-size:18px;
		color:#000;
		font-weight:normal;
		border-bottom:1px dotted #000;
		display:inline;
		margin-left:4px;
	}
}

/* accordion */
.accordion{
	list-style: none;
	font-size:12px;
	line-height: 14px;
	padding-top:10px;
	li{
		padding:2px 0 0;
		ul{
			list-style: none;
			padding-left:30px;
			display:none;
		}
		li{
    		padding:3px 0 4px;
			a{
				padding:0;
				margin:0;
				border:none;
				text-decoration:underline;
				&:hover{
					text-decoration: none;
					padding:0;
				}
			}
			&.active a{
				text-decoration: none;
				color:#000;
			}
		}
	}
	a{
		color:#158edc;
		border-bottom:1px dotted #158edc;
		text-decoration: none;
		position: relative;
		margin-left:15px;
		display: inline-block;
		margin-bottom:4px;
		&:hover{
			border:none;
			padding-bottom:1px;
		}
		i{
			position: absolute;
			top:4px;
			left:-12px;
			@include sized-sprite($icons, "arr-6");
		}
	}
	.open{
		li a{
			font-weight:normal;
			color:#158edc;
			padding:0;
		}
		a{
			font-weight:bold;
			color:#000;
			border:none;
			padding-bottom:1px;
			i{@include sized-sprite($icons, "arr-5");}
		}
	}
}


/* news-subscribe */
.news-subscribe{
	margin-bottom:25px;
	h2{
		font-size:18px;
		color:#010101;
		font-weight: normal;
		border-bottom:1px solid #d8d8d8;
		margin-bottom: 10px;
		padding-bottom: 1px;
	}
	.input{
		height:24px;
		width:220px;
		margin-bottom:10px;
	}
	.btn{
		height:24px;
		line-height:24px;
		font-size:11px;
	}
}


.arr-more{
	@include sized-sprite($icons, "arr-7");
	display: inline-block;
	margin-left:2px;
}


/* news-articles */
.news-articles{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:5px;
	color:#3c3c3c;
	padding:18px 26px;
	h1{
		color:#000;
		font-size:24px;
		font-weight:normal;
		border-bottom:1px solid #d8d8d8;
		padding-bottom: 14px;
	}
	.news-articles__item{
		display:inline-block;
		width:100%;
		border-bottom:1px solid #d8d8d8;
	}
	.news-articles__img{
		float:left;
		margin:15px 0;
		img{vertical-align:top;}
	}
	.news-articles__inf{
		float:left;
		padding: 15px 24px;
		width:490px;
		h2{
			font-size:18px;
			font-weight:normal;
			margin-bottom:7px;
			a{color:#158edc;}
		}
		p{line-height:18px;}
		.more{
			display:inline-block;
			margin-top:2px;
			color:#158edc;
		}
	}
	.page-nav{
		padding:18px 0 3px;
		a{color:#158edc;}
	}
}


/* article-news */
.article-news{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:5px;
	color:#3c3c3c;
	padding:22px 29px 50px;
	h1{
		font-size:24px;
		color:#000;
		font-weight:normal;
	}
	.date{
		color:#707070;
		font-size:11px;
		display: block;
		margin-bottom:22px;
	}
	img{
		margin:0 auto 45px;
		display: block;
	}
	p{
		line-height:18px;
		margin-bottom: 18px;
	}
	em{}
	.source{
		margin-top:32px;
		display: block;
	}
}