@import "base";
.cabinet{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:5px;
	margin-bottom:25px;
	padding:25px 15px;
	color:#3c3c3c;
	h1{
		font-size:24px;
		font-weight:normal;
		color:#000;
		margin-bottom:23px;
		margin-left:15px;
	}
}
.cabinet__block{
	border-bottom:1px solid #e3e3e3;
	padding:0 15px 20px;
	margin-bottom:25px;
	&:last-child{border:none;}
	.cabinet__title{
		display: inline-block;
		width:100%;
		margin-bottom:12px;
	}
	h2{
		font-size:16px;
		font-weight:bold;
		float:left;
	}
	.cabinet__devider{
		float: left;
		border-left:1px solid #d8d8d8;
		width:0;
		height:13px;
		margin:4px 13px 0;
	}
	.cabinet__edit{
		float:left;
		color:#158edc;
		border-bottom:1px dotted;
		margin: 3px 0 0;
		cursor:pointer;
		&:hover{border-color:transparent;}
	}
	dl{
		display: inline-block;
		width:100%;
		line-height:1.3;
	}
	dt{
		float: left;
		width:140px;
		font-size:12px;
		font-weight:normal;
		margin-bottom:17px;
	}
	dd{
		margin-bottom:17px;
		margin-left:140px;
	}
	.main-address{font-weight:bold;}
	table{
		border-spacing:0;
		border-collapse:collapse;
		margin:8px -14px 0;
		width:694px;
		.state_cancel{
			font-weight:bold;
			color:#8c8c8c;
		}
		.state_sent{
			font-weight:bold;
			color:#007b09;
		}
		.state_delivered{
			font-weight:bold;
			color:#000;
		}
		.state_progress{
			font-weight:bold;
			color:#011c93;
		}
		.state_new{
			font-weight:bold;
			color:#e62c01;
		}
	}
	td{
		padding:12px 10px;
		border:1px solid #e3e3e3; 
		vertical-align: top;
		white-space:nowrap;
		.cancel{
			border-bottom:1px dotted;
			text-decoration: none;
			&:hover{border-color: transparent;}
		}
		a{white-space:normal;}
	}
	th{
		background:#ededee;
		font-weight:bold;
		text-align:left;
		padding:10px;
		border:1px solid #e3e3e3; 
	}
}
.cabinet__block_contact{
	h2, dt{color:#158edc;}
	dd{font-weight:bold;}
	dt,dd{margin-bottom:8px;}
}