@import "base";
*{margin:0;padding:0;-webkit-text-size-adjust: none;}
button,input::-moz-focus-inner {padding:0; border:0}
header,footer,nav,aside{display:block;}
body{
	font:{
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 12px;
	  	}
	line-height:1.2;
	background:#f8f8f8;
	overflow: scroll;
	color:#000;
}


/* resets */
a img,fieldset{border:none;}
a{
	color:#0078c6;
	&:hover{
		text-decoration:none;
	}
}
.fll{float:left;}
.flr{float:right;}
.clr{
	clear:both;
	height:1px;
	font-size:1px;
	line-height:1px;
}
.out{
	width:$main-width;
	margin:0 auto;
	z-index:1;
	position: relative;
}

.arr-right{
	@include sized-sprite($icons, "arrow-right");
	display:block;
}
.arr-down{
	@include sized-sprite($icons, "arrow-down");
}
.h3{
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 0 1px 0 0 #fff;
	color: #000;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 4px;
}


/* forms */
.input{
	border:1px solid #c9c9c9;
	background:#fff;
	padding:0 9px;
	height:27px;
	border-radius:2px;
	color:#3c3c3c;
	font-size:12px;
	font-style:italic;
}
.btn{
	background:#1fbaea;
	@include background-image(linear-gradient(top, #1fbaea 0, #2696de 100%));
	background-repeat:repeat-x;
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.25), 0 1px 0 0 rgba(255,255,255,0.25) inset;
	border:1px solid #2696de;
	height:26px;
	line-height:26px;
	padding:0 8px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	text-shadow:#1798df 0 -1px 0;
	border-radius:2px;
	cursor:pointer;
	font-family:Arial,sans-serif;
	

	&:hover{
	background-color:#2696de;
	background-position:0 -30px;
	@include transition-property(background-position);
	@include transition-duration(0.1s);
	@include transition-timing-function(linear);
	}
}
.btn_gray{
	background:#bcbec0;
	@include background-image(linear-gradient(top, #bcbec0 0, #b2b4b6 100%));
	background-repeat:repeat-x;
	border-color:#b2b4b7;
	color:#fff;
	text-shadow:rgba(0,0,0,0.25) 0 -1px 0;
	&:hover{background-color:#b2b4b6;}
}
.btn_light-gray{
	background:#eeeeee;
	@include background-image(linear-gradient(top, #eeeeee 0, #d9d9d9 100%));
	background-repeat:repeat-x;
	border-color:#cacaca;
	color:#606060;
	text-shadow:rgba(255,255,255,0.9) 0 -1px 0;
	&:hover{background-color:#d9d9d9;}
}
.btn_orange{
	border-color:#f8890c;
	@include background-image(linear-gradient(top, #ffbb16 0, #f89e10 100%));
	text-shadow:#fd900a 0 -1px 0;
	&:hover{background-color:#f89e10;}
}
.btn_purple{
	border-color:#b35d8d;
	@include background-image(linear-gradient(top, #b94d91 0, #972264 100%));
	text-shadow:rgba(0,0,0,.52) 0 -1px 0;
	&:hover{background-color:#972264;}
}

/* links */
.ico-scales{
	@include sized-sprite($icons, "ico-scales");
	position:absolute;
	left:-25px;
	top:1px;
}
.ico-heart{
	@include sized-sprite($icons, "ico-heart");
	position:absolute;
	left:-23px;
	top:2px;
}
.ico-video-review{
	@include sized-sprite($icons, "ico-video");
	position:absolute;
	left:-20px;
	top:-1px;
}
.ico-user{
	@include sized-sprite($icons, "ico-user");
	display: inline-block;
	vertical-align: middle;
}
.link-compare, .link-wishlist, .link-video-review{
	font-size:11px;
	position:relative;
	border-bottom: 1px dotted #158EDC;
	text-decoration: none;
	margin-left: 24px;
	&:hover{
		border-color:transparent;
	}
}
.link-compare_active .ico-scales{@include sized-sprite($icons, "ico-scales-active");}
.link-wishlist_active .ico-heart{@include sized-sprite($icons, "ico-heart-active");}
.link-notify, .link-credit, .link-blue{
	text-decoration:none;
	border-bottom:1px dotted #0078C6;
	font-size:11px;
	&:hover{
		border-color:transparent;
	}
}

/* .top-menu */
.top-menu{
	background:#f4f4f4;
	@include background-image(linear-gradient(top, #f4f4f4 0, #e1e1e1 100%));
	text-align:center;
	height:26px;
	z-index:1010;
	position: relative;
	ul{
		list-style: none;
		width:$main-width;
		text-align: center;
		margin: 0 auto;
		display:inline-block;
		.drop{
			width:(18+($main-width/5));
			text-align: left;
			margin:0;
			position: absolute;
			top:0;
			left:-11px;
			padding:34px 0 21px;
			background:#fff;
			@include background-image(linear-gradient(top, #fff 0, #f4f4f4 100%));
			border:1px solid #b3b3bd;
			box-shadow:0 3px 5px 0 rgba(0,0,0,0.6);
			border-radius:0 0 5px 5px;
			z-index:10;
			display: none;
			border-top:none;
			li{
				float: none;
				height:auto;
				border:none;
				width:auto;
				box-shadow:none;
				padding:0 24px;
				line-height:20px;
				font-size:12px;
				a{
					text-decoration:underline;
					color:#158edc;
					background:none;
					&:hover{text-decoration:none;;}
				}
			}
		}
	}
	li{
		float: left;
		font-size:11px;
		color:#4d4d4d;
		height:26px;
		line-height:26px;
		border-right: 1px solid #fff;
		box-shadow:-1px 0 0 #d8d8d8 inset;
		width:(-2+($main-width/5));
		position: relative;
		&:hover{
			a{
				background:#e5e5e5;
				@include background-image(linear-gradient(top, #e5e5e5 0, #fff 100%));
				margin:0 -10px
			}
			.drop{display: block;}
		}
		&:first-child{
			border-left: 1px solid #fff;
			box-shadow:-1px 0 0 #d8d8d8, -1px 0 0 #d8d8d8 inset;
		}
		a{
			color:#4d4d4d;
			text-decoration:none;
			display: block;
			position: relative;
			z-index:20;
			&:hover{
				text-decoration:underline;
			}
		}
	}
	li.wo-drop:hover a{
		margin:0;
		background:none;
	}
	.top-menu__arrow{
		@include sized-sprite($icons, menu-arrow);
		display: inline-block;
		margin:0 0 -10px 5px;
	}
	.top-menu__key{
		@include sized-sprite($icons, key);
		display: inline-block;
		margin:0 0 -10px 5px;
	}
}
	

/* header */
.header{
	display:inline-block;
	width:100%;
	margin-bottom:11px;
	background:#f8f8f8;
	@include background-image(linear-gradient(#f8f8f8, #f8f8f8 70%, #efeff0 78%, #d3d4d7 93%, #cbccd0 99%, #c1c2c5));
}
	.header__holder{
		width:$main-width;
		margin:0 auto;
		padding: 16px 0 9px 2px;
		height:72px;
	}
	.header__logo{
		@include sized-sprite($icons, logo);
		float:left;
		overflow: hidden;
		text-indent:-9999px;
		margin-right:58px;
		a{
			height:100%;
			display: block;
		}
	}
	.header__col1{
		float:left;
		padding-top:6px;
	}
	.header__col2{
		float:left;
		margin-left:49px;
	}
	.header__info{
		color:#3c3c3c;
		overflow: hidden;
		.header__worktime{
			float: left;
			font-size:12px;
		}
		.header__phone{
			font-size:19px;
			font-weight:bold;
			margin:-1px 0 0 7px;
			float:left;
		}
		.header__callback{
			margin:3px 0 0 11px;
			font-size:13px;
			color:#3c3c3c;
			text-decoration:none;
			border-bottom:1px dotted #3c3c3c;
			float: left;
			&:hover{border:none;}
		}
	}
	.header__search{
		border:1px solid #dbdbdb;
		background:#ececec;
		border-radius:3px;
		padding:3px;
		position:relative;
		margin-top:8px;
		width:517px;
		.header__search-input{
			border:1px solid #c9c9c9;
			border-radius:2px;
			background:#fff;
			width:478px;
			padding:6px;
			font-size:11px;
			line-height:14px;
			color:#6d6d6d;
			height:14px;
			outline:none;
			&:focus{
				border-color:#2697de;
				box-shadow:0 0 0 1px #23a8e4 inset;
			}
		}
		.header__search-btn{
			border-radius:2px;
			border:1px solid #2696de;
			@include sized-sprite($icons, btn-search);
			box-shadow:0 1px 0 0 #3bc9ef inset;
			overflow:hidden;
			text-indent:-9999px;
			cursor:pointer;
			position:absolute;
			right:3px;
			top:3px;
		}
		.suggest{
			position: absolute;
			top:31px;
			left:3px;
			z-index:30;
			background:#fdfdfd;
			border:1px solid #b3b3bd;
			border-radius:0 0 3px 3px;
			padding:11px 14px;
			display:none;
			background:#fff;
			@include background-image(linear-gradient(top, #fff 0, #f4f4f4 100%));
			.item{
				overflow: hidden;
				width:460px;
				padding:6px 0 7px;
				border-bottom:1px solid #ebebeb;
				box-shadow:0 1px 0 0 #fff;
				h4{
					font-size:14px;
					margin-bottom:6px;
					letter-spacing:-0.01em;
					color:#484954;
					text-decoration:underline;
					}
				p{
					color:#60616b;
					font-size:10px;
					margin-bottom: 3px;
				}
				&:hover{background:#f1f1f1;}
			}
			.item__last{
				padding:9px 0 2px 10px;
				a{
					color:#60616b;
					font-size:11px;
				}
			}
			.item__img{
				float: left;
				width:82px;
				margin-right:5px;
				text-align: center;
				padding-top:5px;
				img{
					vertical-align:middle;
				}
			}
			.item__inf{
				float:left;
				width:373px;
			}
			.item__price{
				font-size:11px;
				color:#484954;
				strong{
					font-size:14px;
					color:#0078c6;
					margin-right: 7px;
				}
			}
		}
	}
				

	.header__currency{
		height:36px;
		dl{
			font-size:13px;
			padding-top:9px;
			dt{
				float:left;
				color:#494949;
				margin-right:5px;
			}
			dd{
				position:relative;
				ul{
					position:absolute;
					list-style:none;
					background:#fff;
					border-radius:3px;
					box-shadow:-2px 2px 3px 0 rgba(0, 0, 0, 0.6);
					padding:20px 0 4px;
					border:1px solid #c9c9c9;
					top:-3px;
					left:46px;
					z-index:1;
					display: none;
				}
				li{
					font-size: 12px;
					list-style-type: none;
					margin:0;
					padding:0;
					white-space:nowrap;
					a{
						color: #000000;
						display: block;
						padding: 2px 11px;
						text-decoration: none;
						&:hover{
							background:#1fbaea;
							@include background-image(linear-gradient(top, #1fbaea 0, #2697de 100%));
							color:#fff;
						}
					}
				}
			}
		}
		.header__currency-selected{
			color:#0078c6;
			border-bottom:1px dotted #0078c6;
			text-decoration:none;
			z-index:5;
			position:relative;
			&:hover{border:none;}
		}
	}
				
	.header__basket{
		border:1px solid #dbdbdb;
		background:#ececec;
		border-radius:3px;
		padding:3px;
		.header__basket-btn{
			background:#34b8e9;
			@include background-image(linear-gradient(top, #34b8e9 0, #2697df 100%));
			border-radius:2px;
			border:1px solid #2696de;
			box-shadow:0 1px 0 0 #3bc9ef inset;
			font-size:11px;
			font-weight:bold;
			color:#fff;
			text-shadow:rgba(0,0,0,0.25) 0 1px 0;
			text-decoration:none;
			height:26px;
			line-height:26px;
			display:block;
			padding-left:6px;
			width:153px;
			span{
				border-left:1px solid #2696de;
				@include sized-sprite($icons, btn-basket);
				float:right;
			}
		}
	}



/* nav */
.nav{
	width:$main-width;
	margin:0 auto;
	ul{
		height:36px;
		background:#9697a1;
		@include background-image(linear-gradient(top, #9697a1 0, #575866 100%));
		border-radius:7px 7px 0 0;
		list-style:none;
	}
	.nav__item{
		float:left;
		margin-left:-8px;
		position:relative;
		&:first-child{
			margin-left:0;
			.nav__item-link{
				border-radius:7px 7px 0 0;
				border-left:1px solid #4c4d55;
			}
		}
	}
	.nav__item:hover, .active{
		z-index:25;
		.nav__item-link{
			border-radius:7px 7px 0 0;
			border-left-color:#7a7a7b;
			border-right-color:#7a7a7b;
			/*box-shadow:0 3px 5px 0 rgba(0,0,0,0.6);*/
			text-shadow:#fff 0 -1px 0;
			color:#010101;
			font-weight:bold;
			background:#f8f8f8;
			@include background-image(linear-gradient(top, #e5e5e5 0, #f8f8f8 100%));
			height:26px;
			margin-top:-2px;
		}
	}
	/*.nav__item:hover .nav__drop{display: block;}*/
	.active .nav__item-link{box-shadow:none;}
	.nav__item.active{z-index:20;}
	.nav__item1{
			width:87px;
			z-index:14;
			.nav__drop{left:1px;}
		}
	.nav__item2{
		width:199px;
		z-index:12;
		.nav__drop{
			width:691px;
			.nav__drop-col{width:157px;}
			.nav__drop-col2{width:329px;}
		}
	}
	.nav__item3{
		width:183px;
		z-index:10;
		.nav__drop{
			width:557px;
			.nav__drop-col{width:263px;}
		}
	}
	.nav__item4{
		width:146px;
		z-index:8;
		.nav__drop{
			left:-444px;
			width:657px;
			.nav__drop-col{width:204px;}
		}
	}
	.nav__item2, .nav__item3, .nav__item4{
		.nav__item-link{
			padding-top:4px;
			height:31px;
		}
	}
	.nav__item2:hover, .nav__item3:hover, .nav__item4:hover, .nav__item2.active, .nav__item3.active, .nav__item4.active{
		.nav__item-link{height:33px;}
	}
	.nav__item5{
		width:163px;
		z-index:6;
		.nav__drop{
			width:275px;
			.nav__drop-col{width:260px;}
		}
	}
	.nav__item6{
		width:141px;
		z-index:4;
		.nav__drop{
			width:585px;
			left:auto;
			right:1px;
			.nav__drop-col{width:180px;}
			.nav__drop-col2{
				width:390px;
				padding-right:0;
				ul{
					float:left;
					width:180px;
					padding-right:15px;
				}
			}
		}
	}
	.nav__item7{
		width:129px;
		z-index:2;
		.nav__drop{
			width:671px;
			left:auto;
			right:1px;
			.nav__drop-col{width:152px;}
		}
	}
	.nav__item-link{
		color:#fff;
		text-decoration:none;
		display: block;
		height:24px;
		font-size:12px;
		padding-top:11px;
		text-shadow:rgba(0,0,0,0.35) 0 -1px 0;
		text-align:center;
		background:#9697a1;
		@include background-image(linear-gradient(top, #9697a1 0, #575866 100%));
		border-radius:0 7px 0 0;
		border-right:1px solid #4c4d55;
		border-top:1px solid #9a9ca9;
		box-shadow:1px 1px 0 0 rgba(255,255,255,0.3) inset, -1px 0 0 0 rgba(255,255,255,0.3) inset;
		z-index:10;
		position: relative;
	}
	.nav__drop{
		background:#f8f8f8;
		padding:12px 0 12px 19px;
		text-align: left;
		width:350px;
		position:absolute;
		top:36px;
		left:0;
		box-shadow:0 1px 7px 0 rgba(0,0,0,0.6);
		border-radius:0 0 7px 7px;
		display: none;
		z-index:5;
	}
	.nav__drop-holder{overflow: hidden;}
	.nav__drop-col{
		padding-right:15px;
		width:160px;
		float:left;
		h2{
			color:#000;
			font-size:16px;
			margin-bottom:7px;
			text-align: left;
			a{color:#158edc;}
		}
		ul{
			margin-bottom:19px;
			height:auto;
			background:none;
			li{
				padding-left:10px;
				margin-bottom:3px;
				font-size:12px;
				line-height:14px;
			}
			a{
				display: block;
				color:#158edc;
				text-decoration:none;
				&:hover{
					background:#d8e8f2;
					color:#18608c;
				}
			}
		}
	}
	.nav__drop-all{padding: 6px 0 12px;
		a{
			color:#90038c;
			position:relative;
			text-decoration:none;
			border-bottom:1px dotted #90038c;
			&:hover{border-bottom:none;}
			.arr-right{
				position: absolute;
				right: -10px;
				top: 3px;
			}
		}
	}
}


/* footer */
.footer{
	color:#fff;
	font-size:12px;
    margin:35px auto 0;
    width:$main-width - 50;
    padding:25px 25px 15px;
    overflow:hidden;
    border-radius:5px 5px 0 0;
    background:#83838f;
	.footer__copy{
		float:left;
		margin-top:-3px;
		width:293px;
		h4{margin-bottom:5px;}
		p{
			font-size: 10px;
			line-height: 12px;
			}
		}
	.footer__info{
		font-size:14px;
		margin:-7px 0 0 34px;
		width:227px;
		float:left;
	}
	.footer__phone{
		font-size:30px;
		font-weight:normal;
	}
	.footer__schedule{
		margin-top:7px;
		span{margin-left:7px;}
	}
	.footer__menu{
		float: right;
		line-height: 20px;
		margin-top: -6px;
		width: 145px;
		list-style: none;
			a{color:#fff;}
	}
	.footer__social{
		float: right;
		line-height: 20px;
		margin-right: 40px;
		width: 164px;
	}
}
	

/* social-white */
.social-white{
	list-style:none;
	margin-bottom:12px;
	overflow: hidden;
	li{
		float: left;
		margin-right:9px;
	}
	a{
		display: block;
		overflow: hidden;
		text-indent:-9999px;
	}
	.social-white__rss{@include sized-sprite($icons, icon_rss);}
	.social-white__tw{@include sized-sprite($icons, icon_twitter);}
	.social-white__fb{@include sized-sprite($icons, icon_facebook);}
	.social-white__vk{@include sized-sprite($icons, icon_vkontakte);}
}

/* bottom-panel */
.bottom-panel{
	border-top:1px solid #2080bd;
	box-shadow:0 1px 0 0 #79c4f2 inset;
	background:#2696de url(../img/bg-cellule.png);
	position:fixed;
	bottom:0;
	height:48px;
	
	width:100%;
	z-index:100;
	.bottom-panel__holder{
		width:1000px;
		margin:0 auto;
		position: relative;
	}
	.bottom-panel__btn{
		position: absolute;
		top:-38px;
		right:10px;
		border:1px solid #2080bd;
		border-bottom:0;
		box-shadow:0 1px 0 0 #79c4f2 inset, 1px 0 0 0 #79c4f2 inset, -1px 0 0 0 #79c4f2 inset;
		background:#2696de url(../img/bg-cellule.png) 1px 1px;
		height:38px;
		width:44px;
		border-radius:3px 3px 0 0;
	}
	.arr{
		@include sized-sprite($icons, "arr-11");
		display: block;
		margin: 12px 0 0 11px;
	}
	strong{
		font-size:16px;
		color:#fff;
		float: left;
		line-height:48px;
	}
	.input-holder{
		float: left;
		background:#efedee;
		border-radius:3px;
		height:25px;
		margin:12px 0 0 30px;

		input{
			border-radius:0 3px 3px 0;
			border:none;
			border-left:1px solid #2696de;
			height:25px;
			padding:0 9px;
			width:135px;
		}
	}
	.ico-mail{
		@include sized-sprite($icons, mail);
		float: left;
		margin: 8px 6px 0 8px;
	}
	.btn{
		float: left;
		margin:12px 0 0 9px;
	}
}