@import "base";



.bc-social{
	display:inline-block;
	padding:0 0 11px;
	width:100%;
	.bc{
		float:left;
		list-style-type:none;
		@include clr;
		position: relative;
		height: 37px;
		box-shadow:0 0 0 1px #dfdfdf inset;
		border-radius:5px;
		@include background-image(linear-gradient(#fcfcfc, #f7f7f7));
	}
	.bc__item{
		float:left;
		color:#000;
		font-size:12px;
		line-height: 37px;
		margin-left: 20px;
		cursor: default;
		position: relative;
		padding: 0 10px 0 15px;
		&:first-child{
			margin-left: 0;
			padding-left: 18px;
			.bc__path-link{
				padding-left: 18px;
				margin-left: -18px;
				border-radius:5px 0 0 5px;
				&:hover{
					box-shadow:1px 0 0 #bebebe inset;
				}
				&:before{
					display: none;
				}
			}
		}
		&:last-child{
			padding-right: 20px;
		}
		&:hover{
			.bc__drop{
				display: block;
			}
		}
	}
	.bc__path-link{
		color:#000;
		display: block;
		margin: 0 -10px 0 -15px;
		padding: 0 10px 0 15px;
		position: relative;
		text-decoration: none;
		&:after{
			content:"";
			@include sized-sprite($icons, "bc-after2");
			position: absolute;
			top: 0;
			right: -20px;
		}
		&:hover{
			background: url(../img/bg-bc.png);
			&:after{
				background-position: sprite-position($icons, 'bc-after');
			}
			&:before{
				content:"";
				@include sized-sprite($icons, "bc-before");
				position: absolute;
				top: 0;
				left: -20px;
			}
		}
	}

	.bc__drop{
		display: none;
		box-shadow:0 0 4px rgba(0,0,0,.2);
		position: absolute;
		background: #fff;
		list-style: none;
		top: 44px;
		left: 50%;
		min-width: 104px;
		z-index: 10;
		border-radius:5px;
		margin-left: -52px;
		&:before{
			content: "";
			position: absolute;
			left: 42px;
			top: -13px;
			@include sized-sprite($icons, "bc-drop-arr");
		}
		li{
			line-height: 30px;
			&:first-child{
				a{border-radius:5px 5px 0 0;}
			}
			&:last-child{
				a{border-radius:0 0 5px 5px;}
			}
		}
		a{
			color: #000;
			display: block;
			padding: 0 12px;
			text-decoration: none;
			&:hover{
				@include background-image(linear-gradient(#0184b8, #27b4ec));
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0,0,0,.35);
			}
		}
	}

	.social{float:right;}
}



/* compare */
.compare{
	margin-bottom:23px;
	h3{
		color:#000;
		font-size:18px;
		font-weight:normal;
		border-bottom:1px solid #d8d8d8;
		box-shadow:0 1px 0 0 #fff;
		padding-bottom:4px;
	}
	.compare__count{
		padding:9px 0 8px 2px;
		display:block;
	}
	ul{margin-bottom:14px;}
	li{
		list-style:none;
		margin-bottom:5px;
	}
	.compare__cansel{
		display:inline-block;
		@include sized-sprite($icons, "delete-01");
		margin-left:4px;
		vertical-align:middle;
	}
	.clear{
		color:#158edc;
		font-size:11px;
		margin-left:10px;
	}
}

.adv{
	margin-bottom:18px;
	img{vertical-align:top;}
}


/* recommend */
.recommend{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:7px;
	padding:9px 13px;
	text-align:center;
	margin-bottom:20px;
	h3{
		font-size:18px;
		font-weight:normal;
		color:#000;
	}
	.recommend__item{
		border-bottom:1px solid #e3e3e3;
		padding:35px 0 0;
		margin-bottom:20px;
		h4{
			font-size:14px;
			font-weight:normal;
			margin-bottom:19px;
			a{color:#158edc;}
		}
		.price-block{
			margin:0 auto 20px;
			float:none;
			overflow:hidden;
			strong{
				font-weight:16px;
				i{font-size:12px;}
			}
		}
		&:last-child{border:none;}
		.more{
			font-size:11px;
			color:#158edc;
		}
	}
	.recommend__img{
		margin-bottom:17px;
		img{vertical-align:top;}
	}
}


/* product */
.product-block{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:5px;
	margin:4px 0 11px;
	.product{}
	.product-tabs{}
}
.product{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:5px;
	padding:15px 0 8px 20px;
	margin:0 0 10px;
	@include clr;
}
.product__links{
	float: right;
	padding-top: 11px;
	a{
		display: inline-block;
		margin-left: 47px;
	}
}
.product__col_l{
	float: left;
	//width: 683px;
	width: 700px;
	padding-top: 9px;
}
.product__title{
	color:#585967;
	font-size:20px;
	font-weight:normal;
	margin:0 0 16px 10px;
}
.product__media{
	width:345px;
	float:left;
}
.product__img{
	position:relative;
	display:block;
	margin-bottom: 8px;
	height:270px;
	text-align:center;
	img{
		vertical-align:top;
		max-height:270px;
		max-width: 315px;
	}
	&:hover .product__zoom{opacity:0.7;}
}
.product__zoom{
	@include sized-sprite($icons, "zoom");
	position:absolute;
	bottom:17px;
	right:3px;
}
.preview{
	position:relative;
	width:340px;
	.caro{
		height:78px;
		margin:0 14px;
	}
	.caro-prev-l, .caro-next-l{
		position: absolute;
		top:24px;
		cursor:pointer;
		&.disabled{
			opacity:0.4;
			cursor:default;
		}
	}
	.caro-prev-l{
		@include sized-sprite($icons, "arr-3");
		left:0;
	}
	.caro-next-l{
		@include sized-sprite($icons, "arr-4");
		right:0;
	}
}
.preview__item{
	float:left;
	padding: 4px;
	list-style: none;
	position: relative;
	a{
		display:block;
		border:1px solid #e3e3e3;
		height: 68px;
		width: 68px;
		text-align:center;
		background:#fff;
		line-height:68px;
		overflow:hidden;
		position: relative;
	}
	img{vertical-align:middle;}
	&.active, &:hover{
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
			@include sized-sprite($icons, "prev-img-hover");
		}
	}
	.prev-play, .prev-video{
		&:after{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			@include sized-sprite($icons, "prev-360");
		}
	}
	.prev-video{
		&:after{
			background-position: sprite-position($icons, 'prev-play');
		}
	}
}
.product__info{
	float:right;
	width:322px;
	padding:4px 0 19px 0;
}
.product__code{
	font-size:12px;
	margin: 0 7px 6px 0;
	text-align: right;
	
	// .in-stock{
	// 	color:#0078c6;
	// 	display:inline-block;
	// 	border-left:1px solid #e3e3e3;
	// 	padding-left:8px;
	// 	margin-left:5px;
	// }
}
.product__buy{
	margin-bottom: 15px;
	@include clr;
	.btn{
		margin-bottom: 3px;
	}
}
.product__price{
	text-align: right;
	line-height: 32px;
	float: left;
	font-size: 24px;
	color: #000;
	width: 160px;
}
.product__price_credit{
	font-size: 20px;
	color: #909090;
}
.product__buy-btn{
	float: right;
	width: 142px;
	text-align: center;
}
.btn_buy{
	height:30px;
	line-height:30px;
	font-size:14px;
	padding:0;
	text-align:center;
	width:140px;
}
.product__color{
	@include clr;
	margin:35px 0 13px;
	dl{float:left}
	dt{
		float:left;
		margin: 7px 19px 0 7px;
	}
	dd{
		float:left;
		a{
			padding:5px;
			border:1px solid transparent;
			border-radius:2px;
			float:left;
			margin-right:1px;
			span{
				@include sized-sprite($icons, "bg-color");
				border-radius:2px;
				box-shadow:0 1px 0 0 rgba(255,255,255,0.5) inset;
				border:1px solid #fff;
				display:block;
			}
			&:hover{
				background:#ececec;
				border-color:#dbdbdb;
			}
		}
	}
	.product__color-all{
		float: right;
		margin: 5px -7px 0 0;
		border-bottom:1px dotted #0078c6;
		text-decoration:none;
		&:hover{border-color:transparent;}
	}
}
.product__rating{
	margin:14px 0 0 6px;
	line-height: 19px;
}
.stars{display:inline-block;
	.star{
		display:inline-block;
		@include sized-sprite($icons, "star-gray-2");
	}
	.chosen{@include sized-sprite($icons, "star-2");}
}
.rating-users{
	margin: 0 0 0 9px;
	vertical-align: top;
	.ico-user{
		margin: 0 2px;
	}
}
.rating-count{
	font-size:11px;
	text-decoration:underline;
	margin-left:1px;
	vertical-align: top;
}
.product__text{
	font-size:12px;
	color:#000;
	line-height: 17px;
	margin: 7px 0 11px 6px;
}
.product__delivery{
	float: right;
	width: 240px;
}
.title-orange{
	color: #fff;
	@include background-image(linear-gradient(top, #ff9923 0, #ff8415 100%));
	border-radius:4px 0 0 4px;
	position: relative;
	&:after{
		content: "";
		position: absolute;
		right: -7px;
		top: -3px;
	}
	&:before{
		content: "";
		position: absolute;
		top: 9px;
	}
}
.title-orange_delivery{
	padding: 0 0 0 54px;
	height: 32px;
	width: 240px - 54px;
	line-height: 32px;
	margin: 0 0 20px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	&:before{
		@include sized-sprite($icons, "ico-car");
		left: 9px;
	}
	&:after{
		@include sized-sprite($icons, "delivery");
	}
}
.title-orange_attendant{
	line-height: 12px;
	height: 32px;
	padding: 8px 0 0 47px;
	float: right;
	font-size: 12px;
	width: 227px;
	font-weight: normal;
	margin-right: -20px;
	&:before{
		@include sized-sprite($icons, "ico-gift");
		left: 13px;
	}
	&:after{
		@include sized-sprite($icons, "delivery2");
	}
}
.product__delivery-block{
	padding: 0 0 0 38px;
	margin-bottom: 20px;
	h3{
		position: relative;
		font-size: 14px;
		font-weight: bold;
		color: #000;
		margin-bottom: 10px;
	}
	ul{
		margin-bottom: 10px;
		li{
			list-style: none;
			color: #000;
			margin-bottom: 3px;
		}
	}
	a{
		color: #017ecb;
		border-bottom: 1px dotted #017ecb;
		text-decoration: none;
		&:hover{
			border-color: transparent;
		}
	}
}
.ico-warranty{
	@include sized-sprite($icons, "ico-warranty");
	position:absolute;
	left:-25px;
	top:1px;
}
.ico-delivery{
	@include sized-sprite($icons, "ico-delivery");
	position:absolute;
	left:-25px;
	top:1px;
}
.ico-payment{
	@include sized-sprite($icons, "ico-payment");
	position:absolute;
	left:-25px;
	top:1px;
}

// .product__btns{
// 	margin-bottom:9px;
// 	.price-block{
// 		width:161px;
// 		margin-right:13px;
// 		strong{
// 			font-size:18px;
// 			width:102px;
// 			i{font-size:14px;}
// 		}
// 		span{
// 			font-size:12px;
// 			width:59px;
// 		}
// 	}
// }
// .product__social{margin-left:20px;}
// .product__gd{
// 	display:inline-block;
// 	.product__gd-col1, .product__gd-col2{
// 		float:left;
// 		width:168px;
// 		margin-right:6px;
// 	}
// 	.product__gd-col2{width:142px;}
// 	h3{
// 		font-size:14px;
// 		margin-bottom:4px;
// 	}
// 	ul{
// 		list-style:none;
// 		font-size:11px;
// 	}
// 	li{
// 		background:url(../img/bullet.png) no-repeat 4px 4px;
// 		padding:0 0 0 10px;
// 		margin-bottom:4px;
// 	}
// 	a{font-size:11px;}
// }
// .product__2cols{
// 	display: inline-block;
// 	width: 100%; 
// }
// .product__war-del{
// 	margin-right: 13px;
// 	width: 161px;
// 	float: left;
// 	color: #494949;
// 	font-size: 11px;
// 	margin-bottom: 16px;
// 	h3{
// 		font-size: 16px;
// 		color: #494949;
// 		margin-bottom: 16px;
// 	}
// 	.garanty span{color:#e47911;}
// 	ul{
// 		margin:11px 0;
// 		padding-left: 30px;
// 	}
// 	p{margin:11px 0; }
// }
// .product__q-order{
// 	float: left;
// 	width: 140px;
// 	color: #494949;
// 	font-size: 11px;
// 	h3{
// 		font-size: 14px;
// 		color: #494949;
// 		margin-bottom: 16px;
// 	}
// 	.input_order{
// 		border: 1px solid #888888;
// 		font-size: 11px;
// 		width: 136px;
// 		padding: 2px 1px;
// 		margin-bottom: 2px;
// 	}
// 	.btn{
// 		width: 140px;
// 		height: 32px;
// 		font-size: 14px;
// 	}
// }


/* attendant */
.attendant{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:5px;
	padding:15px 20px 43px;
	margin:0 0 20px;
	@include clr;
}
.attendant__top{
	@include clr;
}
.attendant__col_l{
	float: left;
	width: 670px;
}
.attendant__col_r{
	float: right;
	width: 280px;
}
.attendant__title{
	color:#585967;
	font-size:18px;
	font-weight:normal;
	margin:0 0 22px 0;
}
.attendant__filter{
	@include clr;
	list-style: none;
	li{
		float: left;
		margin-right: 18px;
		margin-top: 2px;
	}
	a{
		text-decoration: none;
		color: #017ecb;
		border-bottom: 1px dotted #017ecb;
		&:hover{
			border-color: transparent;
		}
	}
	.active{
		margin-top: 0;
		a{
			color: #ff8f19;
			border-color:transparent;
			font-size: 14px;
			font-weight: bold;
		}
	}
}
.attendant__show{
	list-style: none;
	text-align: right;
	margin: 0 0 19px;
	font-size: 0;
	li{
		display: inline-block;
		padding: 0 3px;
		border-left:1px solid #585967;
		font-weight: normal;
		color: #585967;
		border-bottom: transparent;
		font-size: 12px;
		&:first-child{
			border-left: none;
		}
	}
	a{
		font-weight: bold;
		color: #017ecb;
		border-bottom:1px dotted #017ecb;
		text-decoration: none;
		&:hover{
			border-bottom: transparent;
		}
	}
	.active{
		a{
			font-weight: normal;
			color: #585967;
			border-bottom: transparent;
		}
	}
}
.attendant__gallery{
	position: relative;
	.caro-prev{
		left: 0;
	}
	.caro-next{
		right: 0;
	}
	.caro{
		height: 220px;
		margin: 0 40px;
		width: 145px * 5 + 38 * 4;
	}
}
.attendant__list{
	list-style: none;
	height: 208px;
    overflow: hidden;
    padding: 6px 0 0;
	li{
		float: left;
		width: 145px;
		margin: 0 0 0 38px;
		&:first-child{
			margin: 0;
		}
	}
}
.attendant__media{
	text-align: center;
	height: 138px;
	line-height: 138px;
	img{
		vertical-align: middle;
		max-width: 145px;
		max-height: 135px;
	}
}
.attendant__name{
	height: 30px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	margin-bottom: 9px;
}
.price-buy{
	border-radius:2px;
	width: 145px;
	height: 30px;
	@include background-image(linear-gradient(#f5f5f5, #f8f8f8));
	box-shadow: 0 0 0 1px #e3e3e3 inset, 0 1px 2px rgba(0,0,0,.3) inset;
	.btn{
		float: right;
		border-radius:0 2px 2px 0;
		width: 145px - 68px - 2px;
		text-align: center;
		padding: 0;
		height: 28px;
		line-height: 28px;
	}
}
.price-buy__price{
	width: 68px;
	color: #123547;
	text-align: center;
	display: block;
	line-height: 30px;
	float: left;
}

/* product-tabs */
.product-tabs{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:5px;
	margin:0 0 20px;
	.tabs{
		font-size:11px;
		margin:0 -1px;
		.tabs__nav{
			height:32px;
			li{
				width: 125px;
				a{
					height:31px;
					line-height:31px;
				}
			}
			li.active a{height:33px;}
			.tabs__nav5{width: 142px; }
		}
	}
	.tabs__info{
		font-size:12px;
		padding: 28px 20px 22px;
		border:0;
		background:none;
		color:#3d3d3d;
		h2{
			font-size:14px;
			color:#3d3d3d;
			margin-bottom: 15px;
		}
		h3{
			font-size:12px;
			color:#3d3d3d;
		}
		p{margin-bottom: 12px;}
	}
	.add-tab{
		list-style-type: none;
		overflow: hidden;
		font-size:13px;
		height:23px;
		margin-bottom:10px;
		li{
			float: left;
			background:none!important;
			padding:0!important;
			margin:0 11px 0 0!important;
			a{
				text-decoration:none;
				border-bottom:1px dotted #158edc;
				display: block;
				&:hover{
					border:none;
				}
				margin:3px 0;

			}
		}
		.active{
			a{
				background:#158edc;
				color:#fff;
				border-radius:3px;
				text-decoration:none;
				border:none;
				padding:3px 10px;
				margin:0;
			}
		}
	}
	.tab__box_features{
		h2{margin-left:-5px;}
		ul{
			list-style:none;
			margin-bottom:21px;
			li{
				background:url(../img/bullet-2.png) no-repeat 7px 6px;
				padding-left:17px;
				line-height:14px;
				margin-bottom:10px;
			}
		}
		.warranty{
			color:#158edc;
			font-weight:bold;
		}
	}
	.t-features{
		margin:0 -19px 18px;
		font-size:12px;
		border-collapse:separate;
		border-spacing:0;
		color:#3d3d3d;
		caption{
			font-size: 14px;
			font-weight: bold;
			padding: 8px 25px;
			text-align: left;
		}
		th{
			text-align:left;
			vertical-align:top;
			width:201px;
			padding:5px 0 5px 25px;
		}
		td{
			padding:5px 20px 5px 0;
			vertical-align:top;
		}
		tr:nth-child(odd){
			td{background:#f4f5f5;}
			th{background:#f4f5f5;}
		}
	}

	.tabs__box_guarant{
		h2{
			font-size:18px;
			font-weight:bold;
		}
		h3{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 5px;
		}
		ul{
			list-style: none;
			margin-bottom:17px;
		}
		li{
			background: url("../img/bullet.png") no-repeat 2px 6px;
			margin-bottom: 4px;
			padding: 0 0 0 12px;
		}
		.q-and-a{
			margin-bottom:14px;
		}
		.question{
			border-bottom:1px dotted #0078c6;
			text-decoration:none;

			&:hover{
				border:none;
				padding-bottom:1px;
			}
		}
		.answer{
			display:none;
			margin-top:3px;
		}
	}
}


/* block-error-message */
.block-error-message{
	background:#ececec;
	border:1px solid #e3e3e3;
	border-radius:7px;
	font-size:11px;
	padding: 10px 20px;
	margin-bottom:14px;
	a{
		color:#158edc;
		text-decoration:none;
		border-bottom:1px dotted #158edc;
		&:hover{
			border:none;
			padding-bottom:1px;
		}
	}
}


/* ask-other */
.ask-other{
	margin-top: 70px;
	height: 87px - 18px;
	background: #f8f8f8;
	border-bottom:1px solid #f1f1f1;
	position: relative;
	text-align: center;
	border-radius:0 0 5px 5px;
	padding: 18px 0 0 198px;
	&:before{
		content:"";
		position: absolute;
		width: 137px;
		height: 146px;
		background: url(../img/girl.png);
		bottom: 0;
		left: 26px;
	}
}
.ask-other__title{
	font-size: 16px;
	font-weight: bold;
	color: #ff8f19;
	margin: 0 20px 10px 0;
}

/* subscribe */
.subscribe{
	border:2px solid #21aee6;
	border-radius:5px;
	background: #fff;
	padding: 18px 20px 22px;
	margin-bottom: 20px;
	.label{
		display: block;
		margin-bottom: 5px;
	}
	.input{
		width: 176px;
		height: 36px;
		line-height: 36px;
		margin-bottom: 5px;
		border:0;
		box-shadow:0 1px 3px rgba(0,0,0,.5) inset;
	}
	.btn{
		height: 35px;
		line-height: 35px;
		font-size: 14px;
		width: 194px;
	}
}
.subscribe__title{
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 13px;
}

/* need-help */
.need-help{
	border:2px solid #21aee6;
	border-radius:5px;
	background: #fff;
	padding: 12px 20px 16px;
	margin-bottom: 20px;
	a{
		color: #017ecb;
		font-size: 11px;
	}
	p{
		margin-bottom: 8px;
	}
}
.need-help__title{
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 9px;
}
.need-help__sub-title{
	font-size: 14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 5px;
}
.need-help__phone{
	line-height: 18px;
	dt{
		float: left;
		clear: left;
		font-size: 14px;
		font-weight: bold;
		width: 110px;
	}
	dd{
		margin-bottom: 13px;
		text-align: right;
	}
}

/* how-it-works */
.how-it-works{
	border-radius:5px;
	background: #fff;
	padding: 16px 20px 16px;
	margin-bottom: 18px;
	border: 1px solid #E3E3E3;
	@include clr;
}
.how-it-works__hold{
	float: left;
	padding: 23px 0 0 42px;
	background: url(../img/bg-steps.jpg) no-repeat 2px 0;
}
.how-it-works__title{
	color: #3d3d3d;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 25px;
}

.our-company{
	float: left;
	width: 160px;
	padding-top: 3px;
}
.our-company__logo{
	@include sized-sprite($icons, "logo2");
	display: block;
	font-size: 0;
	color: transparent;
	margin-bottom: 23px;
	a{
		display: block;
		height: 100%;
	}
}
.our-company__sub-title{
	font-size: 12px;
	margin-bottom: 6px;
}
.our-company__menu{
	list-style: none;
	margin-bottom: 22px;
	li{
		margin-bottom: 9px;
	}
	a{
		color: #0078c6;
	}
}

/* social-gray */
.social-gray{
	list-style:none;
	margin-bottom:12px;
	overflow: hidden;
	li{
		float: left;
		margin-right:8px;
	}
	a{
		display: block;
		overflow: hidden;
		text-indent:-9999px;
	}
}
.social-gray__rss{@include sized-sprite($icons, icon_rss_gray);}
.social-gray__tw{@include sized-sprite($icons, icon_twitter_gray);}
.social-gray__fb{@include sized-sprite($icons, icon_facebook_gray);}
.social-gray__vk{@include sized-sprite($icons, icon_vkontakte_gray);}

.steps{
	@include clr;
}
.steps__item{
	float: left;
	width: 220px;
	margin-left: 37px;
	&:first-child{
		margin-left: 0;
	}
	p{
		margin-bottom: 20px;
	}
	a{
		color: #0078c6;
	}
}
.steps__link{
	margin-top: 7px;
	display: block;
}
.steps__phone{
	display: block;
	font-size: 18px;
}
.steps__title{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 17px;
}
.steps__title_1{
	color: #2f8b1d;
}
.steps__title_2{
	color: #cb6900;
}
.steps__title_3{
	color: #088498;
}

.serv-master{
	clear: both;
	padding: 30px 0 20px 225px;
	border-top:1px solid #efeff1;
	position: relative;
	margin: 0 -20px;
	min-height: 51px;
	p{
		opacity: 0.7;
		font-size: 14px;
		color: #000;
	}
	a{text-decoration: none;}
}
.serv-master__logo{
	@include sized-sprite($icons, "logo-master");
	position: absolute;
	font-size: 0;
	left: 156px;
	top: 21px;
	color: transparent;
}
.serv-master__title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 2px;
	color: #000;
}
/* goods-tabs */
.goods-tabs{
	margin-bottom:15px;
	.tabs{
		.tabs__nav1{width:248px;}
		.tabs__nav2{width:247px;}
		.tabs__nav3{width:248px;}
	}
}
.goods-tabs_4{
	.tabs{
		.tabs__nav1{width:194px;}
		.tabs__nav2{width:186px;}
		.tabs__nav3{width:185px;}
		.tabs__nav4{width:186px;}
	}
}
.icon-qu{
	@include sized-sprite($icons, "question");
	position: absolute;
	top:0;
	left:-17px;
}
.discount-set, .goods{
	position: relative;
	.caro-prev, .caro-next{
		top:75px;
		z-index:5;
	}
	.caro-prev{left:7px;}
	.caro-next{right:7px;}
	.caro-prev.disabled, .caro-next.disabled{
		opacity: 0.4;
		cursor:default;
	}
}

/* discount-set */
.discount-set{
	.caro{
		height:214px;
		margin:0 48px;
		width:629px;
	}
	.discount-set__item{
		overflow: hidden;
		height:208px;
		padding:6px 0 0;
	}
	.discount-set__pr{
		float: left;
		margin:0 0 0 48px;
		width:103px;
	}
	.discount-set__img{
		margin-bottom:6px;
		line-height:101px;
		background:#7fbbe2;
		padding:1px;
		height:101px;
		position: relative;
		img{
			vertical-align:middle;
			max-width:101px;
			max-height:101px;
		}
	}
	.discount-set__price{
		background:#ffbb16;
		border-radius:3px;
		font-size:12px;
		text-align: center;
		margin-top:27px;
		padding:2px 0;
		strong{
			font-weight:normal;
			font-size:14px;
		}
		span{
			display: block;
			background:#fff;
			border-radius:0 0 3px 3px;
			color:#a3a3a3;
			border:1px solid #a3a3a3;
			border-top:0;
			margin:2px 0 -2px;
			padding:2px 0;
			text-decoration:line-through;
		}
	}
	.discount-set__plus{
		float: left;
		@include sized-sprite($icons, "plus");
		margin: 66px 0 0 40px;
	}
	.discount-set__disc{
		position: absolute;
		background:#3ac7f6;
		@include background-image(linear-gradient(left,#3ac7f6, #b1ebff 5%, #6cd8f5 10%, #3bc9ef 23%, #3bc9ef));
		height:20px;
		line-height:20px;
		width:66px;
		text-align: center;
		color:#fff;
		border-radius:0 10px 10px 0;
		box-shadow:0 1px 1px 0 rgba(0,0,0,0.4);
		text-shadow:#008ddd 0 -1px 0;
		font-weight:bold;
		top:3px;
		left:-1px;
	}
	.discount-set__name{
		text-align: center;
		font-size:11px;
		margin-bottom:-18px;
	}
	.discount-set__equal{
		float: left;
		margin: 72px 0 0 43px;
		@include sized-sprite($icons, "equal");
	}
	.discount-set__sum{
		float: left;
		margin:32px 0 0 44px;
		width:131px;
		.btn{
			display: block;
			height: 30px;
			line-height: 30px;
			margin-bottom:7px;
			text-align:center;
		}
	}
	.discount-set__cost{
		font-weight:bold;
		color:#ffbb16;
		font-size:14px;
		display: block;
		margin-bottom:13px;
		text-align: center;
		span{
			font-size:30px;
		}
	}
	.discount-set__credit{
		position: relative;
		font-size:11px;
		text-decoration:none;
		border-bottom:1px dotted #0078c6;
		margin-left:17px;
		&:hover{border:none;}
	}
}


/* goods */
.goods{
	.caro{
		height:214px;
		margin:0 13px;
		width:699px;
	}
	.goods__items{
		float:left;
		padding:14px 0 19px;
	}
	.goods__item{
		float:left;
		width:120px;
		padding:0 27px;
		border-left:1px solid #e3e3e3;
		&:first-child{border:none;}
	}
	.goods__img{
		text-align: center;
		height:120px;
		line-height:120px;
		margin-bottom:6px;
		img{
			vertical-align:middle;
			max-height:120px;
			max-width:120px;
		}
	}
	.goods__title{
		text-align: center;
		font-weight: bold;
		font-size:11px;
		margin-bottom:9px;
	}
	.price-block{
		line-height:20px;
		width:auto;
		strong{
			height:20px;
			width:78px;
			font-size:12px;
		}
		span{
			height:20px;
			width:42px;
			font-size:10px;
		}
	}
}


/* gds */
.gds{
	position: relative;
	.caro-prev, .caro-next{
		top:50%;
		margin-top:-30px;
	}
	.caro-prev{left:0;}
	.caro-next{right:0;}
	.caro{
		height:543px;
		margin:0 28px;
		width:630px;
	}
	.gds__items{
		width:630px;
		height:543px;
	}
	.gds__item{
		display:inline-block;
		vertical-align:top;
		width:150px;
		margin-bottom:39px;
		padding:0 3px 0 2px;
	}
	.gds__img{
		text-align: center;
		height:150px;
		line-height:150px;
		img{vertical-align: middle;}
	}
	h3{
		text-align: center;
		font-size:11px;
		font-weight:normal;
		margin-bottom:11px;
		line-height:14px;
	}
	.gds__price{
		height:26px;
		line-height:26px;
		width:106px;
		margin:0 auto 6px;
		text-align: center;
		border-radius:3px;
		background:#ffbb16;
		font-size:15px;
		span{
			font-size:11px;
			margin-left:3px;
		}
	}
	.btn{
		width:126px;
		padding:0;
		text-align: center;
		width:104px;
		margin:0 auto;
		display:block;
		height:23px;
		line-height:23px;
	}
}


/* ask-questions */
.ask-questions{
	.ask-qu{
		color:#3c3c3c;
		border-bottom:1px solid #cacaca;
		margin-bottom:13px;
		padding-bottom:21px;
	}
	.ask-qu__name{
		font-size:14px;
		font-weight:bold;
		color:#000;
	}
	.ask-qu__text{
		font-size:14px;
		margin-bottom:4px;
	}
	.review__date{
		font-size:11px;
		color:#93939e;
		margin-bottom:11px;
		display: block;
	}
	.answer{
		margin-top:22px;
		padding-left:25px;
	}
	.answer__name{
		font-size:12px;
		font-weight:bold;
		color:#158edc;
	}
	.answer__text{
		font-size:11px;
		line-height:1.35;
		margin-bottom:4px;
	}
	.answer__date{
		color:#93939e;
		font-size:11px;
		display: block;
	}
}


/* review__form */
.review__form{
	margin-top:-4px;
	padding-left:1px;
	position: relative;
	h3{
		color:#000 !important;
		font-size:18px !important;
		font-weight:normal;
		margin-bottom:9px;
	}
	.row-textarea{
		margin-bottom:19px;
		position: relative;
	}
	textarea{
		border-radius:2px;
		color:#3c3c3c;
		font-size:12px;
		font-style:italic;
		border:1px solid #c9c9c9;
		padding:9px 9px;
		height:55px;
		width:663px;
	}
	.row{
		margin-bottom:19px;
		.col{
			display: inline-block;
			margin-right:24px;
			position: relative;
		}
		input{
			border:1px solid #c9c9c9;
			padding:0 9px;
			width:225px;
			height:27px;
			border-radius:2px;
			color:#3c3c3c;
			font-size:12px;
			font-style:italic;
		}
	}
	.review__opinion{
		position: absolute;
		right:0;
		top:27px;
	}
	.error{
		position: absolute;
		bottom:-16px;
		left:1px;
		color:#ff4200;
	}
}
/* page-nav */
.page-nav{
	overflow: hidden;
	ul{
		list-style:none;
		font-size:12px;
		border-right:1px solid #ebebeb;
		float:left;
		padding-right:3px;
		margin-right:14px;
	}
	li{
		float:left;
		color:#000;
		margin-right: 13px;
	}
}
.page-nav_topright{
	border: none;
	float: right;
	text-align: right;
	padding: 6px 14px 0 0;
}
.page-nav_category{
	border-top:1px solid #ebebeb;
	padding:22px 0 26px;
}
/* reviews */
.reviews{
	.review{
		color:#3c3c3c;
		border-bottom:1px solid #cacaca;
		margin-bottom:13px;
		padding-bottom:16px;
		padding-right:125px;
		position:relative;
		min-height:79px;
		.review__opinion{
			position: absolute;
			right:0;
			top:0;
		}
	}
	.review__name{
		font-size:12px;
		font-weight:bold;
		color:#000;
		display: block;
		margin-bottom:2px;
	}
	.review__text{
		font-size:14px;
		margin-bottom:4px;
	}
	.review__date{
		font-size:11px;
		color:#93939e;
		margin-bottom:2px;
		display: block;
	}
	.review__opinion{
		font-size:11px;
		width:100px;
		strong{font-weight:normal;}
		span{color:#7c7c7c;}
		.stars{margin-bottom:7px;}
		.star{
			display:inline-block;
			@include sized-sprite($icons, "star-gray-2");
			&.chosen{@include sized-sprite($icons, "star-2");}
		}
	}
	.review__useful{
		padding:2px 0 0;
		span{
			font-size:11px;
			color:#7c7c7c;
			margin-right:5px;
		}
		.btn{
			height:20px;
			line-height:20px;
			padding:0 3px;
			margin-right:1px;
		}
	}
	.page-nav{
		padding:7px 0 22px;
		border-bottom:1px solid #cacaca;
		margin-bottom: 12px;
	}
}