@import "base";

.ico-scales{
	@include sized-sprite($icons, "ico-scales");
	position:absolute;
	left:-25px;
	top:1px;
}
.ico-heart{
	@include sized-sprite($icons, "ico-heart");
	position:absolute;
	left:-23px;
	top:2px;
}

.bc-social{
	display:inline-block;
	padding:3px 0 11px;
	width:100%;
	.bc{
		float:left;
		list-style-type:none;
		overflow:hidden;
		li{
			float:left;
			color:#000;
			font-size:12px;
			a{
				color:#0078c6;
			}
			&:before{
				content:"-";
				padding:0 6px;
			}
			&:first-child:before{
				content:"";
				padding:0;
			}
		}
	}
	.social{float:right;}
}



/* compare */
.compare{
	margin-bottom:23px;
	h3{
		color:#000;
		font-size:18px;
		font-weight:normal;
		border-bottom:1px solid #d8d8d8;
		box-shadow:0 1px 0 0 #fff;
		padding-bottom:4px;
	}
	.compare__count{
		padding:9px 0 8px 2px;
		display:block;
	}
	ul{margin-bottom:14px;}
	li{
		list-style:none;
		margin-bottom:5px;
	}
	.compare__cansel{
		display:inline-block;
		@include sized-sprite($icons, "delete-01");
		margin-left:4px;
		vertical-align:middle;
	}
	.clear{
		color:#158edc;
		font-size:11px;
		margin-left:10px;
	}
}

.adv{
	margin-bottom:18px;
	img{vertical-align:top;}
}


/* recommend */
.recommend{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:7px;
	padding:9px 13px;
	text-align:center;
	margin-bottom:20px;
	h3{
		font-size:18px;
		font-weight:normal;
		color:#000;
	}
	.recommend__item{
		border-bottom:1px solid #e3e3e3;
		padding:35px 0 0;
		margin-bottom:20px;
		h4{
			font-size:14px;
			font-weight:normal;
			margin-bottom:19px;
			a{color:#158edc;}
		}
		.price-block{
			margin:0 auto 20px;
			float:none;
			overflow:hidden;
			strong{
				font-weight:16px;
				i{font-size:12px;}
			}
		}
		&:last-child{border:none;}
		.more{
			font-size:11px;
			color:#158edc;
		}
	}
	.recommend__img{
		margin-bottom:17px;
		img{vertical-align:top;}
	}
}


/* product */
.product-block{
	background:#fff;
	border:1px solid #e3e3e3;
	border-radius:5px;
	margin:4px 0 11px;
	.product{}
	.product-tabs{}
}
.product{
	padding:24px 0 0;
	margin:0 0 24px;
	.product__media{
		width:354px;
		padding:2px 0 0 21px;
		float:left;
	}
	.product__img{
		position:relative;
		display:block;
		margin:0 11px 31px 0;
		height:289px;
		text-align:center;
		img{
			vertical-align:top;
			max-height:289px;
		}
		&:hover .product__zoom{opacity:0.7;}
	}
	.product__zoom{
		@include sized-sprite($icons, "zoom");
		position:absolute;
		bottom:2px;
		right:2px;
	}

	.preview{
		position:relative;
		width:340px;
		.caro{
			height:70px;
			margin:0 17px;
			width:304px;
		}
		.slides{}
		.preview__items{}
		.preview__item{
			float:left;
			height:66px;
			width:66px;
			border:1px solid #e3e3e3;
			padding:1px;
			overflow:hidden;
			margin-right:8px;
			text-align:center;
			background:#fff;
			line-height:68px;
			a{
				display:block;
				height:100%;
			}
			img{vertical-align:middle;}
			&.active, &:hover{
				border:2px solid #ffbb16;
				padding:0;
			}
		}
	}
	.caro-prev-l, .caro-next-l{
		position: absolute;
		top:20px;
		cursor:pointer;
		&.disabled{
			opacity:0.4;
			cursor:default;
		}
	}
	.caro-prev-l{
		@include sized-sprite($icons, "arr-3");
		left:0;
	}
	.caro-next-l{
		@include sized-sprite($icons, "arr-4");
		right:0;
	}

	.product__info{
		float:right;
		width:322px;
		padding:0 15px 19px 0;
	}
	h1{
		color:#585967;
		font-size:18px;
		font-weight:normal;
		margin:0 0 11px;
	}
	.product__code{
		font-size:12px;
		margin-bottom:12px;
		.in-stock{
			color:#0078c6;
			display:inline-block;
			border-left:1px solid #e3e3e3;
			padding-left:8px;
			margin-left:5px;
		}
	}
	.product__color{
		display:inline-block;
		margin:0 0 14px;
		dl{float:left}
		dt{
			float:left;
			margin:6px 10px 0 0;
		}
		dd{
			float:left;
			a{
				padding:5px;
				border:1px solid transparent;
				border-radius:2px;
				float:left;
				margin-right:1px;
				span{
					@include sized-sprite($icons, "bg-color");
					border-radius:2px;
					box-shadow:0 1px 0 0 rgba(255,255,255,0.5) inset;
					border:1px solid #fff;
					display:block;
				}
				&:hover{
					background:#ececec;
					border-color:#dbdbdb;
				}
			}
		}
		.product__color-all{
			float:left;
			margin:6px 0 0 15px;
			border-bottom:1px dotted #0078c6;
			text-decoration:none;
			&:hover{border:none;}
		}
	}
	.product__btns{
		margin-bottom:9px;
		.price-block{
			width:161px;
			margin-right:13px;
			strong{
				font-size:18px;
				width:102px;
				i{font-size:14px;}
			}
			span{
				font-size:12px;
				width:59px;
			}
		}
	}
	.product__links{
		display:inline-block;
		margin-bottom:11px;
		.product__links-col{
			float: left;
			width:148px;
		}
		a{
			border-bottom:1px dotted #158edc;
			text-decoration:none;
			float:left;
			clear:left;
			position:relative;
			margin:0 0 6px 25px;
			font-size:11px;
			&:hover{
				border:none;
				padding-bottom:1px;
			}
		}
	}
	.product__text{
		font-size:11px;
		color:#555;
		margin-bottom:17px;
	}
	.product__gd{
		display:inline-block;
		.product__gd-col1, .product__gd-col2{
			float:left;
			width:168px;
			margin-right:6px;
		}
		.product__gd-col2{width:142px;}
		h3{
			font-size:14px;
			margin-bottom:4px;
		}
		ul{
			list-style:none;
			font-size:11px;
		}
		li{
			background:url(../img/bullet.png) no-repeat 4px 4px;
			padding:0 0 0 10px;
			margin-bottom:4px;
		}
		a{font-size:11px;}
	}
	.product__social{margin-left:20px;}
}
.product__rating{
	margin-bottom:14px;
}
.stars{display:inline-block;
	.star{
		display:inline-block;
		@include sized-sprite($icons, "star-gray-2");
	}
	.chosen{@include sized-sprite($icons, "star-2");}
}
.rating-count{
	font-size:11px;
	text-decoration:underline;
	margin-left:9px;
}
.btn_buy{
	height:30px;
	line-height:30px;
	font-size:14px;
	padding:0;
	text-align:center;
	width:140px;
}


/* product-tabs */
.product-tabs{
	.tabs{
		font-size:11px;
		margin:0 -1px;
		.tabs__nav1{width:80px;}
		.tabs__nav2{width:117px;}
		.tabs__nav3{width:141px;}
		.tabs__nav4{width:96px;}
		.tabs__nav5{width:97px;}
		.tabs__nav6{width:137px;}
		.tabs__nav7{width:107px;}
		.tabs__nav{
			height:32px;
			li a{
				height:31px;
				line-height:31px;
			}
			li.active a{height:33px;}
		}
	}
	.tabs__info{
		font-size:12px;
		padding: 28px 20px 22px;
		border:0;
		background:none;
		color:#3d3d3d;
		h2{
			font-size:14px;
			color:#3d3d3d;
			margin-bottom: 15px;
		}
		h3{
			font-size:12px;
			color:#3d3d3d;
		}
		p{margin-bottom: 12px;}
	}
	.add-tab{
		list-style-type: none;
		overflow: hidden;
		font-size:13px;
		height:23px;
		margin-bottom:10px;
		li{
			float: left;
			background:none!important;
			padding:0!important;
			margin:0 11px 0 0!important;
			a{
				text-decoration:none;
				border-bottom:1px dotted #158edc;
				display: block;
				&:hover{
					border:none;
				}
				margin:3px 0;

			}
		}
		.active{
			a{
				background:#158edc;
				color:#fff;
				border-radius:3px;
				text-decoration:none;
				border:none;
				padding:3px 10px;
				margin:0;
			}
		}
	}
	.tab__box_features{
		h2{margin-left:-5px;}
		ul{
			list-style:none;
			margin-bottom:21px;
			li{
				background:url(../img/bullet-2.png) no-repeat 7px 6px;
				padding-left:17px;
				line-height:14px;
				margin-bottom:10px;
			}
		}
		.warranty{
			color:#158edc;
			font-weight:bold;
		}
	}
	.t-features{
		margin:0 -19px 18px;
		font-size:12px;
		border-collapse:separate;
		border-spacing:0;
		color:#3d3d3d;
		th{
			text-align:left;
			vertical-align:top;
			width:201px;
			padding:5px 0 5px 25px;
		}
		td{
			padding:5px 20px 5px 0;
			vertical-align:top;
		}
		tr:nth-child(odd){
			td{background:#f4f5f5;}
			th{background:#f4f5f5;}
		}
	}

	.tabs__box_guarant{
		h2{
			font-size:18px;
			font-weight:bold;
		}
		h3{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 5px;
		}
		ul{
			list-style: none;
			margin-bottom:17px;
		}
		li{
			background: url("../img/bullet.png") no-repeat 2px 6px;
			margin-bottom: 4px;
			padding: 0 0 0 12px;
		}
		.q-and-a{
			margin-bottom:14px;
		}
		.question{
			border-bottom:1px dotted #0078c6;
			text-decoration:none;

			&:hover{
				border:none;
				padding-bottom:1px;
			}
		}
		.answer{
			display:none;
			margin-top:3px;
		}
	}
}


/* block-error-message */
.block-error-message{
	background:#ececec;
	border:1px solid #e3e3e3;
	border-radius:7px;
	font-size:11px;
	padding: 10px 20px;
	margin-bottom:14px;
	a{
		color:#158edc;
		text-decoration:none;
		border-bottom:1px dotted #158edc;
		&:hover{
			border:none;
			padding-bottom:1px;
		}
	}
}


/* goods-tabs */
.goods-tabs{
	margin-bottom:15px;
	.tabs{
		.tabs__nav1{width:248px;}
		.tabs__nav2{width:247px;}
		.tabs__nav3{width:248px;}
	}
}
.goods-tabs_4{
	.tabs{
		.tabs__nav1{width:194px;}
		.tabs__nav2{width:186px;}
		.tabs__nav3{width:185px;}
		.tabs__nav4{width:186px;}
	}
}
.icon-qu{
	@include sized-sprite($icons, "question");
	position: absolute;
	top:0;
	left:-17px;
}
.discount-set, .goods{
	position: relative;
	.caro-prev, .caro-next{
		top:75px;
		z-index:5;
	}
	.caro-prev{left:7px;}
	.caro-next{right:7px;}
	.caro-prev.disabled, .caro-next.disabled{
		opacity: 0.4;
		cursor:default;
	}
}

/* discount-set */
.discount-set{
	.caro{
		height:214px;
		margin:0 48px;
		width:629px;
	}
	.discount-set__item{
		overflow: hidden;
		height:208px;
		padding:6px 0 0;
	}
	.discount-set__pr{
		float: left;
		margin:0 0 0 48px;
		width:103px;
	}
	.discount-set__img{
		margin-bottom:6px;
		line-height:101px;
		background:#7fbbe2;
		padding:1px;
		height:101px;
		position: relative;
		img{
			vertical-align:middle;
			max-width:101px;
			max-height:101px;
		}
	}
	.discount-set__price{
		background:#ffbb16;
		border-radius:3px;
		font-size:12px;
		text-align: center;
		margin-top:27px;
		padding:2px 0;
		strong{
			font-weight:normal;
			font-size:14px;
		}
		span{
			display: block;
			background:#fff;
			border-radius:0 0 3px 3px;
			color:#a3a3a3;
			border:1px solid #a3a3a3;
			border-top:0;
			margin:2px 0 -2px;
			padding:2px 0;
			text-decoration:line-through;
		}
	}
	.discount-set__plus{
		float: left;
		@include sized-sprite($icons, "plus");
		margin: 66px 0 0 40px;
	}
	.discount-set__disc{
		position: absolute;
		background:#3ac7f6;
		@include background-image(linear-gradient(left,#3ac7f6, #b1ebff 5%, #6cd8f5 10%, #3bc9ef 23%, #3bc9ef));
		height:20px;
		line-height:20px;
		width:66px;
		text-align: center;
		color:#fff;
		border-radius:0 10px 10px 0;
		box-shadow:0 1px 1px 0 rgba(0,0,0,0.4);
		text-shadow:#008ddd 0 -1px 0;
		font-weight:bold;
		top:3px;
		left:-1px;
	}
	.discount-set__name{
		text-align: center;
		font-size:11px;
		margin-bottom:-18px;
	}
	.discount-set__equal{
		float: left;
		margin: 72px 0 0 43px;
		@include sized-sprite($icons, "equal");
	}
	.discount-set__sum{
		float: left;
		margin:32px 0 0 44px;
		width:131px;
		.btn{
			display: block;
			height: 30px;
			line-height: 30px;
			margin-bottom:7px;
			text-align:center;
		}
	}
	.discount-set__cost{
		font-weight:bold;
		color:#ffbb16;
		font-size:14px;
		display: block;
		margin-bottom:13px;
		text-align: center;
		span{
			font-size:30px;
		}
	}
	.discount-set__credit{
		position: relative;
		font-size:11px;
		text-decoration:none;
		border-bottom:1px dotted #0078c6;
		margin-left:17px;
		&:hover{border:none;}
	}
}


/* goods */
.goods{
	.caro{
		height:214px;
		margin:0 13px;
		width:699px;
	}
	.goods__items{
		float:left;
		padding:14px 0 19px;
	}
	.goods__item{
		float:left;
		width:120px;
		padding:0 27px;
		border-left:1px solid #e3e3e3;
		&:first-child{border:none;}
	}
	.goods__img{
		text-align: center;
		height:120px;
		line-height:120px;
		margin-bottom:6px;
		img{
			vertical-align:middle;
			max-height:120px;
			max-width:120px;
		}
	}
	.goods__title{
		text-align: center;
		font-weight: bold;
		font-size:11px;
		margin-bottom:9px;
	}
	.price-block{
		line-height:20px;
		width:auto;
		strong{
			height:20px;
			width:78px;
			font-size:12px;
		}
		span{
			height:20px;
			width:42px;
			font-size:10px;
		}
	}
}


/* gds */
.gds{
	position: relative;
	.caro-prev, .caro-next{
		top:50%;
		margin-top:-30px;
	}
	.caro-prev{left:0;}
	.caro-next{right:0;}
	.caro-prev.disabled, .caro-next.disabled{
		opacity:0.4;
		cursor:default;
	}
	.caro{
		height:543px;
		margin:0 28px;
		width:630px;
	}
	.gds__items{
		width:630px;
		height:543px;
	}
	.gds__item{
		display:inline-block;
		vertical-align:top;
		width:150px;
		margin-bottom:39px;
		padding:0 3px 0 2px;
	}
	.gds__img{
		text-align: center;
		height:150px;
		line-height:150px;
		img{vertical-align: middle;}
	}
	h3{
		text-align: center;
		font-size:11px;
		font-weight:normal;
		margin-bottom:11px;
		line-height:14px;
	}
	.gds__price{
		height:26px;
		line-height:26px;
		width:106px;
		margin:0 auto 6px;
		text-align: center;
		border-radius:3px;
		background:#ffbb16;
		font-size:15px;
		span{
			font-size:11px;
			margin-left:3px;
		}
	}
	.btn{
		width:126px;
		padding:0;
		text-align: center;
		width:104px;
		margin:0 auto;
		display:block;
		height:23px;
		line-height:23px;
	}
}


/* ask-questions */
.ask-questions{
	.ask-qu{
		color:#3c3c3c;
		border-bottom:1px solid #cacaca;
		margin-bottom:13px;
		padding-bottom:21px;
	}
	.ask-qu__name{
		font-size:14px;
		font-weight:bold;
		color:#000;
	}
	.ask-qu__text{
		font-size:14px;
		margin-bottom:4px;
	}
	.review__date{
		font-size:11px;
		color:#93939e;
		margin-bottom:11px;
		display: block;
	}
	.answer{
		margin-top:22px;
		padding-left:25px;
	}
	.answer__name{
		font-size:12px;
		font-weight:bold;
		color:#158edc;
	}
	.answer__text{
		font-size:11px;
		line-height:1.35;
		margin-bottom:4px;
	}
	.answer__date{
		color:#93939e;
		font-size:11px;
		display: block;
	}
}


/* review__form */
.review__form{
	margin-top:-4px;
	padding-left:1px;
	position: relative;
	h3{
		color:#000 !important;
		font-size:18px !important;
		font-weight:normal;
		margin-bottom:9px;
	}
	.row-textarea{
		margin-bottom:19px;
		position: relative;
	}
	textarea{
		border-radius:2px;
		color:#3c3c3c;
		font-size:12px;
		font-style:italic;
		border:1px solid #c9c9c9;
		padding:9px 9px;
		height:55px;
		width:663px;
	}
	.row{
		margin-bottom:19px;
		.col{
			display: inline-block;
			margin-right:24px;
			position: relative;
		}
		input{
			border:1px solid #c9c9c9;
			padding:0 9px;
			width:225px;
			height:27px;
			border-radius:2px;
			color:#3c3c3c;
			font-size:12px;
			font-style:italic;
		}
	}
	.review__opinion{
		position: absolute;
		right:0;
		top:27px;
	}
	.error{
		position: absolute;
		bottom:-16px;
		left:1px;
		color:#ff4200;
	}
}
/* page-nav */
.page-nav{
	overflow: hidden;
	ul{
		list-style:none;
		font-size:12px;
		border-right:1px solid #ebebeb;
		float:left;
		padding-right:3px;
		margin-right:14px;
	}
	li{
		float:left;
		color:#000;
		margin-right: 13px;
	}
}
.page-nav_topright{
	border: none;
	float: right;
	text-align: right;
	padding: 6px 14px 0 0;
}
.page-nav_category{
	border-top:1px solid #ebebeb;
	padding:22px 0 26px;
}
/* reviews */
.reviews{
	.review{
		color:#3c3c3c;
		border-bottom:1px solid #cacaca;
		margin-bottom:13px;
		padding-bottom:16px;
		padding-right:125px;
		position:relative;
		min-height:79px;
		.review__opinion{
			position: absolute;
			right:0;
			top:0;
		}
	}
	.review__name{
		font-size:12px;
		font-weight:bold;
		color:#000;
		display: block;
		margin-bottom:2px;
	}
	.review__text{
		font-size:14px;
		margin-bottom:4px;
	}
	.review__date{
		font-size:11px;
		color:#93939e;
		margin-bottom:2px;
		display: block;
	}
	.review__opinion{
		font-size:11px;
		width:100px;
		strong{font-weight:normal;}
		span{color:#7c7c7c;}
		.stars{margin-bottom:7px;}
		.star{
			display:inline-block;
			@include sized-sprite($icons, "star-gray-2");
			&.chosen{@include sized-sprite($icons, "star-2");}
		}
	}
	.review__useful{
		padding:2px 0 0;
		span{
			font-size:11px;
			color:#7c7c7c;
			margin-right:5px;
		}
		.btn{
			height:20px;
			line-height:20px;
			padding:0 3px;
			margin-right:1px;
		}
	}
	.page-nav{
		padding:7px 0 22px;
		border-bottom:1px solid #cacaca;
		margin-bottom: 12px;
	}
}