@import "base";

/* default layout - EXAMPLE FOR NOW */
.l{
	display:inline-block;
	width:100%;
	.l-col3-l{
		float:left;
		width:727px;
	}
	.l-col1-r{
		float:right;
		width:240px;
	}
	.l-col3-r{
		float:right;
		width:727px;
	}
	.l-col1-l{
		float:left;
		width:240px;
	}
}