@import "base";
.header_order{
	background: none;
	.header__col1 {
		float: right;
		padding: 32px 40px 0 0;
	}
	.header__info{
		.header__phone{
			color:#22a9e5;
			font-size:23px;
			margin-top:-5px;
		}
		.header__callback{margin-top:1px;}
	}
}

.bc{
	.actual{font-weight:bold;}
}

.delivery{
	float: left;
	width:444px;
	padding:22px 30px 87px 36px;
	background:#fff;
	border-radius:5px;
	border:1px solid #e3e3e3;
	min-height:326px;
	position: relative;
	h1{
		font-size:24px;
		color:#494949;
	}
	p{
		color: #494949;
		font-size:12px;
		font-weight:bold;
	}
	form{margin-top: 19px;}
	.row{
		display: inline-block;
		width:100%;
		margin-bottom: 8px;
		label{
			font-size:14px;
			color:#000;
			float: left;
			width:195px;
			margin-top: 6px;
		}
		span{
			display: block;
			font-size:11px;
			color:#707070;
			clear: both;
		}
	}
	.input{
		float: left;
		width:238px;
		padding:4px;
		border:1px solid #e3e3e3;
		border-radius:3px;
		color:#7b7b7b;
		font-size:15px;
		line-height:17px;
		height:17px;
		font-style:normal;
	}
	.select{
		float: left;
		padding:4px;
		border:1px solid #e3e3e3;
		border-radius:3px;
		width:126px;
		position: relative;
		margin-bottom: 6px;
		div{
			color:#000;
			font-size:12px;
			line-height:17px;
		}
		select{
			position: absolute;
			top:0;
			left:0;
			width:134px;
			height:25px;
			opacity:0;
		}
		.select__btn{
			float: right;
			width:23px;
			height:23px;
			line-height:23px;
			padding:0;
			margin:-4px -4px -4px 0;
			text-align: center;
			box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
		}
		.select__arr{
			@include sized-sprite($icons, 'arr-13');
			display: inline-block;
		}
	}
	.input_212{width:204px;}
	.input_125{width:118px;}
	.input_69{width:61px;}
	.input_30{
		width:26px;
		padding:4px 2px;
		margin-right:3px;
	}
	.row_radio{
		margin-bottom:3px;
		position: relative;
		.radio{
			float: left;
			margin: 2px 7px 0 2px;
		}
		label{
			width:290px;
			margin:0;
		}
		.input{
			position: absolute;
			right:0;
			top:-4px;
		}
		span{
			margin-left:22px;
		}
	}
	.row-group{
		padding-top:15px;
		.row{
			label{
				margin-top:-2px;
			}
		}
	}
	.row_radio-group{
		padding:9px 0;
		.row{
			margin: -8px 0 14px 22px;
			label{width:175px;}
		}
		.row_radio{
			margin:0 0 12px;
			label{width:auto;}
		} 
	}
	.row_btn{
		padding:0 32px 0 165px;
		position: absolute;
		left:0;
		bottom:16px;
		height:71px;
	}
	.btn{
		font-size: 14px;
		height: 49px;
		line-height: 18px;
		margin-bottom:8px;
		padding-left: 27px;
		padding-right: 75px;
		position: relative;
		text-align: left;
		border-radius:4px;
		.btn__arr{
			@include sized-sprite($icons, 'btn-arr');
			position: absolute;
			display: block;
			right: 15px;
			top: 6px;
		}
	}
	.link-legal{
		margin-left:129px;
	}
}
.mark-blue{
	color:#22a9e5!important;
	display: inline;
	font-style:normal;
}

.terms{
	width:474px;
	float: right;
}
.terms__order, .terms__delivery{
	background:#f2f2f2;
	border:1px solid #e3e3e3;
	border-radius:5px;
	color:#000;
}
.terms__order{
	margin-bottom: 9px;
	padding: 7px 0;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	h2{
		font-size:18px;

	}
	strong{
		font-size:21px;
		color:#22a9e5;
		font-weight:normal;
	}
}
.terms__delivery{
	padding:12px 6px 0 12px;
	min-height:351px;
	h2{
		font-size:14px;
		color:#000;
		text-align: center;
		line-height: 1.1;
		margin:0 6px 8px 0;
	}
	h3{
		font-size:13px;
		margin-bottom:5px;
	}
	ul{
		list-style: none;
		font-size:11px;
		padding: 0 0 0 15px;
		margin-bottom:14px;
	}
	li{
		background:url(../img/bullet.png) no-repeat 0 4px;
		padding: 0 0 0 7px;
		margin-bottom:2px;
		span{
			display: block;
			margin: 6px 0 0 17px;
		}
		a{
			color:#22A9E5;
			text-decoration: none;
			border-bottom:1px dotted;
			&:hover{
				border-color:transparent;
			}
		}
	}
}

.order{
	margin:22px 0 30px;
	display: inline-block;
	width:100%;
	.order__holder{
		padding: 13px 15px 11px;
		background:#fff;
		border-radius:5px;
		border:1px solid #e3e3e3;
	}
	h2{
		font-size:18px;
		margin:0 15px 6px;
	}
	.ot{
		border-collapse: collapse;
		border-spacing: 0;
		width:968px;
		th{
			font-size:14px;
			font-weight:normal;
			padding-bottom:5px;
		}
		td{
			font-size:14px;
			border-top:1px solid #e3e3e3;
			text-align: center;
			height:60px;
		}
		.ot__col1{
			width:80px;
			padding-left:15px;
		}
		.ot__col2{
			text-align:left;
			width:430px;
			padding-left:25px;
		}
		.ot__col3{
			width:151px;
		}
		.ot__col4{
			padding-right:15px;
			width:252px;
		}
		.ot_col2_delivery{
			strong{
				font-weight:normal;
				font-size:18px;
				color:#3c3c3c;
				display: inline-block;
				margin-left: 260px;
			}
		}
		.ot__num{
			width:28px;
			height:20px;
			padding:5px 2px;
			font-size:18px;
			line-height:20px;
			border:1px solid #dbdbdb;
			box-shadow:0 0 0 1px #ececec inset, 0 0 0 2px #e3e3e3 inset;
			text-align: center;
			font-weight:normal;
			color:#6b6b6b;
		}
		.price-block{
			float: none;
			display: inline-block;
			width:130px;
			span{width:40px;}
			strong{
				font-weight:bold;
				font-size:16px;
				i{
					font-size:12px;
				}
			}
		}
		.price-block_delivery{
			strong{
				border-radius:3px;
				width:130px;
			}
		}
	}
}
.order__bcol1{
	float:left;
	margin-left:446px;
	padding-top:10px;
	strong{
		font-size:18px;
		color:#000;
		display: block;
		margin-bottom: 1px;
	}
	span{
		font-size:14px;
		color:#7b7b7b;
		display: block;
		margin-bottom:9px;
	}
	a{
		font-size:12px;
		color:#0078c6;
	}
	.loader{
		display: inline-block;
		@include sized-sprite($icons, 'loader');
		position: relative;
		top:3px;
		margin-right:4px;
	}
	.with-delivery{
		color:#000;
		margin-bottom:2px;
		em{font-weight:bold;}
	}
}
.order__bcol2{
	float:right;
	width:222px;
	.price-block{
		width:175px;
		float: none;
		overflow: hidden;
		margin-bottom:9px;
		border-radius:0;
		strong{
			width:110px;
			font-weight:bold;
			height:47px;
			line-height:47px;
			font-size:20px;
			border-radius:0 0 0 3px;
			i{
				font-size:14px;
			}
		}
		span{
			width:65px;
			height:47px;
			line-height:47px;
			border-radius:0 0 3px 0;
			font-size:14px;
		}
		
	}
	.promo-star{
		@include sized-sprite($icons, 'star-3');
		display: inline-block;
		margin-right:6px;
		position: relative;
		top:2px;
	}
	a{
		color:#0077cd;
		
	}
	.order__credit{
		font-weight:bold;
		margin-top:7px;
	}
}