@import "base";
.product-block .static{
	padding:30px 15px 40px 35px; 
	color: #494949;
	font-size: 12px;
	line-height: 16px;	
}
.four-priority{
	width: 240px;
	height: 211px;
	margin-bottom: 18px;
}
.breadcrumbs{
	margin-top: 20px;
}

.static{

	b{
		font-size: 12px;
		color: #494949;
		display: inline-block;
		margin: 10px 0;
	}
	h3{
		font: 18px Arial, sans-serif;
		color: #0078C6;
		padding:0;
		margin: 0px 0 20px;

		+ b{
			margin: 0 0 20px;
		}
	}	
	h4{
		font-size: 12px;
		color: #007CA4;
		display: inline-block;
		margin: 10px 0;
	}
	span h4{
		font-size: 12px;
		color: #007CA4;
		display: inline-block;
		margin: 0;		
	}
	p{
		margin: 15px 0;
	}	
	p span{
		color: #E47911;
		font-weight: bold;
	}
	ul{
		margin-left: 20px;
		margin-bottom: 15px;
		li{
			line-height: 20px;
		}
	}
	.conteiner__img{
		img{
			width: 600px;
			height: 420px;	
			margin: 0 40px;	
		}

	}
}

.wrap-easy-button{
	text-align: center;
	margin: 40px 0 20px;	
}
a.easy-button{
	background: #bc1212;
	background: -moz-linear-gradient(top,  #bc1212 0%, #ef2804 50%, #b51712 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc1212), color-stop(50%,#ef2804), color-stop(100%,#b51712));
	background: -webkit-linear-gradient(top,  #bc1212 0%,#ef2804 50%,#b51712 100%);
	background: -o-linear-gradient(top,  #bc1212 0%,#ef2804 50%,#b51712 100%);
	background: -ms-linear-gradient(top,  #bc1212 0%,#ef2804 50%,#b51712 100%);
	background: linear-gradient(to bottom,  #bc1212 0%,#ef2804 50%,#b51712 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc1212', endColorstr='#b51712',GradientType=0 );
	padding: 15px 10px;
	color: #fff;
 	text-decoration: none;	
 	border-radius: 8px;
 	border: 1px solid #B51712;
 	font-size: 16px;
 	font-weight: bold;
}